force-app/main/default/flows/AVO_Agricultural_Water_Withdrawal_Application_GIS_Application_Task_Completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Permit_To_LOC_Package</name>
        <label>Update Permit To LOC Package</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Related_Permit.MUSW__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LOC Package</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Permit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Alert_Exist</name>
        <label>Does Alert Exist?</label>
        <locationX>611</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Alert_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GIS_Application_Alert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Alerts_From_Permit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Related_Permit_Exist</name>
        <label>Does Related Permit Exist?</label>
        <locationX>858</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Related_Permit_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Permit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Alert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Withdrawal_LOC_Review_Exist</name>
        <label>Does Withdrawal LOC Review Exist?</label>
        <locationX>380</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Withdrawal_LOC_Review_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Withdrawal_LOC_Review</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Withdrawal_LOC_Review_Completed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Withdrawal_LOC_Review_Completed</name>
        <label>Is Withdrawal LOC Review Completed?</label>
        <locationX>182</locationX>
        <locationY>1175</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Withdrawal_LOC_Review_Is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Withdrawal_LOC_Review.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Permit_To_LOC_Package</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO Agricultural Water Withdrawal Application GIS Application Task Completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Agricultural Water Withdrawal Application GIS Application Task Completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Alerts_From_Permit</name>
        <label>Delete Alerts From Permit</label>
        <locationX>380</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Get_Withdrawal_LOC_Review</targetReference>
        </connector>
        <inputReference>GIS_Application_Alert</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Alert</name>
        <label>Get Alert</label>
        <locationX>611</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Alert_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Record_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Related_Permit.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Message__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete GIS Application Mapping Task First</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notice</stringValue>
            </value>
        </filters>
        <object>MUSW__Alert__c</object>
        <outputReference>GIS_Application_Alert</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Permit</name>
        <label>Get Related Permit</label>
        <locationX>858</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Related_Permit_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Water Withdrawal Application</stringValue>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <outputReference>Related_Permit</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Withdrawal_LOC_Review</name>
        <label>Get Withdrawal LOC Review</label>
        <locationX>380</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Withdrawal_LOC_Review_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Related_Permit.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Withdrawal LOC Review</stringValue>
            </value>
        </filters>
        <object>MUSW__Review__c</object>
        <outputReference>Related_Withdrawal_LOC_Review</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Permit</name>
        <label>Update Permit</label>
        <locationX>50</locationX>
        <locationY>1415</locationY>
        <inputReference>Related_Permit</inputReference>
    </recordUpdates>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Permit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GIS Application Mapping</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GIS_Application_Alert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Alert__c</objectType>
    </variables>
    <variables>
        <name>Related_Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Related_Withdrawal_LOC_Review</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Review__c</objectType>
    </variables>
</Flow>
