force-app/main/default/flows/AVO_Update_Latest_PermitID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>AVO_Custom_Error_on_Field</name>
        <label>AVO Custom Error on Field</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>No Records Found With AppId {!$Record.AVO_AppID__c}</errorMessage>
            <fieldSelection>AVO_RefPermitAppID__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Checking_Records</name>
        <label>Checking Records</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>AVO_Update_Latest_AppId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AVO_If_No_Records_are_Fetched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AVO_Get_Records_Of_AppID_Permit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AVO_Custom_Error_on_Field</targetReference>
            </connector>
            <label>AVO If No Records are Fetched</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO Update Latest PermitID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Update Latest PermitID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AVO_Get_Records_Of_AppID_Permit</name>
        <label>AVO Get Records Of AppID Permit</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_AppID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_AppID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AVO_Update_Latest_AppId</name>
        <label>AVO Update Latest AppId</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>AVO_RefPermitAppID__c</field>
            <value>
                <elementReference>AVO_Get_Records_Of_AppID_Permit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AVO_Get_Records_Of_AppID_Permit</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (2 AND 3)</filterLogic>
        <filters>
            <field>AVO_AppID__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_RefPermitAppID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_AppID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AVO_Compliance__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
