force-app/main/default/flows/AVO_Withdrawal_Application_Intake.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Stages_Assignment</name>
        <label>Stages Assignment</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Application_Header</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New {!Record_Type_Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_select_permit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stages_Assignment_for_Ground_Water</name>
        <label>Stages Assignment for Ground Water</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Application_Header</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New {!Record_Type_Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AVO_Subflow_Ground_Water_Withdrawal_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stages_Assignment_for_Surface_Water</name>
        <label>Stages Assignment for Surface Water</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Application_Header</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New {!Record_Type_Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AVO_Subflow_Surface_Water_Withdrawal_Application_Triggered_by_Success_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stages_Assignment_for_Well_to_Pond</name>
        <label>Stages Assignment for Well to Pond</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Application_Header</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New {!Record_Type_Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AVO_Subflow_Well_To_Pond_Withdrawal_Application_Triggered_by_Success_Flow_Flow</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Ground_Water_Withdrawal_Application_Record_Type_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ground_Water_Withdrawal_Application</stringValue>
        </value>
    </constants>
    <constants>
        <name>Surface_Water_Withdrawal_Application_Record_Type_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Surface_Water_Withdrawal_Application</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Evaluate_Record_Type</name>
        <label>Evaluate Record Type</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ground_Water_Withdrawal_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_select_permit.AVO_Permit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Groundwater</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recordtypes_By_Ground_Water</targetReference>
            </connector>
            <label>Ground Water Withdrawal Application</label>
        </rules>
        <rules>
            <name>Surface_Water_Withdrawal_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_select_permit.AVO_Permit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface Water</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recordtypes_By_Surface_Water</targetReference>
            </connector>
            <label>Surface Water Withdrawal Application</label>
        </rules>
        <rules>
            <name>Well_to_Pond_Withdrawal_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_select_permit.AVO_Permit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Well to Pond</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recordtypes_By_Well_to_Pond_For_Ground_Water</targetReference>
            </connector>
            <label>Well to Pond Withdrawal Application</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Applicant_Records</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Permit.MUSW__Applicant__r.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Permit.MUSW__Applicant__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Permit.MUSW__Applicant__r.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Permit.MUSW__Applicant__r.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>permit_Records</name>
        <collectionReference>Get_permit_Owned_by_Login_User</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>MUSW__Permit2__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Withdrawal_Record_Types</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ground_Water_Withdrawal_Application_Record_Type_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Surface_Water_Withdrawal_Application_Record_Type_Name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Record_Type_Developer_Name</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>AVO Withdrawal Application Intake {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Withdrawal Application Intake</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Withdrawal_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_permit_Owned_by_Login_User</name>
        <label>Get permit Owned by Login User</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permit_Record_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recordtypes_By_Ground_Water</name>
        <label>Get Recordtypes By Ground Water</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stages_Assignment_for_Ground_Water</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ground_Water_Withdrawal_Application_Record_Type_Name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Record_Type_Developer_Name</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Recordtypes_By_Surface_Water</name>
        <label>Get Recordtypes By Surface Water</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stages_Assignment_for_Surface_Water</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Surface_Water_Withdrawal_Application_Record_Type_Name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Record_Type_Developer_Name</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Recordtypes_By_Well_to_Pond_For_Ground_Water</name>
        <label>Get Recordtypes By Well to Pond For Ground Water</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stages_Assignment_for_Well_to_Pond</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ground_Water_Withdrawal_Application_Record_Type_Name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Record_Type_Developer_Name</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Recordtypes_By_Well_to_Pond_For_Surface_Water</name>
        <label>Get Recordtypes By Well to Pond For Surface Water</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AVO_Subflow_Well_to_Pond_by_Surface_Water_Triggered_by_Success_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Surface_Water_Withdrawal_Application_Record_Type_Name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Record_Type_Developer_Name</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_select_permit</name>
        <label>Get select permit</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stages_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_the_Permit</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Permit_Record_Selection</name>
        <label>Permit Record Selection</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_select_permit</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Withdrawal_Record_Type_Selection_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;Select Permit Application&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Permit Type Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Select the Permit type from the list below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_the_Permit</name>
            <choiceReferences>permit_Records</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Permit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Withdrawal_Application</name>
        <label>Withdrawal Application</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_permit_Owned_by_Login_User</targetReference>
        </connector>
        <fields>
            <name>Withdrawal_Application_Start_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;New Withdrawal Application&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;To get started, click &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Start New Application&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Start_Application_Button_Bar</name>
            <extensionName>clariti:flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <stringValue>no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiselect</name>
                <value>
                    <stringValue>no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Start New Application&quot;,&quot;value&quot;:&quot;Start New Application&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>clariti__Permit_Application_Intake</sourceTemplate>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AVO_Subflow_Ground_Water_Withdrawal_Application</name>
        <label>AVO Subflow Ground Water Withdrawal Application</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <flowName>AVO_Subflow_Ground_Water_Withdrawal_Application_Triggered_by_Success_Flow</flowName>
        <inputAssignments>
            <name>Permit</name>
            <value>
                <elementReference>Permit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Developer_Name</name>
            <value>
                <elementReference>Record_Type_Developer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Id</name>
            <value>
                <elementReference>Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>AVO_Subflow_Surface_Water_Withdrawal_Application_Triggered_by_Success_Flow</name>
        <label>AVO Subflow Surface Water Withdrawal Application - Triggered by Success Flow</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <flowName>AVO_Subflow_Surface_Water_Withdrawal_Application_Triggered_by_Success_Flow</flowName>
        <inputAssignments>
            <name>Permit</name>
            <value>
                <elementReference>Permit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Developer_Name</name>
            <value>
                <elementReference>Record_Type_Developer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Id</name>
            <value>
                <elementReference>Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>AVO_Subflow_Well_to_Pond_by_Surface_Water_Triggered_by_Success_Flow</name>
        <label>AVO Subflow Well to Pond by  Surface Water - Triggered by Success Flow</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <flowName>AVO_Subflow_Surface_Water_Withdrawal_Application_Triggered_by_Success_Flow</flowName>
        <inputAssignments>
            <name>Permit</name>
            <value>
                <elementReference>Permit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Developer_Name</name>
            <value>
                <elementReference>Record_Type_Developer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Id</name>
            <value>
                <elementReference>Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>AVO_Subflow_Well_To_Pond_Withdrawal_Application_Triggered_by_Success_Flow_Flow</name>
        <label>AVO Subflow Well To Pond Withdrawal Application - Triggered by Success Flow Flow</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Get_Recordtypes_By_Well_to_Pond_For_Surface_Water</targetReference>
        </connector>
        <flowName>AVO_Subflow_Well_To_Pond_Withdrawal_Application_Triggered_by_Success_Flow</flowName>
        <inputAssignments>
            <name>Permit</name>
            <value>
                <elementReference>Permit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Developer_Name</name>
            <value>
                <elementReference>Record_Type_Developer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Id</name>
            <value>
                <elementReference>Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Application_Header</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Withdrawals</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
</Flow>
