force-app/main/default/flows/AVO_New_Meter_Replacement_Installation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Old_Meter_Id</name>
        <label>Assign Old Meter Id</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Old_Meter_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>meterId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Meter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Permit_Fields</name>
        <label>Assign Permit Fields</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Permit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Application_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit.MUSW__Applicant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit.AVO_County_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Withdrawal_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Withdrawal.AVO_Withdrawal_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Application_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Maintenance_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type</name>
        <label>Assign Record Type</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Maintenance_Request.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Maintenance_Request_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Number</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Installed_Meters</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Meter_Assessment_Choice</name>
        <choiceText>Meter Assessment (Site Visit)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meter Assessment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Withdrawal_Choice</name>
        <choiceText>Withdrawal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Withdrawal</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Meter_Withdrawal_Exists</name>
        <label>Check Meter Withdrawal Exists</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Create_Maintenance_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meter_Withdrawal_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Meter_Withdrawal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permit</targetReference>
            </connector>
            <label>Meter Withdrawal Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_An_Existing_Replacement_Installation_on_the_Meter</name>
        <label>Is There An Existing Replacement Installation on the Meter?</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Old_Meter_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing Replacement Installation</defaultConnectorLabel>
        <rules>
            <name>Existing_Replacement_Installation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Meter_Replacement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Maintenance_Screen</targetReference>
            </connector>
            <label>Existing Replacement Installation</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>installedMetersRCS</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Inventory_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installed Meter</stringValue>
            </value>
        </filters>
        <object>AVO_Meter__c</object>
        <outputAssignments>
            <assignToReference>meterId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Maintenance_Type_PCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_Maintenance_Type__c</picklistField>
        <picklistObject>AVO_Meter_Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>AVO New Meter Replacement Installation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO New Meter Replacement Installation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Maintenance_Request</name>
        <label>Create Maintenance Request</label>
        <locationX>446</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>Maintenance_Request</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Meter_Replacement</name>
        <label>Get Existing Meter Replacement</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_An_Existing_Replacement_Installation_on_the_Meter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Replacement Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Maintenance_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Maintenance_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Old_Meter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>meterId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Installed_Meters</name>
        <label>Get Installed Meters</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Inventory_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installed Meter</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AVO_Meter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter</name>
        <label>Get Meter</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Meter_Withdrawal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>meterId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Maintenance_Request_Record_Type</name>
        <label>Get Meter Maintenance Request Record Type</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Meter_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter_Replacement_Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Withdrawal</name>
        <label>Get Meter Withdrawal</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Meter_Withdrawal_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Meter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>meterId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Withdrawal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permit</name>
        <label>Get Permit</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Permit_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Meter_Withdrawal.AVO_Withdrawal_ID__r.AVO_Permit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Existing_Maintenance_Screen</name>
        <label>Existing Maintenance Screen</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Existing_Maintenance_Body</name>
            <fieldText>&lt;p&gt;There is already an existing Meter Replacement Installation on the selected meter, please select a different Meter.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Existing_Meter_Replacement</targetReference>
        </connector>
        <fields>
            <name>Meter_MSN_Lookup</name>
            <choiceReferences>installedMetersRCS</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Meter (MSN)</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Select Meter...</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>446</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Body</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Your Meter Replacement Installation has been successfully created. Please &lt;/span&gt;&lt;a href=&quot;/{!Maintenance_Request.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;click here&lt;/a&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; to view it.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Meter_Maintenance_Request_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Maintenance_Request</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Meter_Assessment_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>meterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Withdrawal_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
