force-app/main/default/flows/AVO_Subflow_Meter_Installation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Installation_Type</name>
        <label>Assign Installation Type</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Installation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Battery Replacement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Installation_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Installation_Type1</name>
        <label>Assign Installation Type</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Installation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Replacement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Installation_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Installation_Type2</name>
        <label>Assign Installation Type</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Installation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Installation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Installation_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Installation_Type3</name>
        <label>Assign Installation Type</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Installation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Site Repair</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Installation_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Installation_Type4</name>
        <label>Assign Installation Type</label>
        <locationX>1106</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Installation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retrieval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Installation_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Installation_Battery_Replacement_Fields</name>
        <label>Assign Meter Installation Battery Replacement Fields</label>
        <locationX>446</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.AVO_County__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Source_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.AVO_Source_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Geolocation__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.AVO_Meter_Geolocation__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Geolocation__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.AVO_Meter_Geolocation__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Serial_Number_MSN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Site_ID_MSID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.AVO_Meter_On_Site_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Outside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.AVO_Outside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Inside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.AVO_Inside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Is_Battery_Driven__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.AVO_Battery__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Permit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Permit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Permit_Information_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Installation_Fields</name>
        <label>Assign Meter Installation Fields</label>
        <locationX>710</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Maintenance_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Request_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Meter_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Installation_Retrieval_Fields</name>
        <label>Assign Meter Installation Retrieval Fields</label>
        <locationX>710</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.AVO_County__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Source_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.AVO_Source_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Geolocation__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.AVO_Meter_Geolocation__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Geolocation__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.AVO_Meter_Geolocation__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Serial_Number_MSN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Site_ID_MSID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.AVO_Meter_On_Site_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Outside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.AVO_Outside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Inside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.AVO_Inside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Is_Battery_Driven__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.AVO_Battery__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Permit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Permit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Permit_Information_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Transaction_to_Attestation_Consent</name>
        <label>Assign Meter Transaction to Attestation Consent</label>
        <locationX>710</locationX>
        <locationY>3194</locationY>
        <assignmentItems>
            <assignToReference>Attestation_Consent.AVO_Meter_Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Attestation_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_Id_To_Meter_Installation</name>
        <label>Assign Record Type Id To Meter Installation</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Meter_Transaction.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Installation_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AG Water Metering Installation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Assignment</name>
        <label>Stage Assignment</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Screen_Header</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Meter Installation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Installation Type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Permit Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Meter Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Water Source Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Old Meter Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Installer Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Telemetry Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Confirmation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Maintenance_Request_Selection_Screen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Clariti_Confirmation_Details_Text_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>If any of the information above is incorrect, use the “Previous” button below to navigate to the appropriate section and update the incorrect information.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Meter_Transaction_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AVO_Meter_Transaction__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>Meter_Transaction_Record_Type_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AG Water Metering Installation</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_its_a_meter_replacement</name>
        <label>Check if its a meter replacement</label>
        <locationX>710</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Installer_Information_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Meter_Replacement_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Transaction.AVO_Installation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Old_Meter_Information_Screen</targetReference>
            </connector>
            <label>Meter Replacement?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_User_Have_Existing_Maintenance_Requests</name>
        <label>Does User Have Existing Maintenance Requests?</label>
        <locationX>1524</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Existing_Maintenance_Requests_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing Maintenance Requests</defaultConnectorLabel>
        <rules>
            <name>Existing_Maintenance_Requests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Same_Owner_Maintenance_Requests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Meter_Installation_Record_Type</targetReference>
            </connector>
            <label>Existing Maintenance Requests</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Installation_Type</name>
        <label>Evaluate Installation Type</label>
        <locationX>710</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Permit_Information_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Installation Types</defaultConnectorLabel>
        <rules>
            <name>Battery_Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Transaction.AVO_Installation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Battery Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Meter_Installation_Battery_Replacement_Fields</targetReference>
            </connector>
            <label>Battery Replacement</label>
        </rules>
        <rules>
            <name>Meter_Retrieval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Transaction.AVO_Installation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retrieval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Meter_Installation_Retrieval_Fields</targetReference>
            </connector>
            <label>Meter Retrieval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Maintenance_Type</name>
        <label>Evaluate Maintenance Type</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Installation_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Battery_Replacement1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Meter_Maintenance_Request.AVO_Maintenance_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Battery Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Installation_Type</targetReference>
            </connector>
            <label>Battery Replacement</label>
        </rules>
        <rules>
            <name>Meter_Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Meter_Maintenance_Request.AVO_Maintenance_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Installation_Type1</targetReference>
            </connector>
            <label>Meter Replacement</label>
        </rules>
        <rules>
            <name>New_Installation_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Meter_Maintenance_Request.AVO_Maintenance_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Installation Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Installation_Type2</targetReference>
            </connector>
            <label>New Installation Maintenance</label>
        </rules>
        <rules>
            <name>On_Site_Repair</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Meter_Maintenance_Request.AVO_Maintenance_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Site Repair</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Installation_Type3</targetReference>
            </connector>
            <label>On Site Repair</label>
        </rules>
        <rules>
            <name>Retrieval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Meter_Maintenance_Request.AVO_Maintenance_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retrieval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Installation_Type4</targetReference>
            </connector>
            <label>Retrieval</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Installation_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_Installation_Type__c</picklistField>
        <picklistObject>AVO_Meter_Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Maintenance_Request_Record_Choice_Set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Maintenance Request</stringValue>
            </value>
        </filters>
        <object>AVO_Meter_Transaction__c</object>
        <outputAssignments>
            <assignToReference>Maintenance_Request_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>AVO Subflow Meter Installation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Subflow Meter Installation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Attestation_Consent</name>
        <label>Create Attestation Consent</label>
        <locationX>710</locationX>
        <locationY>3302</locationY>
        <connector>
            <targetReference>Meter_Transaction_Application_Success_Flow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Attestation_Consent</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Meter_Transaction</name>
        <label>Create Meter Transaction</label>
        <locationX>710</locationX>
        <locationY>2978</locationY>
        <connector>
            <targetReference>Update_Meter_Maintenance_Request_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Meter_Transaction</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Meter_Installation_Record_Type</name>
        <label>Get Meter Installation Record Type</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Type_Id_To_Meter_Installation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Meter_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AG_Water_Metering_Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Meter</name>
        <label>Get Parent Meter</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Meter_Withdrawal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Meter_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Meter_Maintenance_Request</name>
        <label>Get Parent Meter Maintenance Request</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Meter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Maintenance_Request_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Maintenance Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Meter_Withdrawal</name>
        <label>Get Related Meter Withdrawal</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Withdrawal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Meter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Meter.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Withdrawal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Withdrawal</name>
        <label>Get Related Withdrawal</label>
        <locationX>710</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Maintenance_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Meter_Withdrawal.AVO_Withdrawal_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Withdrawals__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Same_Owner_Meter_Maintenance_Requests</name>
        <label>Get Same Owner Meter Maintenance Requests</label>
        <locationX>1524</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_User_Have_Existing_Maintenance_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Maintenance Request</stringValue>
            </value>
        </filters>
        <object>AVO_Meter_Transaction__c</object>
        <outputReference>Same_Owner_Maintenance_Requests</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Meter_Maintenance_Request_Status</name>
        <label>Update Meter Maintenance Request Status</label>
        <locationX>710</locationX>
        <locationY>3086</locationY>
        <connector>
            <targetReference>Assign_Meter_Transaction_to_Attestation_Consent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Maintenance_Request_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Maintenance Request</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Maintenance_Status__c</field>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter_Transaction__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>710</locationX>
        <locationY>2654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attestation_Flow</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Details</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Clariti_Confirmation_Details_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;&lt;em&gt;{!Clariti_Confirmation_Details_Text_Label}&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Record_Details_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Record Details:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Record_Detail</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AVO_Meter_Transaction__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Meter_Transaction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>AVO_Meter_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Permit Information, Meter Information, Water Source Information, Old Meter Information, Installer Information, Telemetry Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Meter_Transaction</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Error_Screen</name>
        <label>Copy 1 of Error Screen</label>
        <locationX>2074</locationX>
        <locationY>3086</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Error_Screen</name>
        <label>Copy 2 of Error Screen</label>
        <locationX>1546</locationX>
        <locationY>3410</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1810</locationX>
        <locationY>3194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_Maintenance_Request_Selection_Screen</name>
        <label>Existing Maintenance Request Selection</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Parent_Meter_Maintenance_Request</targetReference>
        </connector>
        <fields>
            <name>Existing_Maintenance_Request_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;Please select a Meter Maintenance Request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Existing_Maintenance_Request_Picklist</name>
            <choiceReferences>Maintenance_Request_Record_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Meter Maintenance Requests</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Installer_Information_Screen</name>
        <label>Installer Information</label>
        <locationX>710</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Telemetry_Information_Screen</targetReference>
        </connector>
        <fields>
            <name>Installer_Information_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Installer_Information_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Installer Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Installer_Information_Details</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AVO_Meter_Transaction__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Meter_Transaction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>AVO_Meter_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Installer Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Meter_Transaction</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Meter_Information_Screen</name>
        <label>Meter Information</label>
        <locationX>710</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Water_Source_Information_Screen</targetReference>
        </connector>
        <fields>
            <name>Meter_Information_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_Information_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Meter Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_Information_Details</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AVO_Meter_Transaction__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Meter_Transaction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>AVO_Meter_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Meter Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Meter_Transaction</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Existing_Maintenance_Requests_Screen</name>
        <label>No Existing Maintenance Requests</label>
        <locationX>2338</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Existing_Maintenance_Requests_Message</name>
            <fieldText>&lt;p&gt;You have no existing meter maintenance requests.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Old_Meter_Information_Screen</name>
        <label>Old Meter Information</label>
        <locationX>578</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Installer_Information_Screen</targetReference>
        </connector>
        <fields>
            <name>Old_Meter_Information_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Old_Meter_Information_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Old Meter Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Old_Meter_Information_Details</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AVO_Meter_Transaction__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Meter_Transaction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>AVO_Meter_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Old Meter Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Meter_Transaction</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Permit_Information_Screen</name>
        <label>Permit Information</label>
        <locationX>710</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Meter_Information_Screen</targetReference>
        </connector>
        <fields>
            <name>Permit_Information_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Permit_Information_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Permit Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Permit_Information_Details</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AVO_Meter_Transaction__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Meter_Transaction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>AVO_Meter_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Permit Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Meter_Transaction</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Telemetry_Information_Screen</name>
        <label>Telemetry Information</label>
        <locationX>710</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Telemetry_Information_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Telemetry_Information_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Telemetry Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Telemetry_Information_Details</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AVO_Meter_Transaction__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Meter_Transaction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>AVO_Meter_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Telemetry Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Meter_Transaction</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Water_Source_Information_Screen</name>
        <label>Water Source Information</label>
        <locationX>710</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_its_a_meter_replacement</targetReference>
        </connector>
        <fields>
            <name>Water_Source_Information_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Water_Source_Information_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Water Source Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Water_Source_Information_Details</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AVO_Meter_Transaction__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Meter_Transaction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>AVO_Meter_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Water Source Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Meter_Transaction</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1398</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Same_Owner_Meter_Maintenance_Requests</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Attestation_Flow</name>
        <label>Attestation Flow</label>
        <locationX>710</locationX>
        <locationY>2762</locationY>
        <connector>
            <targetReference>Assign_Meter_Installation_Fields</targetReference>
        </connector>
        <flowName>AVO_Subflow_Attestation</flowName>
        <inputAssignments>
            <name>Object_API_Name</name>
            <value>
                <elementReference>Meter_Transaction_API</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Meter_Transaction_Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Attestation_Consent</assignToReference>
            <name>Attestation_Consent</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Meter_Transaction_Application_Success_Flow</name>
        <label>Meter Transaction Application Success Flow</label>
        <locationX>710</locationX>
        <locationY>3410</locationY>
        <flowName>AVO_Permit_Application_Success_Flow</flowName>
        <inputAssignments>
            <name>Meter_Transaction_Id</name>
            <value>
                <elementReference>Meter_Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Meter_Transaction_Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Attestation_Consent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Attestation_Consent__c</objectType>
    </variables>
    <variables>
        <name>Maintenance_Request_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Meter_Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Same_Owner_Maintenance_Requests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Screen_Header</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
