force-app/main/default/flows/AVO_Update_GIS_Mapped_By.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_List</name>
        <label>Assign to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WithdrawalList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WithdrawalRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Withdrawals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Withdrawals</name>
        <label>Assign Values to Withdrawals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WithdrawalRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Withdrawals.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WithdrawalRecord.AVO_GISMappedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastUpdatedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WithdrawalRecord.AVO_GISDateMapped__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_Permit_type</name>
        <label>Checking Permit type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_permit.MUSW__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agricultural Water Withdrawal Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_permit.MUSW__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agricultural Water Withdrawal Permit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Withdrawals</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LastUpdatedName</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastModifiedBy.FirstName} + {!$Record.LastModifiedBy.MiddleName} + {!$Record.LastModifiedBy.LastName}</expression>
    </formulas>
    <interviewLabel>AVO Update GIS Mapped By {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Update GIS Mapped By</label>
    <loops>
        <name>Loop_Withdrawals</name>
        <label>Loop Withdrawals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Withdrawals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Withdrawals</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Withdrawal_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_permit</name>
        <label>Get permit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Permit_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Withdrawals</name>
        <label>Get Withdrawals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Withdrawals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Permit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_permit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AVO_Withdrawals__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Withdrawal_List</name>
        <label>Update Withdrawal List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>WithdrawalList</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_permit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GIS Permit Mapping</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>WithdrawalList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
    <variables>
        <name>WithdrawalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
</Flow>
