force-app/main/default/flows/AVO_Compliance_Exact_Values_From_Parent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Application_Values</name>
        <label>Assign Application Values</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_LuOwnerO_wnerContactId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_RefApplicationID__r.MUSW__Applicant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_Basin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_RefApplicationID__r.AVO_Basin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_RefApplicationID__r.AVO_County_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Withdrawal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Transaction_Values</name>
        <label>Assign Meter Transaction Values</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_Geolocation__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Installation_Record.AVO_Meter_Geolocation__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_Geolocation__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Installation_Record.AVO_Meter_Geolocation__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_Meter_Serial_Num__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_RefMSNID__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_MOSID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_RefMSNID__r.AVO_MOSID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_Basin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Installation_Record.AVO_Permit_Number__r.AVO_Basin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_Coastal24__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Installation_Record.AVO_Withdrawal_ID__r.Coastal_24__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Installation_Record.AVO_Permit_Number__r.AVO_County_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_FRBP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Installation_Record.AVO_Withdrawal_ID__r.AVO_FRBP_Conservation_Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_LuOwnerO_wnerContactId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Installation_Record.AVO_Permit_Number__r.MUSW__Applicant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_RefApplicationID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Installation_Record.AVO_Permit_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_UDWithdrawalID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Installation_Record.AVO_Withdrawal_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_StrBuffer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Installation_Record.AVO_Withdrawal_ID__r.AVO_Critical_Stream_Buffer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_SubArea4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Installation_Record.AVO_Withdrawal_ID__r.AVO_Sub_Area_4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_Suspension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Installation_Record.AVO_Withdrawal_ID__r.AVO_2012_Suspension_Areas__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_RefMeterID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Installation_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_RefPermitAppID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Installation_Record.AVO_Permit_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Compliance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Withdrawal_Geolocation_GW</name>
        <label>Assign Withdrawal Geolocation GW</label>
        <locationX>545</locationX>
        <locationY>1505</locationY>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_Geolocation__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_UDWithdrawalID__r.AVO_Well_Latitude__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_Geolocation__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_UDWithdrawalID__r.AVO_Well_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Compliance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Withdrawal_Geolocation_SW</name>
        <label>Assign Withdrawal Geolocation SW</label>
        <locationX>809</locationX>
        <locationY>1505</locationY>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_Geolocation__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_UDWithdrawalID__r.Point_Y__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_Geolocation__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_UDWithdrawalID__r.Point_X__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Compliance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Withdrawal_Values</name>
        <label>Assign Withdrawal Values</label>
        <locationX>677</locationX>
        <locationY>1289</locationY>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_Suspension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_UDWithdrawalID__r.AVO_2012_Suspension_Areas__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_FRBP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_UDWithdrawalID__r.AVO_FRBP_Conservation_Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_Coastal24__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_UDWithdrawalID__r.Coastal_24__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_SubArea4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_UDWithdrawalID__r.AVO_Sub_Area_4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_StrBuffer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_UDWithdrawalID__r.AVO_Critical_Stream_Buffer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Withdrawal_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Meter_Transaction_Values</name>
        <label>Assign Permit Values</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_LuOwnerO_wnerContactId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_RefPermitAppID__r.MUSW__Applicant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_Basin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_RefPermitAppID__r.AVO_Basin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComplianceRecord.AVO_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_RefPermitAppID__r.AVO_County_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Withdrawal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Withdrawal</name>
        <label>Check Withdrawal</label>
        <locationX>875</locationX>
        <locationY>1181</locationY>
        <defaultConnectorLabel>No Withdrawal</defaultConnectorLabel>
        <rules>
            <name>Withdrawal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_UDWithdrawalID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Withdrawal_Values</targetReference>
            </connector>
            <label>Withdrawal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Withdrawal_Type</name>
        <label>Check Withdrawal Type</label>
        <locationX>677</locationX>
        <locationY>1397</locationY>
        <defaultConnector>
            <targetReference>Assign_Withdrawal_Geolocation_SW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SW</defaultConnectorLabel>
        <rules>
            <name>GW</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_UDWithdrawalID__r.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ground Water Withdrawal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AVO_UDWithdrawalID__r.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ground Water Withdrawal Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Withdrawal_Geolocation_GW</targetReference>
            </connector>
            <label>GW</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Parent</name>
        <label>Checking Parent</label>
        <locationX>875</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meter_Transaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_RefMSNID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AVO_RefMeterID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.AVO_RefMSNID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Meter_Have_MOSID</targetReference>
            </connector>
            <label>Meter Transaction</label>
        </rules>
        <rules>
            <name>Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_RefPermitAppID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AVO_RefMeterID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.AVO_RefPermitAppID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Meter_Transaction_Values</targetReference>
            </connector>
            <label>Permit</label>
        </rules>
        <rules>
            <name>Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_RefApplicationID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AVO_RefMeterID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.AVO_RefApplicationID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Application_Values</targetReference>
            </connector>
            <label>Application</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Installation_Exist</name>
        <label>Does Installation Exist?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Installation Does not Exist</defaultConnectorLabel>
        <rules>
            <name>Installation_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Meter_Installation_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Meter_Transaction_Values</targetReference>
            </connector>
            <label>Installation Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Meter_Have_MOSID</name>
        <label>Does Meter Have MOSID?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Meter Does Not have MOSID</defaultConnectorLabel>
        <rules>
            <name>Meter_Has_MOSID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_RefMSNID__r.AVO_MOSID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Meter_Installation_Record</targetReference>
            </connector>
            <label>Meter Has MOSID</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO Compliance Exact Values From Parent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Compliance Exact Values From Parent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Meter_Installation_Record</name>
        <label>Get Meter Installation Record</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Installation_Exist</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Flow Meter Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AG Water Metering Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Update</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_MOSID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_RefMSNID__r.AVO_MOSID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Transaction__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Compliance</name>
        <label>Update Compliance</label>
        <locationX>677</locationX>
        <locationY>1697</locationY>
        <inputReference>ComplianceRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>749</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_Parent</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AVO_RefMSNID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_RefPermitAppID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_RefApplicationID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_UDWithdrawalID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AVO_Compliance__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ComplianceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Compliance__c</objectType>
    </variables>
</Flow>
