force-app/main/default/flows/AVO_New_Meter_Maintenance_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Maintenance_Fields</name>
        <label>Assign Maintenance Fields</label>
        <locationX>974</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Maintenance_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Type_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter.AVO_Model__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Make__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter.AVO_Make__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Outside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Approval_Update.AVO_Outside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Inside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Approval_Update.AVO_Inside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Meter_Geolocation__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Approval_Update.AVO_Meter_Geolocation__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Meter_Geolocation__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Approval_Update.AVO_Meter_Geolocation__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Source_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Approval_Update.AVO_Source_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Source_Withdrawal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Approval_Update.AVO_Source_Withdrawal_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Pump_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Approval_Update.AVO_Pump_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Meter_Withdrawal_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Maintenance_Fields_Assessment</name>
        <label>Assign Maintenance Fields Assessment</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Maintenance_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Type_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Meter_Assessment_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Assessment_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Permit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Assessment.AVO_Permit_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Application_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Assessment.AVO_Permit_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Assessment.AVO_Permit_Number__r.MUSW__Applicant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Assessment.AVO_Permit_Number__r.AVO_County_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Maintenance_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Maintenance_Fields_Withdrawal</name>
        <label>Assign Maintenance Fields Withdrawal</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Maintenance_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Type_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Withdrawal_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Withdrawal_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Permit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Withdrawal.AVO_Permit__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Application_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Withdrawal.AVO_Permit__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Withdrawal.AVO_Permit__r.MUSW__Applicant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Withdrawal.AVO_Permit__r.AVO_County_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Maintenance_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Id</name>
        <label>Assign Meter Id</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Meter_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Meter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Old_Meter_Id</name>
        <label>Assign Old Meter Id</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Old_Meter_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Meter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Permit_Fields</name>
        <label>Assign Permit Fields</label>
        <locationX>842</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Permit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Application_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit.MUSW__Applicant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit.AVO_County_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Withdrawal_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Withdrawal.AVO_Withdrawal_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Maintenance_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type</name>
        <label>Assign Record Type</label>
        <locationX>479</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Maintenance_Request.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Maintenance_Request_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Number</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maintenance_Type_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Meter_Assessment_Choice</name>
        <choiceText>Meter Assessment (Site Visit)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meter Assessment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Withdrawal_Choice</name>
        <choiceText>Withdrawal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Withdrawal</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Maintenance_Type</name>
        <label>Check Maintenance Type</label>
        <locationX>479</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Input_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Maintenance</defaultConnectorLabel>
        <rules>
            <name>New_Installation_Maintenance_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Maintenance_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Installation Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Installation_Input_Screen</targetReference>
            </connector>
            <label>New Installation Maintenance Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Meter_Replacement_Maintenance_Type</name>
        <label>Check Meter Replacement Maintenance Type</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_Meter_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Meter Replacement Type</defaultConnectorLabel>
        <rules>
            <name>Meter_Replacement_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Maintenance_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Old_Meter_Id</targetReference>
            </connector>
            <label>Meter Replacement Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Meter_Withdrawal_Exists</name>
        <label>Check Meter Withdrawal Exists</label>
        <locationX>974</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Create_Maintenance_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meter_Withdrawal_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Meter_Withdrawal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permit</targetReference>
            </connector>
            <label>Meter Withdrawal Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Withdrawal_or_Assessment</name>
        <label>Check Withdrawal or Assessment</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Meter_Assessment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Meter Assessment Selected</defaultConnectorLabel>
        <rules>
            <name>Withdrawal_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Withdrawal_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Withdrawal</targetReference>
            </connector>
            <label>Withdrawal Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_An_Existing_Maintenance_Request_on_the_Meter</name>
        <label>Is There An Existing Maintenance Request on the Meter?</label>
        <locationX>776</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Check_Meter_Replacement_Maintenance_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing Maintenance Request</defaultConnectorLabel>
        <rules>
            <name>Existing_Maintenance_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Maintenance_Request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Maintenance_Screen</targetReference>
            </connector>
            <label>Existing Maintenance Request</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>installedMetersRCS</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Inventory_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installed Meter</stringValue>
            </value>
        </filters>
        <object>AVO_Meter__c</object>
        <outputAssignments>
            <assignToReference>Meter_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Maintenance_Type_PCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_Maintenance_Type__c</picklistField>
        <picklistObject>AVO_Meter_Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>AVO New Meter Maintenance Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO New Meter Maintenance Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Maintenance_Request</name>
        <label>Create Maintenance Request</label>
        <locationX>479</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>Maintenance_Request</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Maintenance_Request</name>
        <label>Get Existing Maintenance Request</label>
        <locationX>776</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_An_Existing_Maintenance_Request_on_the_Meter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Maintenance Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Maintenance_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Maintenance_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Meter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Meter_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Approval_Update</name>
        <label>Get Latest Approval/Update</label>
        <locationX>974</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Maintenance_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Meter_Withdrawal.AVO_Initiating_Transaction_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter</name>
        <label>Get Meter</label>
        <locationX>974</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Meter_Withdrawal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Meter_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Assessment</name>
        <label>Get Meter Assessment</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Maintenance_Fields_Assessment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Meter_Assessment_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Inspection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Maintenance_Request_Record_Type</name>
        <label>Get Meter Maintenance Request Record Type</label>
        <locationX>479</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Meter_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter_Maintenance_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Withdrawal</name>
        <label>Get Meter Withdrawal</label>
        <locationX>974</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Approval_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Meter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Meter_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Withdrawal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permit</name>
        <label>Get Permit</label>
        <locationX>842</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Permit_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Meter_Withdrawal.AVO_Withdrawal_ID__r.AVO_Permit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Withdrawal</name>
        <label>Get Withdrawal</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Maintenance_Fields_Withdrawal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Withdrawal_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Withdrawals__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Existing_Maintenance_Screen</name>
        <label>Existing Maintenance Screen</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Existing_Maintenance_Body</name>
            <fieldText>&lt;p&gt;There is already an existing Maintenance Request on the selected meter, please select a different Meter.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Existing_Maintenance_Request</targetReference>
        </connector>
        <fields>
            <name>Meter_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AVO_Meter_ID__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Meter (MSN)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>AVO_Meter_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Meter_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Maintenance_Type_Picklist</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Meter Replacement</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Meter_Lookup_Replacement</name>
            <choiceReferences>installedMetersRCS</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Meter (MSN)</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Maintenance_Type_Picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Meter Replacement</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Installation_Input_Screen</name>
        <label>Installation Input Screen</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Withdrawal_or_Assessment</targetReference>
        </connector>
        <fields>
            <name>Withdrawal_or_Meter_Assessment_Radio</name>
            <choiceReferences>Withdrawal_Choice</choiceReferences>
            <choiceReferences>Meter_Assessment_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Withdrawal or Meter Assessment?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Withdrawal_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AVO_Withdrawal_ID__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Withdrawal ID</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>AVO_Meter_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Withdrawal_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Withdrawal_Choice</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Meter_Assessment_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AVO_Meter_Assessment_ID__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Meter Assessment (Site Visit) ID</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>AVO_Meter_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Meter_Assessment_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Meter_Assessment_Choice</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Maintenance_Type_Screen</name>
        <label>Maintenance Type Screen</label>
        <locationX>479</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Maintenance_Type</targetReference>
        </connector>
        <fields>
            <name>Maintenance_Type_Picklist</name>
            <choiceReferences>Maintenance_Type_PCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Maintenance Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>479</locationX>
        <locationY>2306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Body</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Your Meter Maintenance Request has been successfully created. Please &lt;/span&gt;&lt;a href=&quot;/{!Maintenance_Request.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;click here&lt;/a&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; to view it.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Meter_Maintenance_Request_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Maintenance_Request</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Meter_Assessment_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Meter_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Withdrawal_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
