force-app/main/default/flows/AVO_New_Agricultural_Water_Withdrawal_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Surface_Pump_Stage</name>
        <label>Add Surface Pump Stage</label>
        <locationX>70</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Surface Pump</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Surface_Pump_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Surface_Pump_to_Collection</name>
        <label>Add Surface Pump to Collection</label>
        <locationX>442</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>SurfacePumpCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SurfacePump</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Surface_Pump</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_count</name>
        <label>Add to count</label>
        <locationX>138</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>GW_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Well_Data_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Well_Data_Stage</name>
        <label>Add Well Data Stage</label>
        <locationX>70</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Well Data</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Well_Data_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Well_Data_to_Collection</name>
        <label>Add Well Data to Collection</label>
        <locationX>442</locationX>
        <locationY>2978</locationY>
        <assignmentItems>
            <assignToReference>WellDataCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WellData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Well_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Permit_Applicant</name>
        <label>Assign Permit Applicant</label>
        <locationX>202</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>PermitApp.MUSW__Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PermitApp.AVO_Property_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitApp.AVO_Owener_is_operator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AVO_Owener_is_operator</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitApp.AVO_Operator_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AVO_Operator_Manager.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Owner_Operator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Permit_Values</name>
        <label>Assign Permit Values</label>
        <locationX>202</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>PermitApp.AVO_Chemicals_or_Fertilizers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AVO_Chemicals_or_Fertilizers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitApp.AVO_Irrigation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AVO_Irrigation_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitApp.AVO_Name_of_Field_Irr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AVO_Name_of_Field_Irr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitApp.AVO_Permitted_Acres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AVO_Permitted_Acres</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitApp.AVO_Permit_Purpose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AVO_Permit_Purpose</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitApp.AVO_PurIR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AVO_PurIR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitApp.AVO_Volumetric_Limits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AVO_Volumetric_Limits</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitApp.AVO_Previously_Irrigated_Permitted_Acres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Previously_Irrigated_Permitted_Acres</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitApp.AVO_contact_Info_Verified_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Info_Verified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitApp.AVO_ContInfoVerDt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Info_Last_Verified_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitApp.AVO_Comes_from_repeater__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Well_Data_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_to_Permit</name>
        <label>Assign Record Type to Permit</label>
        <locationX>202</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>PermitApp.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitApp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Number</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitApp.AVO_Owener_is_operator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialize_Stages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Surface_Pump_Fields</name>
        <label>Assign Surface Pump Fields</label>
        <locationX>442</locationX>
        <locationY>3386</locationY>
        <assignmentItems>
            <assignToReference>SurfacePump.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Surface_Pump_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_Permit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PermitApp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_PumpInstallType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Surface_Pump.Pump_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_SourceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Surface_Pump.Source_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_Surface_Water_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Surface_Pump.Surface_Water_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_Planned_Date_of_Installation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Surface_Pump.Planned_Date_of_Withdrawal_Installation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_Permit_gpm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Surface_Pump.Permit_GPM_Surface</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_PondAcres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Surface_Pump.Pond_Surface_Acre</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_PondDepth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Surface_Pump.Average_Pond_Depth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.Point_Y__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Surface_Pump.Latitiude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.Point_X__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Surface_Pump.Longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_Wells_Refilling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Surface_Pump.Wells_Refilling</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_PumpNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Surface_Pump.Pump_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_Refill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Surface_Pump.Refill_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_Withdrawal_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Surface_Water_Withdrawal_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_GIS_UNIQUE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Surface_Water_Withdrawal_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_Check_if_comes_from_repeater__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Surface_Pump_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Well_Data_Fields</name>
        <label>Assign Well Data Fields</label>
        <locationX>442</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>WellData.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Well_Data_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Permit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PermitApp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_WellInstallType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Well_Data.Well_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Well_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Well_Data.Well_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Planned_Date_of_Installation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Well_Data.Planned_Date_of_Well_Installation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Casing_ft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Well_Data.Casing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Diameter_in__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Well_Data.Diameter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Intake_ft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Well_Data.Intake</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Depth_ft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Well_Data.Depth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_GW_Gallons_Per_Minute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Well_Data.Permit_GPM_Well</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Well_Latitude__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Well_Data.Well_Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Well_Long__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Well_Data.Well_Longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Well_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Well_Data.Well_Closed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Well_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Well_Data.Well_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Withdrawal_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ground_Water_Sequence_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_GIS_UNIQUE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ground_Water_Sequence_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Check_if_comes_from_repeater__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Well_Data_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Surface_Pump_to_Collection</name>
        <label>Add Surface Pump to Collection</label>
        <locationX>138</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>SurfacePumpCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SurfacePump</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Through_Surface_Pump</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_count</name>
        <label>Add to count</label>
        <locationX>442</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>GW_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Well_Data_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Well_Data_to_Collection</name>
        <label>Add Well Data to Collection</label>
        <locationX>138</locationX>
        <locationY>2978</locationY>
        <assignmentItems>
            <assignToReference>WellDataCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WellData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Through_Well_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Surface_Pump_Fields</name>
        <label>Assign Surface Pump Fields</label>
        <locationX>138</locationX>
        <locationY>3386</locationY>
        <assignmentItems>
            <assignToReference>SurfacePump.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Surface_Pump_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_Permit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PermitApp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_PumpInstallType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Surface_Pump.Pump_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_SourceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Surface_Pump.Source_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_Surface_Water_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Surface_Pump.Surface_Water_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_Planned_Date_of_Installation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Surface_Pump.Planned_Date_of_Withdrawal_Installation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_Permit_gpm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Surface_Pump.Permit_GPM_Surface</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_PondAcres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Surface_Pump.Pond_Surface_Acre</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_PondDepth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Surface_Pump.Average_Pond_Depth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.Point_Y__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Surface_Pump.Latitiude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.Point_X__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Surface_Pump.Longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_Wells_Refilling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Surface_Pump.Wells_Refilling</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_PumpNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Surface_Pump.Pump_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_Refill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Surface_Pump.Refill_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_Withdrawal_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Well_To_Pond_SW_Sequence_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_GIS_UNIQUE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Well_To_Pond_SW_Sequence_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurfacePump.AVO_Check_if_comes_from_repeater__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_Surface_Pump_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Well_Data_Fields</name>
        <label>Assign Well Data Fields</label>
        <locationX>138</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>WellData.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Well_Data_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Permit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PermitApp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_WellInstallType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Well_Data.Well_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Well_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Well_Data.Well_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Planned_Date_of_Installation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Well_Data.Planned_Date_of_Well_Installation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Casing_ft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Well_Data.Casing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Diameter_in__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Well_Data.Diameter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Intake_ft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Well_Data.Intake</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Depth_ft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Well_Data.Depth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_GW_Gallons_Per_Minute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Well_Data.Permit_GPM_Well</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Well_Latitude__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Well_Data.Well_Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Well_Long__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Well_Data.Well_Longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Well_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Well_Data.Well_Closed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Well_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Through_Well_Data.Well_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Withdrawal_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Well_To_Pond_GW_Sequence_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_GIS_UNIQUE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Well_To_Pond_GW_Sequence_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WellData.AVO_Check_if_comes_from_repeater__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_Well_Data_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Add_to_count</name>
        <label>Add to count</label>
        <locationX>442</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>SW_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Surface_Pump_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Add_to_count</name>
        <label>Add to count</label>
        <locationX>138</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>SW_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Surface_Pump_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Owner_to_Operator</name>
        <label>Copy Owner to Operator</label>
        <locationX>70</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>PermitApp.AVO_Operator_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PermitApp.AVO_Property_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Permit_Purpose_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Stages</name>
        <label>Initialize Stages</label>
        <locationX>202</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>General Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Permit Purpose</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Irrigation System</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>General_Information_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Well_to_Pond</name>
        <label>Check Well to Pond</label>
        <locationX>202</locationX>
        <locationY>2546</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Well_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Well to Pond</defaultConnectorLabel>
        <rules>
            <name>Well_to_Pond</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermitApp.AVO_Permit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Well to Pond</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Loop_Through_Well_Data</targetReference>
            </connector>
            <label>Well to Pond</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_Operator</name>
        <label>Is Owner Operator?</label>
        <locationX>202</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Permit_Purpose_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner is NOT Operator</defaultConnectorLabel>
        <rules>
            <name>Owner_is_Operator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermitApp.AVO_Owener_is_operator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Owner_to_Operator</targetReference>
            </connector>
            <label>Owner is Operator</label>
        </rules>
    </decisions>
    <decisions>
        <name>Surface_Pump_Check</name>
        <label>Surface Pump Check</label>
        <locationX>202</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Create_Permit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Surface_Pump_Input</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PermitApp.AVO_Permit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface Water</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PermitApp.AVO_Permit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Well to Pond</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Surface_Pump_Stage</targetReference>
            </connector>
            <label>Surface Pump Input</label>
        </rules>
    </decisions>
    <decisions>
        <name>Well_Data_Check</name>
        <label>Well Data Check</label>
        <locationX>202</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Surface_Pump_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Well_Data_Input</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PermitApp.AVO_Permit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Groundwater</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PermitApp.AVO_Permit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Well to Pond</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Well_Data_Stage</targetReference>
            </connector>
            <label>Well Data Input</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Chemigation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_Chemicals_or_Fertilizers__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IrrigationType</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_Irrigation_Type__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OwnerisOperator</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_Owener_is_operator__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PermitPurpose</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_Permit_Purpose__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PondRefillTypePicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_Refill__c</picklistField>
        <picklistObject>AVO_Withdrawals__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PumpTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_PumpInstallType__c</picklistField>
        <picklistObject>AVO_Withdrawals__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PurIR</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_PurIR__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SourceTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_SourceType__c</picklistField>
        <picklistObject>AVO_Withdrawals__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WellClosedPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_Well_Closed__c</picklistField>
        <picklistObject>AVO_Withdrawals__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WellTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_WellInstallType__c</picklistField>
        <picklistObject>AVO_Withdrawals__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Ground_Water_Sequence_Number</name>
        <dataType>String</dataType>
        <expression>{!get_permit.Name}+ &apos;_G&apos; + TEXT({!GW_Count})</expression>
    </formulas>
    <formulas>
        <name>Surface_Water_Withdrawal_Number</name>
        <dataType>String</dataType>
        <expression>{!get_permit.Name} + &apos;_S&apos; + TEXT({!SW_Count})</expression>
    </formulas>
    <formulas>
        <name>Well_To_Pond_GW_Sequence_Number</name>
        <dataType>String</dataType>
        <expression>{!get_permit.Name} + &apos;_G&apos; + TEXT({!GW_Count})</expression>
    </formulas>
    <formulas>
        <name>Well_To_Pond_SW_Sequence_Number</name>
        <dataType>String</dataType>
        <expression>{!get_permit.Name} + &apos;_S&apos; + TEXT({!SW_Count})</expression>
    </formulas>
    <interviewLabel>AVO New AWWP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO New Agricultural Water Withdrawal Application</label>
    <loops>
        <name>Copy_1_of_Loop_Through_Surface_Pump</name>
        <label>Loop Through Surface Pump</label>
        <locationX>50</locationX>
        <locationY>3170</locationY>
        <collectionReference>Surface_Pump_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_4_of_Add_to_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Well_Data</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_Loop_Through_Well_Data</name>
        <label>Loop Through Well Data</label>
        <locationX>50</locationX>
        <locationY>2654</locationY>
        <collectionReference>Well_Data_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Loop_Through_Surface_Pump</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Surface_Pump</name>
        <label>Loop Through Surface Pump</label>
        <locationX>354</locationX>
        <locationY>3170</locationY>
        <collectionReference>Surface_Pump_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Add_to_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Well_Data</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Well_Data</name>
        <label>Loop Through Well Data</label>
        <locationX>354</locationX>
        <locationY>2654</locationY>
        <collectionReference>Well_Data_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Add_to_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Surface_Pump</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Permit</name>
        <label>Create Permit</label>
        <locationX>202</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>get_permit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>PermitApp</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Surface_Pump</name>
        <label>Create Surface Pump</label>
        <locationX>202</locationX>
        <locationY>3878</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>SurfacePumpCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Well_Data</name>
        <label>Create Well Data</label>
        <locationX>202</locationX>
        <locationY>3770</locationY>
        <connector>
            <targetReference>Create_Surface_Pump</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>WellDataCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Record_Type</name>
        <label>Get Application Record Type</label>
        <locationX>202</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Type_to_Permit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MUSW__Permit2__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Agricultural_Water_Withdrawal_Application</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_permit</name>
        <label>get permit</label>
        <locationX>202</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Well_Data_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermitApp.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Surface_Pump_Record_Type</name>
        <label>Get Surface Pump Record Type</label>
        <locationX>202</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Well_to_Pond</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Surface_Water_Withdrawal_Application</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Well_Data_Record_Type</name>
        <label>Get Well Data Record Type</label>
        <locationX>202</locationX>
        <locationY>2330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Surface_Pump_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ground_Water_Withdrawal_Application</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1098</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Body</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_Information_Screen</name>
        <label>General Information Screen</label>
        <locationX>202</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Permit_Applicant</targetReference>
        </connector>
        <fields>
            <name>General_Information_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;New Agricultural Water Withdrawal Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>General_Information_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>General Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PermitApp.AVO_Permit_Type__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PermitApp.AVO_Property_Owner__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AVO_Owener_is_operator</name>
            <choiceReferences>OwnerisOperator</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Owner is operator</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AVO_Operator_Manager</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AVO_Operator_Manager__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Operator/Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AVO_Owener_is_operator</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contact_Info_Verified</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Info Verified</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contact_Info_Last_Verified_Date</name>
            <dataType>Date</dataType>
            <fieldText>Contact Info Last Verified Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PermitApp.AVO_Original_Date_Applied__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PermitApp.AVO_County_Lookup__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Irrigation_System_Screen</name>
        <label>Irrigation System Screen</label>
        <locationX>202</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Permit_Values</targetReference>
        </connector>
        <fields>
            <name>Irrigation_System_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;New Agricultural Water Withdrawal Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Irrigation_System_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Irrigation System</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AVO_Name_of_Field_Irr</name>
            <dataType>String</dataType>
            <fieldText>Name of Field</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter no more than 250 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!AVO_Name_of_Field_Irr}) &lt;= 250</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>AVO_Irrigation_Type</name>
            <choiceReferences>IrrigationType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Irrigation Type</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AVO_Chemicals_or_Fertilizers</name>
            <choiceReferences>Chemigation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chemigation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PermitApp.AVO_Low_pressure_System__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AVO_Permitted_Acres</name>
            <dataType>Number</dataType>
            <fieldText>Permitted Acres</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AVO_Volumetric_Limits</name>
            <dataType>Number</dataType>
            <fieldText>Volumetric Limits</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Previously_Irrigated_Permitted_Acres</name>
            <dataType>Number</dataType>
            <fieldText>Previously Irrigated Permitted Acres</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PermitApp.AVO_Installed_Date__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Permit_Purpose_Screen</name>
        <label>Permit Purpose Screen</label>
        <locationX>202</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Irrigation_System_Screen</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_General_Information_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;New Agricultural Water Withdrawal Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Permit_Purpose_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Permit Purpose</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AVO_Permit_Purpose</name>
            <choiceReferences>PermitPurpose</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Permit Purpose</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AVO_PurIR</name>
            <choiceReferences>PurIR</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Irrigation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PermitApp.AVO_PurAq__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PermitApp.AVO_PurLi__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PermitApp.AVO_Athletics__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PermitApp.AVO_PurRp__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PermitApp.AVO_PurOt__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PermitApp.AVO_Golf_Course__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PermitApp.AVO_Frost_Protection__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PermitApp.AVO_Pond_Funded__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PermitApp.AVO_ZeroAcreage__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>202</locationX>
        <locationY>3986</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Body</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your Permit Application has been successfully created. Please &lt;/span&gt;&lt;a href=&quot;/{!PermitApp.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;click here&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; to view it.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Surface_Pump_Screen</name>
        <label>Surface Pump</label>
        <locationX>70</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Permit</targetReference>
        </connector>
        <fields>
            <name>Surface_Pump_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;New Agricultural Water Withdrawal Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Surface_Pump_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Surface Pump</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Surface_Pump_Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Pump_Number</name>
                <dataType>Number</dataType>
                <fieldText>Pump Number</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Pump_Type</name>
                <choiceReferences>PumpTypePicklist</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Pump Type</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Source_Type</name>
                <choiceReferences>SourceTypePicklist</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Source Type</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Surface_Water_Source</name>
                <dataType>String</dataType>
                <fieldText>Surface Water Source</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Planned_Date_of_Withdrawal_Installation</name>
                <dataType>Date</dataType>
                <fieldText>Planned Date of Withdrawal Installation</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Permit_GPM_Surface</name>
                <dataType>Number</dataType>
                <fieldText>Permit GPM</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Pond_Surface_Acre</name>
                <dataType>Number</dataType>
                <fieldText>Pond Surface Acre</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>2</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Average_Pond_Depth</name>
                <dataType>Number</dataType>
                <fieldText>Average Pond Depth</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>2</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Latitiude</name>
                <dataType>Number</dataType>
                <fieldText>Latitiude</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>6</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Longitude</name>
                <dataType>Number</dataType>
                <fieldText>Longitude</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>6</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Refill_Source</name>
                <choiceReferences>PondRefillTypePicklist</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Refill Source</fieldText>
                <fieldType>MultiSelectPicklist</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Wells_Refilling</name>
                <dataType>Number</dataType>
                <fieldText>Wells Refilling</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Well_Data_Screen</name>
        <label>Well Data</label>
        <locationX>70</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Surface_Pump_Check</targetReference>
        </connector>
        <fields>
            <name>Well_Data_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;New Agricultural Water Withdrawal Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Well_Data_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Well Data</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Well_Data_Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Well_Number</name>
                <dataType>Number</dataType>
                <fieldText>Well Number</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Well_Type</name>
                <choiceReferences>WellTypePicklist</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Well Type</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Well_Name</name>
                <dataType>String</dataType>
                <fieldText>Well Name</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Planned_Date_of_Well_Installation</name>
                <dataType>Date</dataType>
                <fieldText>Planned Date of Well Installation</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Casing</name>
                <dataType>Number</dataType>
                <fieldText>Casing</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>2</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Diameter</name>
                <dataType>Number</dataType>
                <fieldText>Diameter</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>2</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Intake</name>
                <dataType>Number</dataType>
                <fieldText>Intake</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>2</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Depth</name>
                <dataType>Number</dataType>
                <fieldText>Depth</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>2</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Permit_GPM_Well</name>
                <dataType>Number</dataType>
                <fieldText>Permit GPM</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Well_Latitude</name>
                <dataType>Number</dataType>
                <fieldText>Well Latitude</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>6</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Well_Longitude</name>
                <dataType>Number</dataType>
                <fieldText>Well Longitude</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>6</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Well_Closed</name>
                <choiceReferences>WellClosedPicklist</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Well Closed</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>76</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GW_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PermitApp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurfacePump</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
    <variables>
        <name>SurfacePumpCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
    <variables>
        <name>SW_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>WellData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
    <variables>
        <name>WellDataCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
</Flow>
