force-app/main/default/flows/AVO_Edit_Meter_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Updated_Meter_Withdrawal_To_Collection</name>
        <label>Add Updated Meter Withdrawal To Collection</label>
        <locationX>2294</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>Updated_Meter_Withdrawals</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Meter_Withdrawals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Meter_Withdrawals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Update_Fields</name>
        <label>Assign Meter Update Fields</label>
        <locationX>2074</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>Meter_Update.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Update_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Meter_Application_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Transaction</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Number</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Meter_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Permit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Withdrawal.AVO_Permit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Withdrawal.AVO_Permit__r.MUSW__Applicant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Withdrawal.AVO_Permit__r.AVO_County_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Application_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Withdrawal.AVO_Permit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Installation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Installation_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Meter_Geolocation__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Meter_Geolocation__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Meter_Geolocation__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Meter_Geolocation__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Inventory_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Inventory_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Current_Meter_Reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Current_Meter_Reading__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Multiplier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Unit_Of_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Unit_Of_Measure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Irrigation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Irrigation_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Irrigation_Type_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Irrigation_Type_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Meter_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Meter_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Meter_Location_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Meter_Location_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Meter_Mounting_Orientation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Meter_Mounting_Orientation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Pipe_Type_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Pipe_Type_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Pipe_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Pipe_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Pipe_Length_Upstream_0_200__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Pipe_Length_Upstream_0_200__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Pipe_Length_Downstream_0_200__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Pipe_Length_Downstream_0_200__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Inside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Inside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Outside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Outside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Flow_Straightener_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Flow_Straightener_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Vanes_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Vanes_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Reason_Not_To_Spec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Reason_Not_To_Spec__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Installed_Per_Specification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Installed_Per_Specification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Crop_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Crop_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Digital_Photo_Attached__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Name_Of_Installer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Name_Of_Installer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Source_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Source_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Pump_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Pump_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Source_Withdrawal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Source_Withdrawal_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Installer_Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Approval.AVO_Installer_Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Update_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Removal_Date_Fields</name>
        <label>Assign Removal Date Fields</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Meter_Update_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enter Removal Date</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Update_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Discovered_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Discovered_By_Enter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Discovery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Discovery_Date_Enter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Removal_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Removal_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Meter_Installation_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_Type</name>
        <label>Assign Update Type</label>
        <locationX>2074</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Meter_Update_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meter Location Change</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Meter_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Withdrawal_To_Meter_Withdrawal_Movement</name>
        <label>Assign Withdrawal To Meter Withdrawal Movement</label>
        <locationX>2206</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Withdrawal_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Withdrawal_ID_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Withdrawal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Meter_Update_Fields</name>
        <label>Assign Meter Update Fields</label>
        <locationX>2338</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>Meter_Update.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Update_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Meter_Application_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Transaction</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Number</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Meter_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Permit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Withdrawal.AVO_Permit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Withdrawal.AVO_Permit__r.MUSW__Applicant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Withdrawal.AVO_Permit__r.AVO_County_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Application_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Withdrawal.AVO_Permit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_Update_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Removal_Date_Fields</name>
        <label>Copy 1 of Assign Removal Date Fields</label>
        <locationX>1810</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Meter_Update_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Undo Removal Date</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Change_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Discovered_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Discovered_By_Undo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Discovery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Discovery_Date_Undo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Comment_Undo_Removal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Meter_Installation_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Meter_Update_Fields</name>
        <label>Copy 2 of Assign Meter Update Fields</label>
        <locationX>1700</locationX>
        <locationY>3410</locationY>
        <assignmentItems>
            <assignToReference>Meter_Update.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Update_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Meter_Application_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Transaction</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Number</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Meter_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Meter_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Update_Type</name>
        <label>Assign Update Type</label>
        <locationX>2338</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Meter_Update_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meter Movement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Meter_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Meter_Withdrawal</name>
        <label>Update Meter Withdrawal</label>
        <locationX>2294</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Meter_Withdrawals.AVO_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Meter_Withdrawals.AVO_Pending_Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Update.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Meter_Withdrawals.AVO_Delete_Association__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Meter_Withdrawal_To_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>enterRemovalDateChoice</name>
        <choiceText>Enter Removal Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Enter Removal Date</stringValue>
        </value>
    </choices>
    <choices>
        <name>meterLocationChangeChoice</name>
        <choiceText>Meter Location Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meter Location Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>meterMovementChoice</name>
        <choiceText>Meter Movement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meter Movement</stringValue>
        </value>
    </choices>
    <choices>
        <name>undoRemovalDateChoice</name>
        <choiceText>Undo Removal Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Undo Removal Date</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Approved_Active_On_Site</name>
        <label>Check Approved Active On Site</label>
        <locationX>1194</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Not_Active_On_Site_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Approved Active On Site</defaultConnectorLabel>
        <rules>
            <name>Approved_Active_On_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Meter_Record.AVO_Meter_Installation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved and Active On Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Removal_Date_Screen</targetReference>
            </connector>
            <label>Approved Active On Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Installation_Status</name>
        <label>Check Installation Status</label>
        <locationX>842</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Assign_Meter_Update_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Double_Metered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Update.AVO_Update_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Double Metered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Meter_Inventory_Status</targetReference>
            </connector>
            <label>Double Metered</label>
        </rules>
        <rules>
            <name>Dead_On_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Update.AVO_Update_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dead on Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Meter_Inventory_Status</targetReference>
            </connector>
            <label>Dead On Site</label>
        </rules>
        <rules>
            <name>Missing_Meter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Update.AVO_Update_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missing Meter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Meter_Inventory_Status</targetReference>
            </connector>
            <label>Missing Meter</label>
        </rules>
        <rules>
            <name>Retrieved_Meter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Update.AVO_Update_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retrieved Meter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_Meter_Inventory_Status</targetReference>
            </connector>
            <label>Retrieved Meter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Removal_Date_Type</name>
        <label>Check Removal Date Type</label>
        <locationX>1700</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Permit_Selection_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enter_Removal_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enterRemovalDateChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Approved_Active_On_Site</targetReference>
            </connector>
            <label>Enter Removal Date</label>
        </rules>
        <rules>
            <name>Undo_Removal_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>undoRemovalDateChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Undo_Removal_Date_Screen</targetReference>
            </connector>
            <label>Undo Removal Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Update_Type</name>
        <label>Check Update Type</label>
        <locationX>2206</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Meter_Update_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Meter Movement Selected</defaultConnectorLabel>
        <rules>
            <name>Meter_Location_Change_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>meterLocationChangeChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Meter_Update_Fields</targetReference>
            </connector>
            <label>Meter Location Change Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_This_Meter_Have_Active_Withdrawal</name>
        <label>Does This Meter Have Active Withdrawal?</label>
        <locationX>1738</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Active_Withdrawals_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Meter Has No Active Withdrawal</defaultConnectorLabel>
        <rules>
            <name>Meter_Has_Active_Withdrawal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Meter_Withdrawal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Meter_Update</targetReference>
            </connector>
            <label>Meter Has Active Withdrawal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_An_Existing_Meter_Update</name>
        <label>Is There An Existing Meter Update?</label>
        <locationX>875</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Edit_Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing Meter Update</defaultConnectorLabel>
        <rules>
            <name>Existing_Meter_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Meter_Update</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Meter_Update_Screen</targetReference>
            </connector>
            <label>Existing Meter Update</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Application_RCS</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Water Withdrawal Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Active_Meter_Withdrawal.AVO_Withdrawal_ID__r.AVO_Permit__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Water Withdrawal Permit</stringValue>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <outputAssignments>
            <assignToReference>Permit_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>changeStatusPCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_Change_Status__c</picklistField>
        <picklistObject>AVO_Meter_Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>discoveredByPCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_Discovered_By__c</picklistField>
        <picklistObject>AVO_Meter_Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>updateTypePCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_Update_Type__c</picklistField>
        <picklistObject>AVO_Meter_Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Withdrawal_CCS</name>
        <collectionReference>Get_Withdrawals</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>AVO_Withdrawals__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>AVO Edit Meter Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Edit Meter Button</label>
    <loops>
        <name>Loop_Through_Meter_Withdrawals</name>
        <label>Loop Through Meter Withdrawals</label>
        <locationX>2206</locationX>
        <locationY>2378</locationY>
        <collectionReference>Get_Related_Meter_Withdrawals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Meter_Withdrawal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Meter_Withdrawals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Meter_Update</name>
        <label>Copy 1 of Create Meter Update</label>
        <locationX>1700</locationX>
        <locationY>3518</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>Meter_Update</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Meter_Update</name>
        <label>Create Meter Update</label>
        <locationX>2206</locationX>
        <locationY>2162</locationY>
        <connector>
            <targetReference>Get_Related_Meter_Withdrawals</targetReference>
        </connector>
        <inputReference>Meter_Update</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Meter_Withdrawal</name>
        <label>Create New Meter Withdrawal</label>
        <locationX>2206</locationX>
        <locationY>2894</locationY>
        <connector>
            <targetReference>Update_Meter_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>AVO_Initiating_Transaction_ID__c</field>
            <value>
                <elementReference>Meter_Update.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_ID__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Pending_Transaction_ID__c</field>
            <value>
                <elementReference>Meter_Update.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Withdrawal_ID__c</field>
            <value>
                <elementReference>Meter_Update.AVO_Withdrawal_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Meter_Withdrawal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Meter_Withdrawal</name>
        <label>Get Active Meter Withdrawal</label>
        <locationX>1738</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_This_Meter_Have_Active_Withdrawal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Meter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Withdrawal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Meter_Update</name>
        <label>Get Existing Meter Update</label>
        <locationX>875</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_An_Existing_Meter_Update</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</filterLogic>
        <filters>
            <field>AVO_Meter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Update</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Meter_Application_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Meter_Application_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Meter_Update_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Location Change</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Meter_Update_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Movement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Approval</name>
        <label>Get Meter Approval</label>
        <locationX>2206</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Update_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_Meter_Withdrawal.AVO_Initiating_Transaction_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Record</name>
        <label>Get Meter Record</label>
        <locationX>1700</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Removal_Date_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Update_Record_Type</name>
        <label>Get Meter Update Record Type</label>
        <locationX>1700</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Meter_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Meter_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter_Update</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Meter_Withdrawals</name>
        <label>Get Related Meter Withdrawals</label>
        <locationX>2206</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Meter_Withdrawals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Meter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AVO_Meter_Withdrawal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Withdrawal</name>
        <label>Get Withdrawal</label>
        <locationX>2206</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Meter_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Meter_Update.AVO_Withdrawal_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Withdrawals__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Withdrawals</name>
        <label>Get Withdrawals</label>
        <locationX>2206</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Withdrawal_Selection_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Permit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Permit_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AVO_Withdrawals__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Meter_Installation_Status</name>
        <label>Copy 1 of Update Meter Installation Status</label>
        <locationX>1810</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Copy_2_of_Assign_Meter_Update_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Inventory_Status__c</field>
            <value>
                <stringValue>Installed Meter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_Installation_Status__c</field>
            <value>
                <elementReference>Meter_Update.AVO_Change_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Meter_Inventory_Status</name>
        <label>Copy 1 of Update Meter Inventory Status</label>
        <locationX>578</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Copy_2_of_Assign_Meter_Update_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Inventory_Status__c</field>
            <value>
                <stringValue>Dead On Site</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Meter_Inventory_Status</name>
        <label>Copy 2 of Update Meter Inventory Status</label>
        <locationX>842</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Copy_2_of_Assign_Meter_Update_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Inventory_Status__c</field>
            <value>
                <stringValue>Missing Meter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Read_Meter__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Reason_Meter_Not_Read__c</field>
            <value>
                <stringValue>METER MISSING</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Meter_Inventory_Status</name>
        <label>Copy 3 of Update Meter Inventory Status</label>
        <locationX>1106</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Copy_2_of_Assign_Meter_Update_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Inventory_Status__c</field>
            <value>
                <stringValue>Meter Retrieved - To Be Reused</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Installation_Status</name>
        <label>Update Meter Installation Status</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Check_Installation_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Meter_Installation_Status__c</field>
            <value>
                <elementReference>Meter_Update.AVO_Update_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Inventory_Status</name>
        <label>Update Meter Inventory Status</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Copy_2_of_Assign_Meter_Update_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Inventory_Status__c</field>
            <value>
                <stringValue>Double Metered</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Status</name>
        <label>Update Meter Status</label>
        <locationX>2206</locationX>
        <locationY>3002</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Meter_Installation_Status__c</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Status__c</field>
            <value>
                <stringValue>To be Updated</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Withdrawals</name>
        <label>Update Meter Withdrawals</label>
        <locationX>2206</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>Create_New_Meter_Withdrawal</targetReference>
        </connector>
        <inputReference>Updated_Meter_Withdrawals</inputReference>
    </recordUpdates>
    <screens>
        <name>Edit_Confirmation_Screen</name>
        <label>Edit Confirmation Screen</label>
        <locationX>1700</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Meter_Update_Type_Selection</targetReference>
        </connector>
        <fields>
            <name>Edit_Confirmation_Message</name>
            <fieldText>&lt;p&gt;Are you sure you wish to edit this meter? A meter update record will be created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Removal_Date_Screen</name>
        <label>Enter Removal Date Screen</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Removal_Date_Fields</targetReference>
        </connector>
        <fields>
            <name>Update_Type</name>
            <choiceReferences>updateTypePCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Update Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Discovered_By_Enter</name>
            <choiceReferences>discoveredByPCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Discovered By</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Discovery_Date_Enter</name>
            <dataType>Date</dataType>
            <fieldText>Discovery Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Removal_Reason</name>
            <fieldText>Removal Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_Meter_Update_Screen</name>
        <label>Existing Meter Update Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Existing_Meter_Update_Message</name>
            <fieldText>&lt;p&gt;There is an in-progress Meter Update on this Meter, please complete it before creating another Meter Update.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Meter_Update_Type_Selection</name>
        <label>Meter Update Type Selection</label>
        <locationX>1700</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Meter_Update_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Meter_Update_Type_Body</name>
            <fieldText>&lt;p&gt;Choose the type of Meter Update&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_Update_Type</name>
            <choiceReferences>meterLocationChangeChoice</choiceReferences>
            <choiceReferences>meterMovementChoice</choiceReferences>
            <choiceReferences>enterRemovalDateChoice</choiceReferences>
            <choiceReferences>undoRemovalDateChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Meter Update Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Active_Withdrawals_Screen</name>
        <label>No Active Withdrawals Screen</label>
        <locationX>2602</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Active_Withdrawals_Message</name>
            <fieldText>&lt;p&gt;This meter cannot be moved because it is not related to a withdrawal.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Active_On_Site_Screen</name>
        <label>Not Active On Site Screen</label>
        <locationX>1546</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_Active_On_Site_Body</name>
            <fieldText>&lt;p&gt;You cannot enter removal date for a meter that is not approved and active on site.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Permit_Selection_Screen</name>
        <label>Permit Selection Screen</label>
        <locationX>2206</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Withdrawals</targetReference>
        </connector>
        <fields>
            <name>Existing_Application_ID</name>
            <choiceReferences>Application_RCS</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Application/Permit Number</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Search Applications...</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>2206</locationX>
        <locationY>3110</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;A new Meter Update record has been created. Click &lt;a href=&quot;/{!Meter_Update.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; to open it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Undo_Removal_Date_Screen</name>
        <label>Undo Removal Date Screen</label>
        <locationX>1810</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Removal_Date_Fields</targetReference>
        </connector>
        <fields>
            <name>Change_Status</name>
            <choiceReferences>changeStatusPCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Change Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Discovered_By_Undo</name>
            <choiceReferences>discoveredByPCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Discovered By</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Discovery_Date_Undo</name>
            <dataType>Date</dataType>
            <fieldText>Discovery Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Comment</name>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Withdrawal_Selection_Screen</name>
        <label>Withdrawal Selection Screen</label>
        <locationX>2206</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Withdrawal_To_Meter_Withdrawal_Movement</targetReference>
        </connector>
        <fields>
            <name>Withdrawal_ID_Picklist</name>
            <choiceReferences>Withdrawal_CCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Withdrawal ID</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1612</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Meter_Withdrawal</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Meter_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Permit_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Updated_Meter_Withdrawals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Withdrawal__c</objectType>
    </variables>
</Flow>
