force-app/main/default/flows/AVO_Meter_Update_Review_Approved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Updated_Meter_Withdrawal_To_Collection</name>
        <label>Add Updated Meter Withdrawal To Collection</label>
        <locationX>666</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Updated_Meter_Withdrawal_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Meter_Withdrawals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Meter_Withdrawals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Update_Status</name>
        <label>Assign Meter Update Status</label>
        <locationX>182</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>Meter_Update.AVO_Meter_Application_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Meter_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Withdrawal_True</name>
        <label>Set New Withdrawal True</label>
        <locationX>534</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>New_Withdrawal_Boolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Meter_Withdrawal_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Meter_Withdrawal_Values_Data_Table_4</name>
        <label>Update Meter Withdrawal Values Data Table 4</label>
        <locationX>270</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Meter_Withdrawals.AVO_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Meter_Withdrawals.AVO_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Meter_Withdrawals.AVO_Delete_Association__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Meter_Withdrawal_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Meter_Withdrawal_Values_Data_Table_5</name>
        <label>Update Meter Withdrawal Values Data Table 5</label>
        <locationX>534</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Meter_Withdrawals.AVO_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Meter_Withdrawals.AVO_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Meter_Withdrawals.AVO_Pending_Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Set_New_Withdrawal_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Meter_Withdrawal_Values_Data_Table_6</name>
        <label>Update Meter Withdrawal Values Data Table 6</label>
        <locationX>798</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Meter_Withdrawals.AVO_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Meter_Withdrawals.AVO_Pending_Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_New_Withdrawal_True</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Parent_Meter_Update_Exist</name>
        <label>Does Parent Meter Update Exist?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No Parent Meter Update</defaultConnectorLabel>
        <rules>
            <name>Parent_Meter_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Update</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Meter</targetReference>
            </connector>
            <label>Parent Meter Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fields_Check</name>
        <label>Fields Check</label>
        <locationX>666</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Add_Updated_Meter_Withdrawal_To_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_Association_is_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Meter_Withdrawals.AVO_Delete_Association__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Meter_Withdrawal_Values_Data_Table_4</targetReference>
            </connector>
            <label>Delete Association is Checked</label>
        </rules>
        <rules>
            <name>Start_Date_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Meter_Withdrawals.AVO_Delete_Association__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Meter_Withdrawals.AVO_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Meter_Withdrawal_Values_Data_Table_5</targetReference>
            </connector>
            <label>Start Date is Blank</label>
        </rules>
        <rules>
            <name>Start_Date_is_not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Meter_Withdrawals.AVO_Delete_Association__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Meter_Withdrawals.AVO_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Meter_Withdrawal_Values_Data_Table_6</targetReference>
            </connector>
            <label>Start Date is not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Type_Check</name>
        <label>Update Type Check</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Meter_Installation_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Meter Location Change</defaultConnectorLabel>
        <rules>
            <name>Meter_Movement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Update.AVO_Meter_Update_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Movement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Meter_Installation_Status</targetReference>
            </connector>
            <label>Meter Movement</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO Meter Update Review Approved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Meter Update Review Approved</label>
    <loops>
        <name>Loop_Through_Meter_Withdrawals</name>
        <label>Loop Through Meter Withdrawals</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Related_Meter_Withdrawals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fields_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Meter_Withdrawals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Meter</name>
        <label>Get Meter</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Type_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Meter_Update.AVO_Meter_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Meter_Update</name>
        <label>Get Parent Meter Update</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Parent_Meter_Update_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Meter_Transaction__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Update</stringValue>
            </value>
        </filters>
        <object>AVO_Meter_Transaction__c</object>
        <outputReference>Meter_Update</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AVO_Installation_Status__c</queriedFields>
        <queriedFields>AVO_Old_Meter_Reading__c</queriedFields>
        <queriedFields>AVO_Current_Meter_Reading__c</queriedFields>
        <queriedFields>AVO_Installation_Type__c</queriedFields>
        <queriedFields>AVO_Meter_Maintenance_ID__c</queriedFields>
        <queriedFields>AVO_Inventory_Status__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>AVO_Battery__c</queriedFields>
        <queriedFields>AVO_Disposal_Batch_ID__c</queriedFields>
        <queriedFields>AVO_Disposal_Method__c</queriedFields>
        <queriedFields>AVO_Disposed_By__c</queriedFields>
        <queriedFields>AVO_Disposed_Date__c</queriedFields>
        <queriedFields>AVO_Inside_Pipe_Diam_In__c</queriedFields>
        <queriedFields>AVO_Make__c</queriedFields>
        <queriedFields>AVO_Meter_Geolocation__Latitude__s</queriedFields>
        <queriedFields>AVO_Meter_Geolocation__Longitude__s</queriedFields>
        <queriedFields>AVO_Meter_Geolocation__c</queriedFields>
        <queriedFields>AVO_Storage_Location__c</queriedFields>
        <queriedFields>AVO_Meter_Read_Amount__c</queriedFields>
        <queriedFields>AVO_Meter_Last_Read_Date__c</queriedFields>
        <queriedFields>AVO_Meter_On_Site_ID__c</queriedFields>
        <queriedFields>AVO_Meter_Order_ID__c</queriedFields>
        <queriedFields>AVO_Meter_Orientation__c</queriedFields>
        <queriedFields>AVO_Model__c</queriedFields>
        <queriedFields>AVO_Outside_Pipe_Diam_In__c</queriedFields>
        <queriedFields>AVO_Purchase_Date__c</queriedFields>
        <queriedFields>AVO_Source_Type__c</queriedFields>
        <queriedFields>AVO_State_Purchased__c</queriedFields>
        <queriedFields>AVO_Meter_ID__c</queriedFields>
        <queriedFields>AVO_Alternate_Meter_Serial_Number_MSN__c</queriedFields>
        <queriedFields>AVO_Meter_Update_Type__c</queriedFields>
        <queriedFields>AVO_Application_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Meter_Withdrawals</name>
        <label>Get Related Meter Withdrawals</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Meter_Withdrawals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Meter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Meter_Update.AVO_Meter_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AVO_Meter_Withdrawal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Meter_Installation_Status</name>
        <label>Copy 1 of Update Meter Installation Status</label>
        <locationX>314</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Assign_Meter_Update_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Meter_Update.AVO_Meter_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Meter_Installation_Status__c</field>
            <value>
                <stringValue>Approved and Active On Site</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter</name>
        <label>Update Meter</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Related_Meter_Withdrawals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Meter_Update.AVO_Meter_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Permit_Number__c</field>
            <value>
                <elementReference>Meter_Update.AVO_Application_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Installation_Status</name>
        <label>Update Meter Installation Status</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Assign_Meter_Update_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Meter_Update.AVO_Meter_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Meter_Installation_Status__c</field>
            <value>
                <stringValue>Meter Moved</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Update</name>
        <label>Update Meter Update</label>
        <locationX>182</locationX>
        <locationY>2087</locationY>
        <inputReference>Meter_Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Withdrawals</name>
        <label>Update Meter Withdrawals</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Get_Meter</targetReference>
        </connector>
        <inputReference>Updated_Meter_Withdrawal_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Meter_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Installation Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MUSW__Review__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Meter_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Transaction__c</objectType>
    </variables>
    <variables>
        <name>New_MOSID</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>New_Withdrawal_Boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Old_Initiating_Transaction_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Old_Start_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Updated_Meter_Withdrawal_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Withdrawal__c</objectType>
    </variables>
</Flow>
