force-app/main/default/flows/AVO_Compliance_Document_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_value_for_RFI</name>
        <label>Assign value for RFI</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>DocumentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RFI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Compliance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_value_for_RFI</name>
        <label>Copy 1 of Assign value for RFI</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>DocumentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_NOV_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Compliance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_value_for_RFI</name>
        <label>Copy 2 of Assign value for RFI</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>DocumentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Administrative Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Compliance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_value_for_RFI</name>
        <label>Copy 3 of Assign value for RFI</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>DocumentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consent Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Compliance</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_Documnets</name>
        <label>Checking Documnets</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsRFI_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_IsRFI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.AVO_IsRFI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.AVO_IsRFI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_for_RFI</targetReference>
            </connector>
            <label>IsRFI is Yes</label>
        </rules>
        <rules>
            <name>IsNOV_is_Yes</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 4 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Is_NOV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AVO_Is_NOV__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AVO_Is_NOV__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AVO_NOV_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AVO_NOV_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AVO_NOV_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_value_for_RFI</targetReference>
            </connector>
            <label>IsNOV is Yes</label>
        </rules>
        <rules>
            <name>Is_Administrative_Order_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Is_Administrative_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AVO_Is_Administrative_Order__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AVO_Is_Administrative_Order__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_value_for_RFI</targetReference>
            </connector>
            <label>Is Administrative Order is Yes</label>
        </rules>
        <rules>
            <name>Is_Consent_Order_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Is_Consent_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AVO_Is_Consent_Order__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AVO_Is_Consent_Order__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_value_for_RFI</targetReference>
            </connector>
            <label>Is Consent Order is Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO Compliance Document Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Compliance Document Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Compliance</name>
        <label>Update Compliance</label>
        <locationX>578</locationX>
        <locationY>623</locationY>
        <inputAssignments>
            <field>AVO_Document__c</field>
            <value>
                <elementReference>DocumentName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_Documnets</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AVO_CompAction__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_CompAction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AVO_Compliance__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>DocumentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
