force-app/main/default/flows/AVO_Site_Visit_Report_Requester_Review_Accept.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Compliance_Review_Check</name>
        <label>Compliance Review Check</label>
        <locationX>446</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>WWSA_Review_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Compliance Review not Selected</defaultConnectorLabel>
        <rules>
            <name>Compliance_Review_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Site_Visit_Report.AVO_Units_to_Review__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Compliance_Queue</targetReference>
            </connector>
            <label>Compliance Review Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Site_Visit_Report_Exist</name>
        <label>Does Site Visit Report Exist?</label>
        <locationX>501</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Site Visit Report Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Site_Visit_Report_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Site_Visit_Report</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Units_to_Review_blank</targetReference>
            </connector>
            <label>Site Visit Report Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>GIS_Review_Check</name>
        <label>GIS Review Check</label>
        <locationX>446</locationX>
        <locationY>2495</locationY>
        <defaultConnectorLabel>GIS Review not Selected</defaultConnectorLabel>
        <rules>
            <name>GIS_Review_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Site_Visit_Report.AVO_Units_to_Review__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>GIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GIS_Queue</targetReference>
            </connector>
            <label>GIS Review Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Units_to_Review_blank</name>
        <label>Is Units to Review blank?</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Site_Visit_Report_Additional_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Units to Review is not blank</defaultConnectorLabel>
        <rules>
            <name>Units_to_Review_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Site_Visit_Report.AVO_Units_to_Review__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Site_Visit_Report_Complete</targetReference>
            </connector>
            <label>Units to Review is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Metering_Review_Check</name>
        <label>Metering Review Check</label>
        <locationX>446</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Compliance_Review_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Metering Review not Selected</defaultConnectorLabel>
        <rules>
            <name>Metering_Review_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Site_Visit_Report.AVO_Units_to_Review__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Metering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Metering_Queue</targetReference>
            </connector>
            <label>Metering Review Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Permitting_Review_Check</name>
        <label>Permitting Review Check</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Metering_Review_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Permitting Review not Selected</defaultConnectorLabel>
        <rules>
            <name>Permitting_Review_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Site_Visit_Report.AVO_Units_to_Review__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Permitting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permitting_Queue</targetReference>
            </connector>
            <label>Permitting Review Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>WWSA_Review_Check</name>
        <label>WWSA Review Check</label>
        <locationX>446</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>GIS_Review_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WWSA Review not Selected</defaultConnectorLabel>
        <rules>
            <name>WWSA_Review_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Site_Visit_Report.AVO_Units_to_Review__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>WWSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WWSA_Queue</targetReference>
            </connector>
            <label>WWSA Review Selected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO Site Visit Report Requester Review Accept {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Site Visit Report Requester Review Accept</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Compliance_Review</name>
        <label>Create Compliance Review</label>
        <locationX>314</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>WWSA_Review_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>AVO_Inspection__c</field>
            <value>
                <elementReference>$Record.AVO_Inspection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Type__c</field>
            <value>
                <stringValue>Compliance Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Compliance_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Site_Visit_Review_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_GIS_Review</name>
        <label>Create GIS Review</label>
        <locationX>314</locationX>
        <locationY>2711</locationY>
        <inputAssignments>
            <field>AVO_Inspection__c</field>
            <value>
                <elementReference>$Record.AVO_Inspection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Type__c</field>
            <value>
                <stringValue>GIS Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_GIS_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Site_Visit_Review_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Metering_Review</name>
        <label>Create Metering Review</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Compliance_Review_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>AVO_Inspection__c</field>
            <value>
                <elementReference>$Record.AVO_Inspection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Type__c</field>
            <value>
                <stringValue>Metering Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Metering_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Site_Visit_Review_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Permitting_Review</name>
        <label>Create Permitting Review</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Metering_Review_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>AVO_Inspection__c</field>
            <value>
                <elementReference>$Record.AVO_Inspection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Type__c</field>
            <value>
                <stringValue>Permitting Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Permitting_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Site_Visit_Review_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_WWSA_Review</name>
        <label>Create WWSA Review</label>
        <locationX>314</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>GIS_Review_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>AVO_Inspection__c</field>
            <value>
                <elementReference>$Record.AVO_Inspection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Type__c</field>
            <value>
                <stringValue>WWSA Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_WWSA_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Site_Visit_Review_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Compliance_Queue</name>
        <label>Get Compliance Queue</label>
        <locationX>314</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Compliance_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliance_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GIS_Queue</name>
        <label>Get GIS Queue</label>
        <locationX>314</locationX>
        <locationY>2603</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_GIS_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GIS_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metering_Queue</name>
        <label>Get Metering Queue</label>
        <locationX>314</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Metering_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Metering_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Site_Visit_Report</name>
        <label>Get Parent Site Visit Report</label>
        <locationX>501</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Site_Visit_Report_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Inspection__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site Visit Report</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Inspection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permitting_Queue</name>
        <label>Get Permitting Queue</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Permitting_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permitting_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Visit_Review_Record_Type</name>
        <label>Get Site Visit Review Record Type</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permitting_Review_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MUSW__Review__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Site_Visit_Review</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WWSA_Queue</name>
        <label>Get WWSA Queue</label>
        <locationX>314</locationX>
        <locationY>2195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_WWSA_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WWSA_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Site_Visit_Report_Additional_Review</name>
        <label>Update Site Visit Report Additional Review</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Site_Visit_Review_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Inspection__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Additional Review</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Inspection__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Site_Visit_Report_Complete</name>
        <label>Update Site Visit Report Complete</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Site_Visit_Request_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Inspection__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Inspection__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Site_Visit_Request_Complete</name>
        <label>Update Site Visit Request Complete</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Site_Visit_Report.AVO_Site_Visit_Request__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Inspection__c</object>
    </recordUpdates>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Site_Visit_Report</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Requester Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MUSW__Review__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
