force-app/main/default/flows/AVO_AWWA_Creation_Set_Applicant_and_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>AVO AWWA Creation Set Applicant and Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO AWWA Creation Set Applicant and Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Applicant_and_Account_to_Property_Owner_Data</name>
        <label>Update Applicant and Account to Property Owner Data</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Compliances</targetReference>
        </connector>
        <inputAssignments>
            <field>MUSW__Account__c</field>
            <value>
                <elementReference>$Record.AVO_Property_Owner__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Applicant__c</field>
            <value>
                <elementReference>$Record.AVO_Property_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Compliances</name>
        <label>Update Compliances</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Meter_Transactions</targetReference>
        </connector>
        <inputAssignments>
            <field>AVO_LuOwnerO_wnerContactId__c</field>
            <value>
                <elementReference>$Record.AVO_Property_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Compliances__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Transactions</name>
        <label>Update Meter Transactions</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>AVO_Applicant__c</field>
            <value>
                <elementReference>$Record.AVO_Property_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Meter_Transaction_Permit_Number__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Applicant_and_Account_to_Property_Owner_Data</targetReference>
        </connector>
        <filterLogic>((1 OR 5) AND 2 AND 4) OR 3</filterLogic>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Water Withdrawal Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Property_Owner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Undocumented Source</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Property_Owner__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Water Withdrawal Permit</stringValue>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
