force-app/main/default/flows/AVO_Withdrawal_Application_Intake_Triggered_by_Success_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Stages_Assignment_for_Ground_Water</name>
        <label>Stages Assignment for Ground Water</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Application_Header</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New {!Record_Type_Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AVO_Subflow_Ground_Water_Withdrawal_Application_Triggered_by_Success_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stages_Assignment_for_Surface_Water</name>
        <label>Stages Assignment for Surface Water</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Application_Header</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New {!Record_Type_Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AVO_Subflow_Surface_Water_Withdrawal_Application_Triggered_by_Success_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stages_Assignment_for_Well_to_Pond</name>
        <label>Stages Assignment for Well to Pond</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Application_Header</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New {!Record_Type_Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AVO_Subflow_Well_To_Pond_Withdrawal_Application_Triggered_by_Success_Flow_Flow_1</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Ground_Water_Withdrawal_Application_Record_Type_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ground_Water_Withdrawal_Application</stringValue>
        </value>
    </constants>
    <constants>
        <name>Surface_Water_Withdrawal_Application_Record_Type_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Surface_Water_Withdrawal_Application</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Evaluate_Record_Type</name>
        <label>Evaluate Record Type</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ground_Water_Withdrawal_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permit.AVO_Permit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Groundwater</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recordtypes_By_Ground_Water</targetReference>
            </connector>
            <label>Ground Water Withdrawal Application</label>
        </rules>
        <rules>
            <name>Surface_Water_Withdrawal_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permit.AVO_Permit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface Water</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recordtypes_By_Surface_Water</targetReference>
            </connector>
            <label>Surface Water Withdrawal Application</label>
        </rules>
        <rules>
            <name>WelltoPond</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permit.AVO_Permit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Well to Pond</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recordtypes_By_Well_to_Pond_For_Ground_Water</targetReference>
            </connector>
            <label>Well to Pond</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Applicant_Records</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Permit.MUSW__Applicant__r.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Permit.MUSW__Applicant__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Permit.MUSW__Applicant__r.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Permit.MUSW__Applicant__r.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Withdrawal_Record_Types</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ground_Water_Withdrawal_Application_Record_Type_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Surface_Water_Withdrawal_Application_Record_Type_Name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Record_Type_Developer_Name</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>AVO Withdrawal Application Intake - Triggered by Success Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Withdrawal Application Intake - Triggered by Success Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Recordtypes_By_Ground_Water</name>
        <label>Get Recordtypes By Ground Water</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stages_Assignment_for_Ground_Water</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ground_Water_Withdrawal_Application_Record_Type_Name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Record_Type_Developer_Name</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Recordtypes_By_Surface_Water</name>
        <label>Get Recordtypes By Surface Water</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stages_Assignment_for_Surface_Water</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Surface_Water_Withdrawal_Application_Record_Type_Name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Record_Type_Developer_Name</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Recordtypes_By_Well_to_Pond_For_Ground_Water</name>
        <label>Get Recordtypes By Well to Pond For Ground Water</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stages_Assignment_for_Well_to_Pond</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ground_Water_Withdrawal_Application_Record_Type_Name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Record_Type_Developer_Name</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Recordtypes_By_Well_to_Pond_For_Surface_Water</name>
        <label>Get Recordtypes By Well to Pond For Surface Water</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AVO_Subflow_Well_to_Pond_by_Surface_Water_Triggered_by_Success_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Surface_Water_Withdrawal_Application_Record_Type_Name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Record_Type_Developer_Name</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Record_Type_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <sourceTemplate>clariti__Permit_Application_Intake</sourceTemplate>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AVO_Subflow_Ground_Water_Withdrawal_Application_Triggered_by_Success_Flow</name>
        <label>AVO Subflow Ground Water Withdrawal Application - Triggered by Success Flow</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <flowName>AVO_Subflow_Ground_Water_Withdrawal_Application_Triggered_by_Success_Flow</flowName>
        <inputAssignments>
            <name>Permit</name>
            <value>
                <elementReference>Permit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Developer_Name</name>
            <value>
                <elementReference>Record_Type_Developer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Id</name>
            <value>
                <elementReference>Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Stages</name>
            <value>
                <elementReference>Stages</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>AVO_Subflow_Surface_Water_Withdrawal_Application_Triggered_by_Success_Flow</name>
        <label>AVO Subflow Surface Water Withdrawal Application - Triggered by Success Flow</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <flowName>AVO_Subflow_Surface_Water_Withdrawal_Application_Triggered_by_Success_Flow</flowName>
        <inputAssignments>
            <name>Permit</name>
            <value>
                <elementReference>Permit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Developer_Name</name>
            <value>
                <elementReference>Record_Type_Developer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Id</name>
            <value>
                <elementReference>Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Stages</name>
            <value>
                <elementReference>Stages</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>AVO_Subflow_Well_to_Pond_by_Surface_Water_Triggered_by_Success_Flow</name>
        <label>AVO Subflow Well to Pond by  Surface Water - Triggered by Success Flow</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <flowName>AVO_Subflow_Surface_Water_Withdrawal_Application_Triggered_by_Success_Flow</flowName>
        <inputAssignments>
            <name>Permit</name>
            <value>
                <elementReference>Permit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Developer_Name</name>
            <value>
                <elementReference>Record_Type_Developer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Id</name>
            <value>
                <elementReference>Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Stages</name>
            <value>
                <elementReference>Stages</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>AVO_Subflow_Well_To_Pond_Withdrawal_Application_Triggered_by_Success_Flow_Flow_1</name>
        <label>AVO Subflow Well To Pond Withdrawal Application - Triggered by Success Flow Flow 1</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Recordtypes_By_Well_to_Pond_For_Surface_Water</targetReference>
        </connector>
        <flowName>AVO_Subflow_Well_To_Pond_Withdrawal_Application_Triggered_by_Success_Flow</flowName>
        <inputAssignments>
            <name>Permit</name>
            <value>
                <elementReference>Permit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Developer_Name</name>
            <value>
                <elementReference>Record_Type_Developer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Id</name>
            <value>
                <elementReference>Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Stages</name>
            <value>
                <elementReference>Stages</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Application_Header</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Withdrawals</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
</Flow>
