force-app/main/default/flows/AVO_AWWP_GIS_Mapping_Task_Completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Default_Alert_Message</name>
        <label>Assign Default Alert Message</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Alert_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete GIS Permit Mapping Task First</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Relinquish_Alert_Message</name>
        <label>Assign Relinquish Alert Message</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Alert_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete GIS Permit Mapping and Ownership Validation and Update Tasks First</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Permit_To_Permit_Approval</name>
        <label>Update Permit To Permit Approval</label>
        <locationX>50</locationX>
        <locationY>2183</locationY>
        <assignmentItems>
            <assignToReference>Related_Permit.MUSW__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Permit Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Permit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Alert_Exist</name>
        <label>Does Alert Exist?</label>
        <locationX>611</locationX>
        <locationY>1583</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Alert_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permit_Alert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Alerts_From_Permit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Final_Evaluation_Review_Exist</name>
        <label>Does Final Evaluation Review Exist?</label>
        <locationX>380</locationX>
        <locationY>1943</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Final_Evaluation_Review_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Final_Evaluation_Review</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Final_Evaluation_Review_Completed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Ownership_Task_Exist</name>
        <label>Does Ownership Task Exist?</label>
        <locationX>380</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Ownership_Tasks_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ownership_Validation_and_Update_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Ownership_Task_Completed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Related_Permit_Exist</name>
        <label>Does Related Permit Exist?</label>
        <locationX>858</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Related_Permit_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Permit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Permit_Relinquish</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Final_Evaluation_Review_Completed</name>
        <label>Is Final Evaluation Review Completed?</label>
        <locationX>182</locationX>
        <locationY>2063</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Final_Evaluation_Review_Is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Final_Evaluation_Review.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Permit_To_Permit_Approval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Ownership_Task_Completed</name>
        <label>Is Ownership Task Completed?</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Ownership_Task_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ownership_Validation_and_Update_Task.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Relinquish_Alert_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Permit_Relinquish</name>
        <label>Is Permit Relinquish?</label>
        <locationX>611</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Alert_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Permit_Relinquish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Permit.Permit_History__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relinquish Permit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ownership_Validation_and_Update_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO AWWP GIS Mapping Task Completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO AWWP GIS Mapping Task Completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Alerts_From_Permit</name>
        <label>Delete Alerts From Permit</label>
        <locationX>380</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Get_Final_Evaluation_Review</targetReference>
        </connector>
        <inputReference>Permit_Alert</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Alert</name>
        <label>Get Alert</label>
        <locationX>611</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Alert_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Record_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Related_Permit.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Message__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alert_Message</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notice</stringValue>
            </value>
        </filters>
        <object>MUSW__Alert__c</object>
        <outputReference>Permit_Alert</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Evaluation_Review</name>
        <label>Get Final Evaluation Review</label>
        <locationX>380</locationX>
        <locationY>1823</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Final_Evaluation_Review_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Related_Permit.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final Evaluation Review</stringValue>
            </value>
        </filters>
        <object>MUSW__Review__c</object>
        <outputReference>Related_Final_Evaluation_Review</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Ownership_Validation_and_Update_Task</name>
        <label>Get Ownership Validation and Update Task</label>
        <locationX>380</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Ownership_Task_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Related_Permit.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ownership Validation and Update</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>Ownership_Validation_and_Update_Task</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Permit</name>
        <label>Get Related Permit</label>
        <locationX>858</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Related_Permit_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Water Withdrawal Permit</stringValue>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <outputReference>Related_Permit</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Status__c</queriedFields>
        <queriedFields>Permit_History__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Permit</name>
        <label>Update Permit</label>
        <locationX>50</locationX>
        <locationY>2303</locationY>
        <inputReference>Related_Permit</inputReference>
    </recordUpdates>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Permit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GIS Permit Mapping</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Alert_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GIS_Permit_Mapping_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Ownership_Validation_and_Update_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Permit_Alert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Alert__c</objectType>
    </variables>
    <variables>
        <name>Related_Final_Evaluation_Review</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Review__c</objectType>
    </variables>
    <variables>
        <name>Related_Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
</Flow>
