force-app/main/default/flows/AVO_Undocumented_Convert_Source_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Withdrawal_in_Existing_Application</name>
        <label>Clone Withdrawal in Existing Application</label>
        <locationX>622</locationX>
        <locationY>1190</locationY>
        <actionName>AvoGenericCloneService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Existing_Application</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>AVO_Withdrawals__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>includeAttachments</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newParentValue</name>
            <value>
                <elementReference>Get_Existing_Permit_Application.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentApiName</name>
            <value>
                <stringValue>AVO_Permit__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>withdrawalsCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AvoGenericCloneService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Create_New_AWWA_Application_Undocumented</name>
        <label>Create New Revision Record</label>
        <locationX>1722</locationX>
        <locationY>1514</locationY>
        <actionName>AvoGenericCloneForundocumented</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_2_of_Loop_through_Permit_IDs</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>MUSW__Permit2__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>includeAttachments</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newParentValue</name>
            <value>
                <elementReference>Copy_1_of_Get_Record_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentApiName</name>
            <value>
                <stringValue>RecordTypeId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>RevisionRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AvoGenericCloneForundocumented</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>permitIds</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_New_AWWA_Application_Undocumented</name>
        <label>Create New AWWA Application Undocumented</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <actionName>AvoGenericCloneForundocumented</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_Permit_IDs</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>MUSW__Permit2__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>includeAttachments</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newParentValue</name>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentApiName</name>
            <value>
                <stringValue>RecordTypeId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>AWWARecords</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AvoGenericCloneForundocumented</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>permitIds</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_AWWA_Collection</name>
        <label>Add to AWWA Collection</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Get_Undocumented_Source_Permit.MUSW__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agricultural Water Withdrawal Application</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Undocumented_Source_Permit.AVO_Undocumented__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Undocumented_Source_Permit.MUSW__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Undocumented_Source_Permit.AVO_Transaction_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Undocumented_Source_Permit.AVO_Volumetric_Limits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.1</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AWWARecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Undocumented_Source_Permit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Revision_Collection</name>
        <label>Add to Revision Collection</label>
        <locationX>1722</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Get_Undocumented_Source_Permit.MUSW__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revision</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Undocumented_Source_Permit.AVO_Undocumented__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Undocumented_Source_Permit.MUSW__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Undocumented_Source_Permit.AVO_Transaction_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Undocumented_Source_Permit.AVO_Permit_Number_to_Modify_or_Transfer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Permit_Application.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Undocumented_Source_Permit.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>revisionNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RevisionRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Undocumented_Source_Permit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Get_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Withdrawal_Collection</name>
        <label>Add to Withdrawal Collection</label>
        <locationX>1304</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>withdrawalsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Related_Withdrawal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Radio_Buttons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AppID</name>
        <label>Assign AppID</label>
        <locationX>1722</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Get_Revision.AVO_AppID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Revision.AVO_Permit_Number_to_Modify_or_Transfer__r.AVO_AppID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_revision_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Collection_to_Permit</name>
        <label>Assign Collection to Permit</label>
        <locationX>270</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>AWWAPermitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Permit_IDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Permit_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_History_Fields</name>
        <label>Assign History Fields</label>
        <locationX>1590</locationX>
        <locationY>3794</locationY>
        <assignmentItems>
            <assignToReference>PermitHistory.AVO_Permit_Number_to_Modify_or_Transfer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Permit_Application.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitHistory.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PermitHistoryNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitHistory.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Revision.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitHistory.MUSW__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revision</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitHistory.AVO_Transaction_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Permit History</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermitHistory.AVO_Transaction_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Permit_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Revision_Count</name>
        <label>Assign Revision Count</label>
        <locationX>1722</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>revisionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Existing_Revisions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Withdrawal_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Revision_Number</name>
        <label>Assign Revision Number</label>
        <locationX>1722</locationX>
        <locationY>3362</locationY>
        <assignmentItems>
            <assignToReference>Get_Revision.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>revisionNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Revision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Transaction_Type_and_Status</name>
        <label>Assign Transaction Type and Status</label>
        <locationX>1194</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>Get_Revision.AVO_Transaction_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Modify Permit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Revision.AVO_Transaction_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Be Modified</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_If_Withdrawals_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Transaction_Type_and_Status</name>
        <label>Assign Transaction Type and Status</label>
        <locationX>1722</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>Get_Revision.AVO_Transaction_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Modify &amp; Update Permit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Revision.AVO_Transaction_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Be Modified &amp; Updated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_If_Withdrawals_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Collection_to_Permit</name>
        <label>Assign Collection to Permit</label>
        <locationX>1810</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>RevisionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Loop_through_Permit_IDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Loop_through_Permit_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Transaction_Type_and_Status</name>
        <label>Assign Transaction Type and Status</label>
        <locationX>1458</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>Get_Revision.AVO_Transaction_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Modify &amp; Transfer Permit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Revision.AVO_Transaction_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Be Modified &amp; Transferred</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_If_Withdrawals_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Update_Modification_Type_Field</name>
        <label>Update Modification Type Field</label>
        <locationX>1722</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Get_Undocumented_Source_Permit.SOG_Modification_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add GW Withdrawal(s)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Revision_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Update_Permit_Type_on_Revision</name>
        <label>Update Permit Type on Revision</label>
        <locationX>1722</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>Get_Revision.AVO_Permit_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Well to Pond</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_2_of_Update_to_Well_To_Pond</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Transaction_Type_and_Status</name>
        <label>Assign Transaction Type and Status</label>
        <locationX>1986</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>Get_Revision.AVO_Transaction_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Correct Permit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Revision.AVO_Transaction_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Be Corrected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_GIS_Application_Mapping_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Permit_History</name>
        <label>Copy Permit History</label>
        <locationX>1590</locationX>
        <locationY>3686</locationY>
        <assignmentItems>
            <assignToReference>PermitHistory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Permit_Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_History_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Modification_Type_Field</name>
        <label>Update Modification Type Field</label>
        <locationX>1458</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Get_Undocumented_Source_Permit.SOG_Modification_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add SW Withdrawal(s)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Revision_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Permit_Type_on_Revision</name>
        <label>Update Permit Type on Revision</label>
        <locationX>1458</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>Get_Revision.AVO_Permit_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Well to Pond</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Revision_Number</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CorrectPermit</name>
        <choiceText>Correct Permit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Correct Permit</stringValue>
        </value>
    </choices>
    <choices>
        <name>MergetoExistingApplication</name>
        <choiceText>Merge to Existing Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Merge to Existing Application</stringValue>
        </value>
    </choices>
    <choices>
        <name>MergetoExistingPermit</name>
        <choiceText>Merge to Existing Permit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Merge to Existing Permit</stringValue>
        </value>
    </choices>
    <choices>
        <name>ModifyandTransfer</name>
        <choiceText>Modify &amp;amp; Transfer Permit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modify &amp; Transfer Permit</stringValue>
        </value>
    </choices>
    <choices>
        <name>ModifyandUpdatePermit</name>
        <choiceText>Modify &amp;amp; Update Permit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modify &amp; Update Permit</stringValue>
        </value>
    </choices>
    <choices>
        <name>ModifyPermit</name>
        <choiceText>Modify Permit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modify Permit</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewApplication</name>
        <choiceText>Convert to New Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Convert to New Application</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_First_Revision</name>
        <label>Check First Revision</label>
        <locationX>1722</locationX>
        <locationY>3578</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Undocumented_Source_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Revision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>revisionCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Permit_History</targetReference>
            </connector>
            <label>First Revision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Withdrawals_Exist</name>
        <label>Check If Withdrawals Exist</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Get_New_AWWA_Permit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Withdrawal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Withdrawal_in_New_Application</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Withdrawals_Exist_1</name>
        <label>Check If Withdrawals Exist</label>
        <locationX>754</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Withdrawal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Withdrawal_in_Existing_Application</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Radio_Buttons</name>
        <label>Check Radio Buttons</label>
        <locationX>1304</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>New_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Convert_source_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Convert to New Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_AWWA_Collection</targetReference>
            </connector>
            <label>New Application</label>
        </rules>
        <rules>
            <name>Existing_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Convert_source_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merge to Existing Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_Existing_Application_Type</targetReference>
            </connector>
            <label>Existing Application</label>
        </rules>
        <rules>
            <name>Existing_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Convert_source_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merge to Existing Permit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Revisions</targetReference>
            </connector>
            <label>Existing Permit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Transaction_Type</name>
        <label>Check Transaction Type</label>
        <locationX>1722</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_If_Withdrawals_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Modify_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ModifyPermit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Transaction_Type_and_Status</targetReference>
            </connector>
            <label>Modify Permit</label>
        </rules>
        <rules>
            <name>Modify_Transfer_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ModifyandTransfer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Transaction_Type_and_Status</targetReference>
            </connector>
            <label>Modify &amp; Transfer Permit</label>
        </rules>
        <rules>
            <name>Modify_Update_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ModifyandUpdatePermit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Transaction_Type_and_Status</targetReference>
            </connector>
            <label>Modify &amp; Update Permit</label>
        </rules>
        <rules>
            <name>Correct_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transaction_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CorrectPermit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Transaction_Type_and_Status</targetReference>
            </connector>
            <label>Correct Permit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Withdrawal_Type</name>
        <label>Check Withdrawal Type</label>
        <locationX>1722</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Add_to_Revision_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Surface_Water_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Withdrawal.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface Water Withdrawal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Withdrawal.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface Water Withdrawal Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Modification_Type_Field</targetReference>
            </connector>
            <label>Surface Water</label>
        </rules>
        <rules>
            <name>Ground_Water_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Withdrawal.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ground Water Withdrawal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Withdrawal.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ground Water Withdrawal Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Modification_Type_Field</targetReference>
            </connector>
            <label>Ground Water</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Existing_Application_Type</name>
        <label>Checking Existing Application Type</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Check_If_Withdrawals_Exist_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Ground_Water</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Permit_Application.AVO_Permit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Groundwater</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Withdrawal.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface Water Withdrawal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Withdrawal.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface Water Withdrawal Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Well_To_Pond</targetReference>
            </connector>
            <label>Ground Water</label>
        </rules>
        <rules>
            <name>Surface_Water</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Permit_Application.AVO_Permit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface Water</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Withdrawal.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ground Water Withdrawal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Withdrawal.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ground Water Withdrawal Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_to_Well_To_Pond</targetReference>
            </connector>
            <label>Surface Water</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_If_Withdrawals_Exist</name>
        <label>Check If Withdrawals Exist</label>
        <locationX>1722</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Checking_Existing_Application_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Withdrawal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Withdrawal_in_Revision</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Checking_Existing_Application_Type</name>
        <label>Checking Existing Application Type</label>
        <locationX>1722</locationX>
        <locationY>2954</locationY>
        <defaultConnector>
            <targetReference>Assign_Revision_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Ground_Water</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Permit_Application.AVO_Permit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Groundwater</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Withdrawal.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface Water Withdrawal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Withdrawal.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface Water Withdrawal Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_to_Well_To_Pond</targetReference>
            </connector>
            <label>Ground Water</label>
        </rules>
        <rules>
            <name>Copy_1_of_Surface_Water</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Permit_Application.AVO_Permit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface Water</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Withdrawal.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ground Water Withdrawal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Withdrawal.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ground Water Withdrawal Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Permit_Type_on_Revision</targetReference>
            </connector>
            <label>Surface Water</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PermitHistoryNumber</name>
        <dataType>String</dataType>
        <expression>{!Get_Existing_Permit_Application.Name} + &quot;-0000&quot;</expression>
    </formulas>
    <formulas>
        <name>revisionNumber</name>
        <dataType>String</dataType>
        <expression>{!Get_Existing_Permit_Application.Name} + &quot;-&quot; + LPAD(TEXT({!revisionCount} + 1) ,4, &quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>Tomorrow</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <interviewLabel>AVO Undocumented Convert Source Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Undocumented Convert Source Button</label>
    <loops>
        <name>Copy_2_of_Loop_through_Permit_IDs</name>
        <label>Loop through Permit IDs</label>
        <locationX>1722</locationX>
        <locationY>1622</locationY>
        <collectionReference>permitIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Assign_Collection_to_Permit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Revision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Permit_IDs</name>
        <label>Loop through Permit IDs</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <collectionReference>permitIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Collection_to_Permit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_Withdrawals_Exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_GIS_Application_Mapping_Task</name>
        <label>Create GIS Application Mapping Task</label>
        <locationX>1986</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_If_Withdrawals_Exist</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Tomorrow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>GIS Application Mapping</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Revision.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Permit_History</name>
        <label>Create Permit History</label>
        <locationX>1590</locationX>
        <locationY>3902</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Undocumented_Source_Status</targetReference>
        </connector>
        <inputReference>PermitHistory</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Withdrawal_in_New_Application</name>
        <label>Create Withdrawal in New Application</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Get_New_AWWA_Permit</targetReference>
        </connector>
        <inputAssignments>
            <field>AVO_2012_Suspension_Areas__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_2012_Suspension_Areas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_ARPAFunded__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_ARPAFunded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_AVO_DateInsCompletDateInsCompleted_C__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_AVO_DateInsCompletDateInsCompleted_C__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Aquifer_ID__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Aquifer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Casing_ft__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Casing_ft__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Critical_LOC__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Critical_LOC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Critical_Stream_Buffer__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Critical_Stream_Buffer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Current_Record__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Current_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Dark_Green_Area__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Dark_Green_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_DateReplaced__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_DateReplaced__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Depth_ft__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Depth_ft__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Diameter_in__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Diameter_in__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_FRBP_Conservation_Area__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_FRBP_Conservation_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_GISDateMapped__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_GISDateMapped__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_GISMappedBy__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_GISMappedBy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Geolocation__Latitude__s</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Geolocation__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Geolocation__Longitude__s</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Geolocation__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_GwAppliedDt__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_GwAppliedDt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Installer_ID__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Installer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Intake_ft__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Intake_ft__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_LOCAppDate__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_LOCAppDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_LOCExpDate__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_LOCExpDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_LOCIssDate__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_LOCIssDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Lithology__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Lithology__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Maximum_Proposed_GPM__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Maximum_Proposed_GPM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Maximum_Pumping_Capacity_GPM__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Maximum_Pumping_Capacity_GPM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Permit__c</field>
            <value>
                <elementReference>AWWAPermitId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Permit_gpm__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Permit_gpm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Planned_Date_of_Installation__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Planned_Date_of_Installation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Priority_Zone__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Priority_Zone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Pump_Activity_Use__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Pump_Activity_Use__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Pump_Test__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Pump_Test__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Status__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Sub_Area_4__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Sub_Area_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_WTP_Well__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_WTP_Well__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_WellInstallType__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_WellInstallType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_WellReplaced__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_WellReplaced__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_WellVettedDate__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_WellVettedDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_WellVetted__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_WellVetted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Closed__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Closed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Data_On_File__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Data_On_File__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Installation_Date__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Installation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Latitude__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Latitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Location__Latitude__s</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Location__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Location__Longitude__s</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Location__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Name__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Number__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Pad__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Pad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Status__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Vetted_By__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Vetted_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Withdrawal_Code__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Withdrawal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AWD_Region__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AWD_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>App_ID__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.App_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coastal_24__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.Coastal_24__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>County__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.County__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNR_River_Basin__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.DNR_River_Basin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HUC08_Name__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.HUC08_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HUC08_Number__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.HUC08_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HUC10_Name__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.HUC10_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HUC10_Number__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.HUC10_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HUC12_Name__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.HUC12_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HUC12_Number__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.HUC12_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>System Number</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_ID__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.Primary_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Related_Withdrawal.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_of_Flow__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.Unit_of_Flow__c</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Withdrawals__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Withdrawal_in_Revision</name>
        <label>Create Withdrawal in Revision</label>
        <locationX>1590</locationX>
        <locationY>2762</locationY>
        <connector>
            <targetReference>Copy_1_of_Checking_Existing_Application_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>AVO_2012_Suspension_Areas__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_2012_Suspension_Areas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_ARPAFunded__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_ARPAFunded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_AVO_DateInsCompletDateInsCompleted_C__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_AVO_DateInsCompletDateInsCompleted_C__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Aquifer_ID__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Aquifer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Casing_ft__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Casing_ft__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Critical_LOC__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Critical_LOC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Critical_Stream_Buffer__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Critical_Stream_Buffer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Current_Record__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Current_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Dark_Green_Area__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Dark_Green_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_DateReplaced__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_DateReplaced__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Depth_ft__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Depth_ft__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Diameter_in__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Diameter_in__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_FRBP_Conservation_Area__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_FRBP_Conservation_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_GISDateMapped__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_GISDateMapped__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_GISMappedBy__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_GISMappedBy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Geolocation__Latitude__s</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Geolocation__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Geolocation__Longitude__s</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Geolocation__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_GwAppliedDt__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_GwAppliedDt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Installer_ID__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Installer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Intake_ft__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Intake_ft__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_LOCAppDate__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_LOCAppDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_LOCExpDate__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_LOCExpDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_LOCIssDate__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_LOCIssDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Lithology__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Lithology__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Maximum_Proposed_GPM__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Maximum_Proposed_GPM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Maximum_Pumping_Capacity_GPM__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Maximum_Pumping_Capacity_GPM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Permit__c</field>
            <value>
                <elementReference>Get_Revision.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Permit_gpm__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Permit_gpm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Planned_Date_of_Installation__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Planned_Date_of_Installation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Priority_Zone__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Priority_Zone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Pump_Activity_Use__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Pump_Activity_Use__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Pump_Test__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Pump_Test__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Status__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Sub_Area_4__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Sub_Area_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_WTP_Well__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_WTP_Well__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_WellInstallType__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_WellInstallType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_WellReplaced__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_WellReplaced__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_WellVettedDate__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_WellVettedDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_WellVetted__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_WellVetted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Closed__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Closed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Data_On_File__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Data_On_File__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Installation_Date__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Installation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Latitude__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Latitude__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Location__Latitude__s</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Location__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Location__Longitude__s</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Location__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Name__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Number__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Pad__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Pad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Status__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well_Vetted_By__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well_Vetted_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Well__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Well__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Withdrawal_Code__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AVO_Withdrawal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AWD_Region__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.AWD_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>App_ID__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.App_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coastal_24__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.Coastal_24__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>County__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.County__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNR_River_Basin__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.DNR_River_Basin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HUC08_Name__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.HUC08_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HUC08_Number__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.HUC08_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HUC10_Name__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.HUC10_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HUC10_Number__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.HUC10_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HUC12_Name__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.HUC12_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HUC12_Number__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.HUC12_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>System Number</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_ID__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.Primary_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Related_Withdrawal.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_of_Flow__c</field>
            <value>
                <elementReference>Get_Related_Withdrawal.Unit_of_Flow__c</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Withdrawals__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Revision</description>
        <name>Copy_1_of_Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>1722</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_New_AWWA_Application_Undocumented</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application_to_Modify_or_Transfer_an_Agricultural_Water_Withdrawal_Permit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MUSW__Permit2__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Permit_Application</name>
        <label>Get Existing Permit/Application</label>
        <locationX>1304</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Withdrawal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>permitLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Revisions</name>
        <label>Get Existing Revisions</label>
        <locationX>1722</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Revision_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Permit_Number_to_Modify_or_Transfer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Permit_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Revision</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Transaction_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Permit History</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_AWWA_Permit</name>
        <label>Get New AWWA Permit</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Update_Undocumented_Source_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AWWAPermitId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_AWWA_Application_Undocumented</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Agricultural_Water_Withdrawal_Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MUSW__Permit2__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Withdrawal</name>
        <label>Get Related Withdrawal</label>
        <locationX>1304</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_Withdrawal_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Permit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Undocumented_Source_Permit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Withdrawals__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Revision</name>
        <label>Get Revision</label>
        <locationX>1722</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AppID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RevisionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Undocumented_Source_Permit</name>
        <label>Get Undocumented Source Permit</label>
        <locationX>1304</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Permit_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Undocumented_Source_Status</name>
        <label>Update Undocumented Source Status</label>
        <locationX>1722</locationX>
        <locationY>4094</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_ActiveRefNo__c</field>
            <value>
                <elementReference>Get_Existing_Permit_Application.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Inactive_Reason__c</field>
            <value>
                <stringValue>Merged to an existing application/permit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Cancelled Undocumented Source</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_to_Well_To_Pond</name>
        <label>Update to Well To Pond</label>
        <locationX>1458</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>Update_Permit_Type_on_Revision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Permit_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Permit_Type__c</field>
            <value>
                <stringValue>Well to Pond</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Undocumented_Source_Status</name>
        <label>Update Undocumented Source Status</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_ActiveRefNo__c</field>
            <value>
                <elementReference>Get_New_AWWA_Permit.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Inactive_Reason__c</field>
            <value>
                <stringValue>Applicant Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Cancelled Undocumented Source</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Application</name>
        <label>Update Existing Application</label>
        <locationX>754</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Update_Undocumented_Source_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Permit_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Revision</name>
        <label>Update Revision</label>
        <locationX>1722</locationX>
        <locationY>3470</locationY>
        <connector>
            <targetReference>Check_First_Revision</targetReference>
        </connector>
        <inputReference>Get_Revision</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_revision_1</name>
        <label>Update revision</label>
        <locationX>1722</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Check_Transaction_Type</targetReference>
        </connector>
        <inputReference>Get_Revision</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Well_To_Pond</name>
        <label>Update to Well To Pond</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Check_If_Withdrawals_Exist_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Permit_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Permit_Type__c</field>
            <value>
                <stringValue>Well to Pond</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Undocumented_Source_Status</name>
        <label>Update Undocumented Source Status</label>
        <locationX>754</locationX>
        <locationY>1490</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_ActiveRefNo__c</field>
            <value>
                <elementReference>Get_Existing_Permit_Application.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Inactive_Reason__c</field>
            <value>
                <stringValue>Merged to an existing application/permit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Cancelled Undocumented Source</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <screens>
        <name>Convert_Source_Screen</name>
        <label>Convert Source Screen</label>
        <locationX>1304</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Undocumented_Source_Permit</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Convert Source&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Convert_source_to</name>
            <choiceReferences>NewApplication</choiceReferences>
            <choiceReferences>MergetoExistingApplication</choiceReferences>
            <choiceReferences>MergetoExistingPermit</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NewApplication</defaultSelectedChoiceReference>
            <fieldText>Convert source to</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>permitLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Enter an existing Application/Permit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AVO_App_ID__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewApplication</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Transaction_Type</name>
            <choiceReferences>ModifyPermit</choiceReferences>
            <choiceReferences>ModifyandTransfer</choiceReferences>
            <choiceReferences>ModifyandUpdatePermit</choiceReferences>
            <choiceReferences>CorrectPermit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Transaction Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MergetoExistingPermit</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Convert</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Convert_Source_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AWWAPermitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AWWARecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>PermitHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>permitIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>revisionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RevisionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RevisionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>withdrawalsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
</Flow>
