force-app/main/default/flows/AVO_GIS_Unique_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Withdrawal_Number</name>
        <label>Assign Withdrawal Number</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Withdrawal_Number</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Withdrawal_Type_No_Version</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Withdrawal_Number_Surface_Water</name>
        <label>Assign Withdrawal Number - Surface Water</label>
        <locationX>2030</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>Withdrawal_Number_Surface_Water</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Withdrawal_Total_Surface_Water</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Application_Permit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Withdrawal_Number_Yes_Version_GroundWater</name>
        <label>Assign Withdrawal Number - Ground Water</label>
        <locationX>2030</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Withdrawal_Number</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Withdrawal_Total_Ground_Water</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Withdrawal_Loop_Surface_Water</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Withdrawal_Total_Ground_Water</name>
        <label>Assign Withdrawal Total - Ground Water</label>
        <locationX>2118</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Withdrawal_Total_Ground_Water</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Withdrawal_Loop_Ground_Water</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Withdrawal_Total_Surface_Water</name>
        <label>Assign Withdrawal Total - Surface Water</label>
        <locationX>2118</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>Withdrawal_Total_Surface_Water</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Withdrawal_Loop_Surface_Water</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_There_Any_Existing_Withdrawals</name>
        <label>Are There Any Existing Withdrawals?</label>
        <locationX>1304</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Withdrawal_Loop_Ground_Water</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Existing_Withdrawals_Ground_Water</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_All_Existing_Withdrawals_Surface_Water</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Withdrawal_Number</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Application_Permit</name>
        <label>Check Application/Permit</label>
        <locationX>2030</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Permit.MUSW__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agricultural Water Withdrawal Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Withdrawal_Type_Yes_Version</targetReference>
            </connector>
            <label>Application</label>
        </rules>
        <rules>
            <name>Permit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Permit.MUSW__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agricultural Water Withdrawal Permit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Permit.MUSW__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_Withdrawal_Type</targetReference>
            </connector>
            <label>Permit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_comes_from_repeater</name>
        <label>Check if comes from repeater</label>
        <locationX>677</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Permit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Check_if_comes_from_repeater__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Withdrawal_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Withdrawal_Type_No_Version</name>
        <label>Check Withdrawal Type</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ground_Water_Withdrawal_No_Version</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ground Water Withdrawal Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GIS_Unique_Field_No_Ground_Version</targetReference>
            </connector>
            <label>Ground Water Withdrawal</label>
        </rules>
        <rules>
            <name>Surface_Water_Withdrawal_No_Version</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface Water Withdrawal Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GIS_Unique_Field_No_Surface_Version</targetReference>
            </connector>
            <label>Surface Water Withdrawal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Withdrawal_Type_Yes_Version</name>
        <label>Check Withdrawal Type</label>
        <locationX>1370</locationX>
        <locationY>1787</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ground_Water_Withdrawal_Yes_Version</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ground Water Withdrawal Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GIS_Unique_Field_Yes_Ground_Version</targetReference>
            </connector>
            <label>Ground Water Withdrawal</label>
        </rules>
        <rules>
            <name>Surface_Water_Withdrawal_Yes_Version</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface Water Withdrawal Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GIS_Unique_Field_Yes_Surface_Version</targetReference>
            </connector>
            <label>Surface Water Withdrawal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Withdrawal_Type</name>
        <label>Check Withdrawal Type</label>
        <locationX>2162</locationX>
        <locationY>1787</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Ground_Water_Withdrawal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ground Water Withdrawal Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_GIS_Unique_Field</targetReference>
            </connector>
            <label>Ground Water Withdrawal</label>
        </rules>
        <rules>
            <name>Copy_1_of_Surface_Water_Withdrawal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface Water Withdrawal Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_GIS_Unique_Field</targetReference>
            </connector>
            <label>Surface Water Withdrawal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GIS_Unique_Formula_For_Ground</name>
        <dataType>String</dataType>
        <expression>&apos;G&apos; + RIGHT({!Get_Related_Permit.Name}, 5) + &apos;_G&apos; + TEXT({!Withdrawal_Number})</expression>
    </formulas>
    <formulas>
        <name>GIS_Unique_Formula_For_Ground_Withdrawal_Exists</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Get_Related_Permit.Name}, 7) + &apos;_G&apos; + TEXT({!Withdrawal_Number})</expression>
    </formulas>
    <formulas>
        <name>GIS_Unique_Formula_For_Surface</name>
        <dataType>String</dataType>
        <expression>&apos;S&apos; + RIGHT({!Get_Related_Permit.Name}, 5) + &apos;_S&apos; + TEXT({!Withdrawal_Number})</expression>
    </formulas>
    <formulas>
        <name>GIS_Unique_Formula_For_Surface_Withdrawal_Exists</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Get_Related_Permit.Name}, 7) + &apos;_S&apos; + TEXT({!Withdrawal_Number_Surface_Water})</expression>
    </formulas>
    <formulas>
        <name>GIS_Unique_Permit_GW</name>
        <dataType>String</dataType>
        <expression>{!Get_Related_Permit.AVO_AppID__c} + &apos;_G&apos; + TEXT({!Withdrawal_Number})</expression>
    </formulas>
    <formulas>
        <name>GIS_Unique_Permit_SW</name>
        <dataType>String</dataType>
        <expression>{!Get_Related_Permit.AVO_AppID__c} + &apos;_S&apos; + TEXT({!Withdrawal_Number_Surface_Water})</expression>
    </formulas>
    <interviewLabel>AVO GIS Unique Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO GIS Unique Automation</label>
    <loops>
        <name>Withdrawal_Loop_Ground_Water</name>
        <label>Withdrawal Loop - Ground Water</label>
        <locationX>2030</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_All_Existing_Withdrawals_Ground_Water</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Withdrawal_Total_Ground_Water</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Withdrawal_Number_Yes_Version_GroundWater</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Withdrawal_Loop_Surface_Water</name>
        <label>Withdrawal Loop - Surface Water</label>
        <locationX>2030</locationX>
        <locationY>1271</locationY>
        <collectionReference>Get_All_Existing_Withdrawals_Surface_Water</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Withdrawal_Total_Surface_Water</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Withdrawal_Number_Surface_Water</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Existing_Withdrawals_Ground_Water</name>
        <label>Get All Existing Withdrawals - Ground Water</label>
        <locationX>1304</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Existing_Withdrawals_Surface_Water</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AVO_Permit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Permit.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ground Water Withdrawal Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ground Water Withdrawal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AVO_Withdrawals__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AVO_GIS_UNIQUE__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Existing_Withdrawals_Surface_Water</name>
        <label>Get All Existing Withdrawals - Surface Water</label>
        <locationX>1304</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_There_Any_Existing_Withdrawals</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AVO_Permit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Permit.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Surface Water Withdrawal Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Surface Water Withdrawal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AVO_Withdrawals__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AVO_GIS_UNIQUE__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Permit</name>
        <label>Get Related Permit</label>
        <locationX>1304</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Existing_Withdrawals_Ground_Water</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Permit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MUSW__Type__c</queriedFields>
        <queriedFields>AVO_AppID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_GIS_Unique_Field</name>
        <label>Update GIS Unique Field</label>
        <locationX>1898</locationX>
        <locationY>1895</locationY>
        <inputAssignments>
            <field>AVO_GIS_UNIQUE__c</field>
            <value>
                <elementReference>GIS_Unique_Permit_GW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GIS_Unique_Permit_GW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_GIS_Unique_Field</name>
        <label>Update GIS Unique Field</label>
        <locationX>2162</locationX>
        <locationY>1895</locationY>
        <inputAssignments>
            <field>AVO_GIS_UNIQUE__c</field>
            <value>
                <elementReference>GIS_Unique_Permit_SW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GIS_Unique_Permit_SW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GIS_Unique_Field_No_Ground_Version</name>
        <label>Update GIS Unique Field</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>AVO_GIS_UNIQUE__c</field>
            <value>
                <elementReference>GIS_Unique_Formula_For_Ground</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GIS_Unique_Formula_For_Ground</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GIS_Unique_Field_No_Surface_Version</name>
        <label>Update GIS Unique Field</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>AVO_GIS_UNIQUE__c</field>
            <value>
                <elementReference>GIS_Unique_Formula_For_Surface</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GIS_Unique_Formula_For_Surface</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GIS_Unique_Field_Yes_Ground_Version</name>
        <label>Update GIS Unique Field</label>
        <locationX>1106</locationX>
        <locationY>1895</locationY>
        <inputAssignments>
            <field>AVO_GIS_UNIQUE__c</field>
            <value>
                <elementReference>GIS_Unique_Formula_For_Ground_Withdrawal_Exists</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GIS_Unique_Formula_For_Ground_Withdrawal_Exists</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GIS_Unique_Field_Yes_Surface_Version</name>
        <label>Update GIS Unique Field</label>
        <locationX>1370</locationX>
        <locationY>1895</locationY>
        <inputAssignments>
            <field>AVO_GIS_UNIQUE__c</field>
            <value>
                <elementReference>GIS_Unique_Formula_For_Surface_Withdrawal_Exists</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GIS_Unique_Formula_For_Surface_Withdrawal_Exists</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Withdrawal_Name</name>
        <label>Update Withdrawal Name</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.AVO_GIS_UNIQUE__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_comes_from_repeater</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Permit__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AVO_Withdrawals__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Withdrawal_Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Withdrawal_Number_Surface_Water</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Withdrawal_Total_Ground_Water</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Withdrawal_Total_Surface_Water</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
