force-app/main/default/flows/AVO_AWWP_Final_Evaluation_Review_Completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Default_Alert_Message</name>
        <label>Assign Default Alert Message</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Alert_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete GIS Permit Mapping Task First</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Relinquish_Alert_Message</name>
        <label>Assign Relinquish Alert Message</label>
        <locationX>138</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Alert_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete GIS Permit Mapping and Ownership Validation and Update Tasks First</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Related_Permit_Permit_Approval</name>
        <label>Set Related Permit Permit Approval</label>
        <locationX>358</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>Related_Permit.MUSW__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Permit Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Permit_Permit_Approval</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Tasks_Completed</name>
        <label>Are Tasks Completed?</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Assign_Relinquish_Alert_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Tasks_Are_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GIS_Permit_Mapping_Task.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ownership_Validation_and_Update_Task.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Related_Permit_In_Final_Evaluation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Related_Permit_Exist</name>
        <label>Does Related Permit Exist?</label>
        <locationX>1084</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Related_Permit_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Permit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GIS_Permit_Mapping_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Task_Exist</name>
        <label>Does Task Exist?</label>
        <locationX>798</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Task_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GIS_Permit_Mapping_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Permit_Relinquish</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Task_Exist_2</name>
        <label>Does Task Exist?</label>
        <locationX>226</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Task_Exists_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ownership_Validation_and_Update_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_Tasks_Completed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_GIS_Mapping_Task_Completed</name>
        <label>Is GIS Mapping Task Completed?</label>
        <locationX>754</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Alert_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_GIS_Mapping_Task_Is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GIS_Permit_Mapping_Task.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Related_Permit_In_Final_Evaluation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Permit_Relinquish</name>
        <label>Is Permit Relinquish?</label>
        <locationX>490</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Is_GIS_Mapping_Task_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Permit_Is_Relinquish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Permit.Permit_History__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relinquish Permit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ownership_Validation_and_Update_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Related_Permit_In_Final_Evaluation</name>
        <label>Is Related Permit In Final Evaluation?</label>
        <locationX>490</locationX>
        <locationY>1943</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Related_Permit_Is_In_Final_Evaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Permit.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Related_Permit_Permit_Approval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO AWWP Final Evaluation Review Completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO AWWP Final Evaluation Review Completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Alert</name>
        <label>Create Alert</label>
        <locationX>138</locationX>
        <locationY>1415</locationY>
        <inputAssignments>
            <field>MUSW__Apply_To__c</field>
            <value>
                <stringValue>Current Record and Related Objects</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Message__c</field>
            <value>
                <elementReference>Alert_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Record_Id__c</field>
            <value>
                <elementReference>Related_Permit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Type__c</field>
            <value>
                <stringValue>Notice</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_GIS_Permit_Mapping_Task</name>
        <label>Get GIS Permit Mapping Task</label>
        <locationX>798</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Task_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Related_Permit.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GIS Permit Mapping</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>GIS_Permit_Mapping_Task</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Ownership_Validation_and_Update_Task</name>
        <label>Get Ownership Validation and Update Task</label>
        <locationX>226</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Task_Exist_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Related_Permit.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ownership Validation and Update</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>Ownership_Validation_and_Update_Task</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Permit</name>
        <label>Get Related Permit</label>
        <locationX>1084</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Related_Permit_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Water Withdrawal Permit</stringValue>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <outputReference>Related_Permit</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Status__c</queriedFields>
        <queriedFields>Permit_History__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Permit_Permit_Approval</name>
        <label>Update Related Permit Permit Approval</label>
        <locationX>358</locationX>
        <locationY>2183</locationY>
        <inputReference>Related_Permit</inputReference>
    </recordUpdates>
    <start>
        <locationX>958</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Permit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final Evaluation Review</stringValue>
            </value>
        </filters>
        <object>MUSW__Review__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Alert_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GIS_Permit_Mapping_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Ownership_Validation_and_Update_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Related_Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
</Flow>
