force-app/main/default/flows/AVO_Meter_Transaction_New_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Agricultural_Flow_Meter_Approval</name>
        <label>Check Agricultural Flow Meter Approval</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Create_Record_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agricultural_Flow_Meter_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeIDVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Agricultural_Flow_Meter_Approval_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AVO_New_Agricultural_Flow_Meter_Approval</targetReference>
            </connector>
            <label>Agricultural Flow Meter Approval</label>
        </rules>
        <rules>
            <name>MTMR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeIDVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_MTMR_RecType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AVO_New_Meter_Maintenance_Request</targetReference>
            </connector>
            <label>MTMR</label>
        </rules>
        <rules>
            <name>Replacement_Installation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeIDVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Replacement_RecType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AVO_New_Meter_Replacement_Installation</targetReference>
            </connector>
            <label>Replacement Installation</label>
        </rules>
        <rules>
            <name>AG_Water_Metering_Installation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeIDVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_AG_Water_Metering_Installation_RecType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AVO_New_AG_Water_Metering_Installation</targetReference>
            </connector>
            <label>AG Water Metering Installation</label>
        </rules>
        <rules>
            <name>Meter_Reading</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeIDVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Meter_Reading_RecType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AVO_New_Meter_Reading</targetReference>
            </connector>
            <label>Meter Reading</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Meter_Transaction_Record_Types_RCS</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Meter_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural_Flow_Meter_Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Batch_Meter_Entry</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Batch_Meter_Reading</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter_Maintenance_Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter_Replacement_Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AG_Water_Metering_Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter_Reading</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeIDVar</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CreateLinkFormula</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/o/AVO_Meter_Transaction__c/new?count=1&amp;recordTypeId=&quot;+ {!RecordTypeIDVar} + &quot;&amp;nooverride=1&quot; + &quot;&amp;defaultFieldValues=Name=System%20Number&quot;</expression>
    </formulas>
    <interviewLabel>AVO Meter Transaction - New Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Meter Transaction - New Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_AG_Water_Metering_Installation_RecType</name>
        <label>Get AG Water Metering Installation RecType</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Meter_Reading_RecType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Meter_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AG_Water_Metering_Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agricultural_Flow_Meter_Approval_Record_Type</name>
        <label>Get Agricultural Flow Meter Approval Record Type</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MTMR_RecType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Meter_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural_Flow_Meter_Approval</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Reading_RecType</name>
        <label>Get Meter Reading RecType</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Agricultural_Flow_Meter_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Meter_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter_Reading</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MTMR_RecType</name>
        <label>Get MTMR RecType</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Replacement_RecType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Meter_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter_Maintenance_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Replacement_RecType</name>
        <label>Get Replacement RecType</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AG_Water_Metering_Installation_RecType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Meter_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter_Replacement_Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Record_Screen</name>
        <label>Create Record Screen</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Create_Record_Body</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;a href=&quot;{!CreateLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 22px;&quot;&gt;Click Here to Create Record&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;﻿To cancel, press the back button in your browser.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Record_Type_Selection_Screen</name>
        <label>Record Type Selection Screen</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Agricultural_Flow_Meter_Approval_Record_Type</targetReference>
        </connector>
        <fields>
            <name>New_Meter_Transaction_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;New Meter Transaction&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_Record_Type</name>
            <choiceReferences>Meter_Transaction_Record_Types_RCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Record Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cancel_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;﻿To cancel, press the back button in your browser.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type_Selection_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AVO_New_AG_Water_Metering_Installation</name>
        <label>AVO New AG Water Metering Installation</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <flowName>AVO_New_AG_Water_Metering_Installation</flowName>
    </subflows>
    <subflows>
        <name>AVO_New_Agricultural_Flow_Meter_Approval</name>
        <label>AVO New Agricultural Flow Meter Approval</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <flowName>AVO_New_Agricultural_Flow_Meter_Approval</flowName>
    </subflows>
    <subflows>
        <name>AVO_New_Meter_Maintenance_Request</name>
        <label>AVO New Meter Maintenance Request</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <flowName>AVO_New_Meter_Maintenance_Request</flowName>
    </subflows>
    <subflows>
        <name>AVO_New_Meter_Reading</name>
        <label>AVO New Meter Reading</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <flowName>AVO_New_Meter_Reading</flowName>
    </subflows>
    <subflows>
        <name>AVO_New_Meter_Replacement_Installation</name>
        <label>AVO New Meter Replacement Installation</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <flowName>AVO_New_Meter_Replacement_Installation</flowName>
    </subflows>
    <variables>
        <name>RecordTypeIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
