force-app/main/default/flows/AVO_Update_Permit_Expiration_date_with_25_Years.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Checking_Basin_And</name>
        <label>Checking Basin And Original Date Expirated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Basin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FLINT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AVO_Original_Date_Applied__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2006-04-20</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Permit</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Add25Years</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR({!$Record.AVO_Date_Permit_Issued__c}) + 25,
  MONTH({!$Record.AVO_Date_Permit_Issued__c}),
  DAY({!$Record.AVO_Date_Permit_Issued__c})
)</expression>
    </formulas>
    <interviewLabel>AVO Update Permit Expiration date with 25 Years {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Update Permit Expiration date with 25 Years</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Permit</name>
        <label>Update Permit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AVO_Date_Permit_Expires__c</field>
            <value>
                <elementReference>Add25Years</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_Basin_And</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND (4 OR 6) AND 5 AND 7</filterLogic>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Water Withdrawal Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Water Withdrawal Permit</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Revision</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Date_Permit_Issued__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Date_Permit_Issued__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Basin__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Basin__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FLINT</stringValue>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
