force-app/main/default/flows/AVO_Agricultural_Flow_Meter_Approval_Review_Approved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Set_Meter_MOSID</name>
        <label>Set Meter MOSID</label>
        <locationX>644</locationX>
        <locationY>755</locationY>
        <actionName>AvoMeterController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Meter_MOSID_to_Approval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>meters</name>
            <value>
                <elementReference>Get_Meter</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AvoMeterController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>newMOSID</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Meter_Approval_Fields</name>
        <label>Assign Meter Approval Fields</label>
        <locationX>776</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Meter_Approval.AVO_Inventory_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Installed Meter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Approval.AVO_Installation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Meter_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_MOSID_to_Approval</name>
        <label>Assign Meter MOSID to Approval</label>
        <locationX>644</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Meter_Approval.AVO_Meter_On_Site_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newMOSID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mosidVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newMOSID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Meter_Approval_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mosidVar</name>
        <label>Assign mosidVar</label>
        <locationX>908</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>mosidVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Approval.AVO_Meter_On_Site_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Meter_Approval_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Meter_Fields</name>
        <label>Assign New Meter Fields</label>
        <locationX>776</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Source_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Source_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Outside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Outside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Inside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Inside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Meter_Geolocation__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Meter_Geolocation__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Meter_Geolocation__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Meter_Geolocation__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_County__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Make__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Make__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Model__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Purchase_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Purchase_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Meter_On_Site_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mosidVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Disposal_Batch_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Disposal_Batch_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Meter_Orientation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Meter_Orientation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Disposed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Disposed_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Disposed_By_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Disposed_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Meter_Order_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Meter_Order_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Meter_Last_Read_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Meter_Last_Read_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Meter_Last_Read_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Meter_Read_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Battery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Battery__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_State_Purchased__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_State_Purchased__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Storage_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Storage_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Meter_Transaction__r.AVO_Meter_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Alternate_Meter_Serial_Number_MSN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Alternate_Meter_Serial_Number_MSN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Meter_Installation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved and Active On Site</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Disposal_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Disposal_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter.AVO_Inventory_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Installed Meter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_Meter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Meter_Replacement</name>
        <label>Check Meter Replacement</label>
        <locationX>776</locationX>
        <locationY>1919</locationY>
        <defaultConnectorLabel>Not Replacement</defaultConnectorLabel>
        <rules>
            <name>Meter_Replacement_Installation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Meter_Transaction__r.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Replacement Installation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Old_Meter_Status_Check</targetReference>
            </connector>
            <label>Meter Replacement Installation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Parent_Meter_Approval_Exist</name>
        <label>Does Parent Meter Approval Exist?</label>
        <locationX>1073</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No Parent Meter Approval</defaultConnectorLabel>
        <rules>
            <name>Parent_Meter_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Approval</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Meter</targetReference>
            </connector>
            <label>Parent Meter Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_MOSID_empty</name>
        <label>Is MOSID empty?</label>
        <locationX>776</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_mosidVar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MOSID not empty</defaultConnectorLabel>
        <rules>
            <name>MOSID_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Approval.AVO_Meter_On_Site_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Meter_MOSID</targetReference>
            </connector>
            <label>MOSID empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_Meter_Status_Check</name>
        <label>Old Meter Status Check</label>
        <locationX>446</locationX>
        <locationY>2027</locationY>
        <defaultConnector>
            <targetReference>Update_Old_Meter_Inventory_Status_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Disposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Old_Meter_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Retrieved -Pending Disposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Old_Meter_Inventory_Status_Pending_Disposal</targetReference>
            </connector>
            <label>Disposal</label>
        </rules>
        <rules>
            <name>Reused</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Old_Meter_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Retrieved - To be Reused</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Old_Meter_Inventory_Status_To_Be_Reused</targetReference>
            </connector>
            <label>Reused</label>
        </rules>
        <rules>
            <name>Not_Retrieved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Old_Meter_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Not Retrieved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Old_Meter_Inventory_Status_Not_Retrieved</targetReference>
            </connector>
            <label>Not Retrieved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO Agricultural Flow Meter Approval Review Approved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Agricultural Flow Meter Approval Review Approved</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Meter_Withdrawal</name>
        <label>Create Meter Withdrawal</label>
        <locationX>776</locationX>
        <locationY>1811</locationY>
        <connector>
            <targetReference>Check_Meter_Replacement</targetReference>
        </connector>
        <inputAssignments>
            <field>AVO_Initiating_Transaction_ID__c</field>
            <value>
                <elementReference>Meter_Approval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_ID__c</field>
            <value>
                <elementReference>New_Meter.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Withdrawal_ID__c</field>
            <value>
                <elementReference>Meter_Approval.AVO_Withdrawal_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Meter_Withdrawal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Meter</name>
        <label>Get Meter</label>
        <locationX>776</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_MOSID_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Meter_Transaction__r.AVO_Meter_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Application</name>
        <label>Get Meter Application</label>
        <locationX>776</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Meter_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Meter_Installation_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Meter_Approval.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Application</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Meter_Approval</name>
        <label>Get Parent Meter Approval</label>
        <locationX>1073</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Parent_Meter_Approval_Exist</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Meter_Transaction__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Flow Meter Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Replacement Installation</stringValue>
            </value>
        </filters>
        <object>AVO_Meter_Transaction__c</object>
        <outputReference>Meter_Approval</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AVO_Installation_Status__c</queriedFields>
        <queriedFields>AVO_Old_Meter_Reading__c</queriedFields>
        <queriedFields>AVO_Current_Meter_Reading__c</queriedFields>
        <queriedFields>AVO_Installation_Type__c</queriedFields>
        <queriedFields>AVO_Meter_Maintenance_ID__c</queriedFields>
        <queriedFields>AVO_Inventory_Status__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>AVO_Withdrawal_ID__c</queriedFields>
        <queriedFields>AVO_Meter_On_Site_ID__c</queriedFields>
        <queriedFields>AVO_MOSID__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_Old_Meter_WIthdrawal</name>
        <label>Deactivate Old Meter WIthdrawal</label>
        <locationX>446</locationX>
        <locationY>2435</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Meter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Meter_Transaction__r.AVO_Old_Meter_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Withdrawal_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Meter_Transaction__r.AVO_Withdrawal_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Terminating_Transaction_ID__c</field>
            <value>
                <elementReference>$Record.AVO_Meter_Transaction__c</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Meter_Withdrawal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_Inventory_Status</name>
        <label>Update Application Inventory Status</label>
        <locationX>776</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Create_Meter_Withdrawal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Meter_Installation_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Meter_Approval.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Inventory_Status__c</field>
            <value>
                <stringValue>Installed Meter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_On_Site_ID__c</field>
            <value>
                <elementReference>mosidVar</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Meter_Transaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Approval</name>
        <label>Update Meter Approval</label>
        <locationX>776</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Update_Meter_Readings</targetReference>
        </connector>
        <inputReference>Meter_Approval</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Readings</name>
        <label>Update Meter Readings</label>
        <locationX>776</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_Meter_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Meter_Installation_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Meter_Approval.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Reading</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Batch_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter_Transaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Meter</name>
        <label>Update New Meter</label>
        <locationX>776</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Update_Application_Inventory_Status</targetReference>
        </connector>
        <inputReference>New_Meter</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Meter_Installation_Status</name>
        <label>Update Old Meter Installation Status</label>
        <locationX>446</locationX>
        <locationY>2327</locationY>
        <connector>
            <targetReference>Deactivate_Old_Meter_WIthdrawal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Meter_Transaction__r.AVO_Old_Meter_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Meter_Installation_Status__c</field>
            <value>
                <stringValue>Replaced</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Meter_Inventory_Status_Default</name>
        <label>Update Old Meter Inventory Status Default</label>
        <locationX>842</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>Update_Old_Meter_Installation_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Meter_Transaction__r.AVO_Old_Meter_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Inventory_Status__c</field>
            <value>
                <stringValue>Meter Retrieved - To Be Reused</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Meter_Inventory_Status_Not_Retrieved</name>
        <label>Update Old Meter Inventory Status Not Retrieved</label>
        <locationX>578</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>Update_Old_Meter_Installation_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Meter_Transaction__r.AVO_Old_Meter_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Inventory_Status__c</field>
            <value>
                <stringValue>Meter Retrieved - To Be Reused</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Meter_Inventory_Status_Pending_Disposal</name>
        <label>Update Old Meter Inventory Status Pending Disposal</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>Update_Old_Meter_Installation_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Meter_Transaction__r.AVO_Old_Meter_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Inventory_Status__c</field>
            <value>
                <stringValue>Meter Retrieved - To Be Reused</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Meter_Inventory_Status_To_Be_Reused</name>
        <label>Update Old Meter Inventory Status To Be Reused</label>
        <locationX>314</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>Update_Old_Meter_Installation_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Meter_Transaction__r.AVO_Old_Meter_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Inventory_Status__c</field>
            <value>
                <stringValue>Meter Retrieved - To Be Reused</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Meter_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Installation Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MUSW__Review__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Meter_Approval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Transaction__c</objectType>
    </variables>
    <variables>
        <name>mosidVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>New_Meter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter__c</objectType>
    </variables>
    <variables>
        <name>newMOSID</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
