force-app/main/default/flows/AVO_Agricultural_Water_Withdrawal_Permit_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Withdrawal_To_Collection</name>
        <label>Add Withdrawal To Collection</label>
        <locationX>396</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>Updated_Withdrawal_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Withdrawal_Update_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Withdrawal_Update_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ground_Water_Withdrawal_Record_Type</name>
        <label>Assign Ground Water Withdrawal Record Type</label>
        <locationX>264</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Withdrawal_Update_Loop.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ground_Water_Withdrawal_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Withdrawal_Update_Loop.AVO_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ground Water Withdrawal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Withdrawal_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Surface_Water_Withdrawal_Record_Type</name>
        <label>Assign Surface Water Withdrawal Record Type</label>
        <locationX>528</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Withdrawal_Update_Loop.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Surface_Water_Withdrawal_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Withdrawal_Update_Loop.AVO_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Surface Water Withdrawal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Withdrawal_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Current_Withdrawal_Application_Ground_or_Surface</name>
        <label>Is Current Withdrawal Application Ground or Surface?</label>
        <locationX>396</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Assign_Surface_Water_Withdrawal_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Surface Water Withdrawal Application</defaultConnectorLabel>
        <rules>
            <name>Ground_Water_Withdrawal_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Withdrawal_Update_Loop.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ground_Water_Withdrawal_Application_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ground_Water_Withdrawal_Record_Type</targetReference>
            </connector>
            <label>Ground Water Withdrawal Application</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO Agricultural Water Withdrawal Permit Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Agricultural Water Withdrawal Permit Conversion</label>
    <loops>
        <name>Withdrawal_Update_Loop</name>
        <label>Withdrawal Update Loop</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Withdrawal_Applications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Current_Withdrawal_Application_Ground_or_Surface</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Withdrawals_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Agricultural_Water_Withdrawal_Permit_Record_Type</name>
        <label>Get Agricultural Water Withdrawal Permit Record Type</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Permit_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MUSW__Permit2__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural_Water_Withdrawal_Permit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ground_Water_Withdrawal_Application_Record_Type</name>
        <label>Get Ground Water Withdrawal Application Record Type</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Surface_Water_Withdrawal_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ground_Water_Withdrawal_Application</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>Ground_Water_Withdrawal_Application_Record_Type</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Ground_Water_Withdrawal_Record_Type</name>
        <label>Get Ground Water Withdrawal Record Type</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ground_Water_Withdrawal_Application_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ground_Water_Withdrawal</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>Ground_Water_Withdrawal_Record_Type</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Surface_Water_Withdrawal_Record_Type</name>
        <label>Get Surface Water Withdrawal Record Type</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Withdrawal_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Surface_Water_Withdrawal</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>Surface_Water_Withdrawal_Record_Type</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Withdrawal_Applications</name>
        <label>Get Withdrawal Applications</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Withdrawal_Update_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AVO_Permit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ground Water Withdrawal Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Surface Water Withdrawal Application</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AVO_Withdrawals__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Compliances</name>
        <label>Update Compliances</label>
        <locationX>176</locationX>
        <locationY>1679</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_RefApplicationID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_RefApplicationID__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_RefPermitAppID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Compliance__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Permit_Record_Type</name>
        <label>Update Permit Record Type</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Ground_Water_Withdrawal_Record_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>AVO_Transaction_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Transaction_Type__c</field>
            <value>
                <stringValue>New Permit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Type__c</field>
            <value>
                <stringValue>Agricultural Water Withdrawal Permit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.AVO_PermitNo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Agricultural_Water_Withdrawal_Permit_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Withdrawals_Record_Type</name>
        <label>Update Withdrawals Record Type</label>
        <locationX>176</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Update_Compliances</targetReference>
        </connector>
        <inputReference>Updated_Withdrawal_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Agricultural_Water_Withdrawal_Permit_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permit Issued</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Water Withdrawal Application</stringValue>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Ground_Water_Withdrawal_Application_Record_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>Ground_Water_Withdrawal_Record_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>Inactive_Withdrawal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
    <variables>
        <name>Inactive_Withdrawal_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
    <variables>
        <name>Submission_Copy_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
    <variables>
        <name>Surface_Water_Withdrawal_Record_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>ToStoreRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Updated_Withdrawal_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
    <variables>
        <description>The Id of the AWW Permit to which the new Withdrawals will be attached to. If it&apos;s a new Application, this will contain the Id of the new Permit created. If it&apos;s a Replacement or Additional Application, this will contain the Existing Permit Id whose Withdrawals will be Replaced/Added</description>
        <name>Withdrawals_Parent_Permit_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
