force-app/main/default/flows/AVO_Meter_Installation_Application_Record_Detail_Page.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Installation_Type</name>
        <label>Assign Installation Type</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Installation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Battery Replacement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Approval_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Installation_Type1</name>
        <label>Assign Installation Type</label>
        <locationX>578</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Installation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Replacement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Approval_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Installation_Type2</name>
        <label>Assign Installation Type</label>
        <locationX>842</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Installation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Installation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Approval_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Installation_Type3</name>
        <label>Assign Installation Type</label>
        <locationX>1106</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Installation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Site Repair</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Approval_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Installation_Type4</name>
        <label>Assign Installation Type</label>
        <locationX>1370</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Installation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retrieval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Approval_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Installation_Fields</name>
        <label>Assign Meter Installation Fields</label>
        <locationX>974</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Maintenance_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Meter_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Transaction_to_Attestation_Consent</name>
        <label>Assign Meter Transaction to Attestation Consent</label>
        <locationX>974</locationX>
        <locationY>3434</locationY>
        <assignmentItems>
            <assignToReference>Attestation_Consent.AVO_Meter_Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Attestation_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Old_Meter_MSN</name>
        <label>Assign Old Meter MSN</label>
        <locationX>842</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Old_Meter_Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Old_Meter_ID__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Permit_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_Id_To_Meter_Installation</name>
        <label>Assign Record Type Id To Meter Installation</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Meter_Transaction.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Installation_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AG Water Metering Installation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Meter_Installation_Battery_Replacement_Fields</name>
        <label>Copy 1 of Assign Meter Installation Battery Replacement Fields</label>
        <locationX>974</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_County__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Source_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Source_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Geolocation__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Meter_Geolocation__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Geolocation__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Meter_Geolocation__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Serial_Number_MSN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Site_ID_MSID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Meter_Site_ID_MSID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Outside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Outside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Inside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Inside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Is_Battery_Driven__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Meter_Is_Battery_Driven__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Permit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Permit_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Make__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Make__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Model__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Withdrawal_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Withdrawal_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Applicant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Disposal_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Disposal_Approved__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_On_Site_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Meter_On_Site_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Inventory_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.AVO_Inventory_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Current_Meter_Reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.AVO_Meter_Last_Read_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Mounting_Orientation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter.AVO_Meter_Orientation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Unit_Of_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Unit_Of_Measure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Irrigation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Irrigation_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Irrigation_Type_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Irrigation_Type_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Meter_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Location_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Meter_Location_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Meter_Orientation_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Meter_Orientation_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Pipe_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Pipe_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Pipe_Type_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Pipe_Type_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Pipe_Length_Upstream_0_200__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Pipe_Length_Upstream_0_200__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Pipe_Up_UOM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Pipe_Up_UOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Pipe_Length_Downstream_0_200__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Pipe_Length_Downstream_0_200__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Pipe_Down_UOM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Pipe_Down_UOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Vanes_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Vanes_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Flow_Straightener_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Flow_Straightener_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Installed_Per_Specification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Installed_Per_Specification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Digital_Photo_Attached__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Digital_Photo_Attached__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Crop_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Crop_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Other_Crop_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Other_Crop_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Installation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Installation_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Date_Signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Date_Signed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Source_Withdrawal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Source_Withdrawal_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Name_Of_Installer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Name_Of_Installer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Installer_Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Installer_Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Permit_Information_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Permit_Assignment</name>
        <label>Permit Assignment</label>
        <locationX>974</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Meter_Transaction.AVO_Permit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Permit_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Parent_Meter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Site_Visit_Only_Checkbox_and_Status</name>
        <label>Set Site Visit Only Checkbox and Status</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Get_Parent_Meter_Maintenance_Request.AVO_Site_Visit_Only__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Parent_Meter_Maintenance_Request.AVO_Maintenance_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Site Visit Only</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Maintenance_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Assignment</name>
        <label>Stage Assignment</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Screen_Header</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_Header_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Permit Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Meter Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Water Source Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Old Meter Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Installer Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Telemetry Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Confirmation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Permit_Assignment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NewMeterInstallation</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Screen_Header_Formula}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Meter Installation</stringValue>
        </value>
    </choices>
    <choices>
        <name>SiteVisitOnly</name>
        <choiceText>Site Visit Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Site Visit Only</stringValue>
        </value>
    </choices>
    <constants>
        <name>Clariti_Confirmation_Details_Text_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>If any of the information above is incorrect, use the “Previous” button below to navigate to the appropriate section and update the incorrect information.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Meter_Transaction_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AVO_Meter_Transaction__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>Meter_Transaction_Record_Type_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AG Water Metering Installation</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_installation_type</name>
        <label>Check installation type</label>
        <locationX>974</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>Copy_4_of_Permit_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Transaction.AVO_Installation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Old_Meter_MSN</targetReference>
            </connector>
            <label>Replacement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Site_Visit_Only</name>
        <label>Check Site Visit Only</label>
        <locationX>512</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Meter_Installation_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Site Visit Only Not Selected</defaultConnectorLabel>
        <rules>
            <name>Site_Visit_Only_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SiteVisitOnly</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Visit_Notes_Screen</targetReference>
            </connector>
            <label>Site Visit Only Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Parent_Meter_Maintenance_Request_Exist</name>
        <label>Does Parent Meter Maintenance Request Exist?</label>
        <locationX>2211</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Not_On_Meter_Maintenance_Request_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Meter Maintenance Request Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Meter_Maintenance_Request_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Meter_Maintenance_Request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Parent_Meter_Maintenance_Request_Allocated</targetReference>
            </connector>
            <label>Meter Maintenance Request Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Maintenance_Type</name>
        <label>Evaluate Maintenance Type</label>
        <locationX>974</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Get_Approval_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Battery_Replacement1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Meter_Maintenance_Request.AVO_Maintenance_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Battery Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Installation_Type</targetReference>
            </connector>
            <label>Battery Replacement</label>
        </rules>
        <rules>
            <name>Meter_Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Meter_Maintenance_Request.AVO_Maintenance_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Installation_Type1</targetReference>
            </connector>
            <label>Meter Replacement</label>
        </rules>
        <rules>
            <name>New_Installation_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Meter_Maintenance_Request.AVO_Maintenance_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Installation Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Installation_Type2</targetReference>
            </connector>
            <label>New Installation Maintenance</label>
        </rules>
        <rules>
            <name>On_Site_Repair</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Meter_Maintenance_Request.AVO_Maintenance_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Site Repair</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Installation_Type3</targetReference>
            </connector>
            <label>On Site Repair</label>
        </rules>
        <rules>
            <name>Retrieval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Meter_Maintenance_Request.AVO_Maintenance_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retrieval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Installation_Type4</targetReference>
            </connector>
            <label>Retrieval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_Meter_Maintenance_Request_Allocated</name>
        <label>Is Parent Meter Maintenance Request Allocated?</label>
        <locationX>1557</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Request_Not_Allocated_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Request Not Allocated</defaultConnectorLabel>
        <rules>
            <name>Request_Allocated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Meter_Maintenance_Request.AVO_Maintenance_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allocated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Meter_Installation_Application_Screen</targetReference>
            </connector>
            <label>Request Allocated</label>
        </rules>
    </decisions>
    <description>Without Confirmation</description>
    <dynamicChoiceSets>
        <name>Installation_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_Installation_Type__c</picklistField>
        <picklistObject>AVO_Meter_Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Screen_Header_Formula</name>
        <dataType>String</dataType>
        <expression>&quot;New &quot; + TEXT({!Get_Parent_Meter_Maintenance_Request.AVO_Maintenance_Type__c})</expression>
    </formulas>
    <interviewLabel>AVO Meter Installation Application Record Detail Page {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Meter Installation Application Record Detail Page</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Attestation_Consent</name>
        <label>Create Attestation Consent</label>
        <locationX>974</locationX>
        <locationY>3542</locationY>
        <connector>
            <targetReference>Meter_Transaction_Application_Success_Flow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Attestation_Consent</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Meter_Transaction</name>
        <label>Create Meter Transaction</label>
        <locationX>974</locationX>
        <locationY>3218</locationY>
        <connector>
            <targetReference>Update_Meter_Maintenance_Request_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <inputReference>Meter_Transaction</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Approval_Form</name>
        <label>Get Approval Form</label>
        <locationX>974</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Meter_Installation_Battery_Replacement_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Flow Meter Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Meter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Meter.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Installation_Record_Type</name>
        <label>Get Meter Installation Record Type</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Type_Id_To_Meter_Installation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Meter_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AG_Water_Metering_Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Meter</name>
        <label>Get Parent Meter</label>
        <locationX>974</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Meter_Withdrawal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Meter_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Meter_Maintenance_Request</name>
        <label>Get Parent Meter Maintenance Request</label>
        <locationX>2211</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Parent_Meter_Maintenance_Request_Exist</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Maintenance Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Replacement Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Meter_Withdrawal</name>
        <label>Get Related Meter Withdrawal</label>
        <locationX>974</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Withdrawal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Meter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Meter.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Withdrawal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Withdrawal</name>
        <label>Get Related Withdrawal</label>
        <locationX>974</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Maintenance_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Meter_Withdrawal.AVO_Withdrawal_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Withdrawals__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Maintenance_Request</name>
        <label>Update Maintenance Request</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <inputReference>Get_Parent_Meter_Maintenance_Request</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Maintenance_Request_Status</name>
        <label>Update Meter Maintenance Request Status</label>
        <locationX>974</locationX>
        <locationY>3326</locationY>
        <connector>
            <targetReference>Assign_Meter_Transaction_to_Attestation_Consent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Maintenance Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Replacement Installation</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Maintenance_Status__c</field>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter_Transaction__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_Error_Screen</name>
        <label>Copy 1 of Error Screen</label>
        <locationX>2074</locationX>
        <locationY>3434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Error_Message_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Permit_Information</name>
        <label>Copy 1 of Permit Information</label>
        <locationX>974</locationX>
        <locationY>2054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Permit_Information</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Permit_Information_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Permit_Information_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Meter Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Permit_Information_Details</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AVO_Meter_Transaction__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Meter_Transaction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>AVO_Meter_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Meter Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Meter_Transaction</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Error_Screen</name>
        <label>Copy 2 of Error Screen</label>
        <locationX>1810</locationX>
        <locationY>3650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Error_Message_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Permit_Information</name>
        <label>Copy 2 of Permit Information</label>
        <locationX>974</locationX>
        <locationY>2162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_installation_type</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Permit_Information_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_2_of_Permit_Information_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Water Source Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_2_of_Permit_Information_Details</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AVO_Meter_Transaction__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Meter_Transaction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>AVO_Meter_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Water Source Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Meter_Transaction</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Permit_Information</name>
        <label>Copy 3 of Permit Information</label>
        <locationX>842</locationX>
        <locationY>2486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_4_of_Permit_Information</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Permit_Information_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_3_of_Permit_Information_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Old Meter Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_3_of_Permit_Information_Details</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AVO_Meter_Transaction__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Meter_Transaction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>AVO_Meter_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Old Meter Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Meter_Transaction</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_4_of_Permit_Information</name>
        <label>Copy 4 of Permit Information</label>
        <locationX>974</locationX>
        <locationY>2678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_5_of_Permit_Information</targetReference>
        </connector>
        <fields>
            <name>Copy_4_of_Permit_Information_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_4_of_Permit_Information_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Installer Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_4_of_Permit_Information_Details</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AVO_Meter_Transaction__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Meter_Transaction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>AVO_Meter_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Installer Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Meter_Transaction</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_5_of_Permit_Information</name>
        <label>Copy 5 of Permit Information</label>
        <locationX>974</locationX>
        <locationY>2786</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_6_of_Permit_Information</targetReference>
        </connector>
        <fields>
            <name>Copy_5_of_Permit_Information_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_5_of_Permit_Information_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Telemetry Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_5_of_Permit_Information_Details</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AVO_Meter_Transaction__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Meter_Transaction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>AVO_Meter_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Telemetry Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Meter_Transaction</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_6_of_Permit_Information</name>
        <label>Copy 6 of Permit Information</label>
        <locationX>974</locationX>
        <locationY>2894</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attestation_Flow</targetReference>
        </connector>
        <fields>
            <name>Copy_6_of_Permit_Information_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_6_of_Permit_Information_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_6_of_Permit_Information_Details</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AVO_Meter_Transaction__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Meter_Transaction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>AVO_Meter_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Permit Information, Meter Information, Water Source Information, Old Meter Information, Installer Information, Telemetry Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Meter_Transaction</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Body</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!Clariti_Confirmation_Details_Text_Label}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_0</name>
        <label>Error Screen</label>
        <locationX>2338</locationX>
        <locationY>3326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Meter_Installation_Application_Screen</name>
        <label>New Meter Installation Application</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Site_Visit_Only</targetReference>
        </connector>
        <fields>
            <name>New_Meter_Installation_Display</name>
            <fieldText>&lt;p&gt;To apply for a {!Screen_Header_Formula} for this Meter Maintenance Request, click Next.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_Installation_Radio</name>
            <choiceReferences>NewMeterInstallation</choiceReferences>
            <choiceReferences>SiteVisitOnly</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NewMeterInstallation</defaultSelectedChoiceReference>
            <fieldText>{!Screen_Header_Formula} or Site Visit Only?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_On_Meter_Maintenance_Request_Screen</name>
        <label>Not On Meter Maintenance Request</label>
        <locationX>2866</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_New_Meter_Installation_Display</name>
            <fieldText>&lt;p&gt;No {!Get_Parent_Meter_Maintenance_Request.AVO_Type__c} found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Permit_Information_Screen</name>
        <label>Permit Information</label>
        <locationX>974</locationX>
        <locationY>1946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Permit_Information</targetReference>
        </connector>
        <fields>
            <name>Permit_Information_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Permit_Information_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Permit Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Permit_Information_Details</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AVO_Meter_Transaction__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Meter_Transaction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>AVO_Meter_Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Permit Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Meter_Transaction</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_Not_Allocated_Screen</name>
        <label>Request Not Allocated Screen</label>
        <locationX>2602</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Request_Not_Allocated_Body</name>
            <fieldText>&lt;p&gt;This &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Parent_Meter_Maintenance_Request.AVO_Type__c}&lt;/span&gt; is currently not Allocated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Site_Visit_Notes_Screen</name>
        <label>Site Visit Notes Screen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Site_Visit_Only_Checkbox_and_Status</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Parent_Meter_Maintenance_Request.AVO_Site_Visit_Notes__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2085</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Meter_Maintenance_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Attestation_Flow</name>
        <label>Attestation Flow</label>
        <locationX>974</locationX>
        <locationY>3002</locationY>
        <connector>
            <targetReference>Assign_Meter_Installation_Fields</targetReference>
        </connector>
        <flowName>AVO_Subflow_Attestation</flowName>
        <inputAssignments>
            <name>Object_API_Name</name>
            <value>
                <elementReference>Meter_Transaction_API</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Meter_Transaction_Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Attestation_Consent</assignToReference>
            <name>Attestation_Consent</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Meter_Transaction_Application_Success_Flow</name>
        <label>Meter Transaction Application Success Flow</label>
        <locationX>974</locationX>
        <locationY>3650</locationY>
        <flowName>AVO_Permit_Application_Success_Flow</flowName>
        <inputAssignments>
            <name>Meter_Transaction_Id</name>
            <value>
                <elementReference>Meter_Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Meter_Transaction_Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Attestation_Consent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Attestation_Consent__c</objectType>
    </variables>
    <variables>
        <name>Maintenance_Request_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Meter_Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Transaction__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen_Header</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
