force-app/main/default/flows/AVO_AWW_Modification_Permit_Issued.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Inactive_Withdrawal_To_Collection</name>
        <label>Add Inactive Withdrawal To Collection</label>
        <locationX>402</locationX>
        <locationY>3107</locationY>
        <assignmentItems>
            <assignToReference>Inactive_Withdrawal_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inactive_Withdrawal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Current_Withdrawal_Application_Ground_or_Surface</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Modified_Withdrawal_To_Collection</name>
        <label>Add Modified Withdrawal To Collection</label>
        <locationX>402</locationX>
        <locationY>3623</locationY>
        <assignmentItems>
            <assignToReference>Cloned_Withdrawal_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Withdrawal_Modifications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Withdrawal_Modifications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ground_Water_Withdrawal_Record_Type</name>
        <label>Assign Ground Water Withdrawal Record Type</label>
        <locationX>270</locationX>
        <locationY>3323</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Withdrawal_Modifications.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ground_Water_Withdrawal_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Withdrawal_Modifications.AVO_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ground Water Withdrawal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Withdrawal_Modification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inactive_Withdrawal</name>
        <label>Assign Inactive Withdrawal</label>
        <locationX>402</locationX>
        <locationY>2999</locationY>
        <assignmentItems>
            <assignToReference>Inactive_Withdrawal.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Withdrawal_Modifications.AVO_Withdrawal_To_Replace__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Inactive_Withdrawal.AVO_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Inactive_Withdrawal_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Permit_ID</name>
        <label>Assign Parent Permit ID</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Permit_Number_to_Modify_or_Transfer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_General_Information_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Surface_Water_Withdrawal_Record_Type</name>
        <label>Assign Surface Water Withdrawal Record Type</label>
        <locationX>534</locationX>
        <locationY>3323</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Withdrawal_Modifications.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Surface_Water_Withdrawal_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Withdrawal_Modifications.AVO_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Surface Water Withdrawal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Withdrawal_Modification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Withdrawal_Modification</name>
        <label>Assign Withdrawal Modification</label>
        <locationX>402</locationX>
        <locationY>3515</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Withdrawal_Modifications.AVO_Permit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Permit_Number_to_Modify_or_Transfer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Withdrawal_Modifications.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Number</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Withdrawal_Modifications.Issued_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Withdrawal_Modifications.AVO_Permit_gpm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Withdrawal_Modifications.AVO_Maximum_Proposed_GPM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Withdrawal_Modifications.AVO_GIS_UNIQUE__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Withdrawal_Modifications.AVO_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Modified_Withdrawal_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Acknowledgment_Section</name>
        <label>Copy Acknowledgment Section</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Withdrawal_limit_acknowledgment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Withdrawal_limit_acknowledgment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Water_Wel_Standrd_Act_Acknolwedgment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Water_Wel_Standrd_Act_Acknolwedgment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Water_Flow_Meter_acknowledgment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Water_Flow_Meter_acknowledgment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Water_well_contractor_acknolwedgment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Water_well_contractor_acknolwedgment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Water_Meter_Integrity_Acknowledgment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Water_Meter_Integrity_Acknowledgment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Water_Well_Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Water_Well_Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Well_Replace_abandonment_Aknowldgmnt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Well_Replace_abandonment_Aknowldgmnt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Water_Well_Contractor_License_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Water_Well_Contractor_License_number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Water_Conservation_Plan_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Center_Pivot_and_Lateral_Linear_Move_Irrigation_Systems_Section</name>
        <label>Copy Center Pivot and Lateral (Linear) Move Irrigation Systems Section</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_End_Guns_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_End_Guns_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Water_elimination_acres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Water_elimination_acres__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Sprinkler_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Sprinkler_Package__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Irrigated_Acres_under_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Irrigated_Acres_under_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Irrigated_Acres_under_2_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Irrigated_Acres_under_2_5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Sprinkler_choice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Sprinkler_choice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Drip_and_Micro_Irrigation_Systems_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Drip_and_Micro_Irrigation_Systems_Section</name>
        <label>Copy Drip and Micro Irrigation Systems Section</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Emitters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Emitters__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Water_Delivery_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Water_Delivery_System__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Traveler_and_Big_gun_Irrigation_Systems_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Expiration_Information_Section</name>
        <label>Copy Expiration Information Section</label>
        <locationX>182</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Letter_of_Concurrence_Expiration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Letter_of_Concurrence_Expiration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Permit_Information_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_General_Information_Section</name>
        <label>Copy General Information Section</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Permit_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Permit_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Basin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Basin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Permit_Purpose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Permit_Purpose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Property_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Property_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Specify_Other_Agricultural_Use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Specify_Other_Agricultural_Use__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Owener_is_operator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Owener_is_operator__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Types_of_Water_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Types_of_Water_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Operator_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Operator_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Purpose_of_Water_Use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Purpose_of_Water_Use__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Special_Condition_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Special_Condition_s__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Special_Condition_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Special_Condition_Required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.avo_Pump_Capacity_GPM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.avo_Pump_Capacity_GPM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_State_Funded_Meter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_State_Funded_Meter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Waiver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Waiver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Undocumented__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Undocumented__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Irrigation_Efficiency_Form_required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Irrigation_Efficiency_Form_required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Permit_Closed_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Permit_Closed_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Is_Low_Flow_Plan_required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Is_Low_Flow_Plan_required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Is_Conservation_Plan_required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Is_Conservation_Plan_required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_GIS_Unique_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_GIS_Unique_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_SW_Source_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_SW_Source_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Permit_Holder_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Permit_Holder_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.Unit_of_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Unit_of_Flow__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Farm_Corp_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Farm_Corp_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Irrigation_System_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_GIS_Data_Section</name>
        <label>Copy GIS Data Section</label>
        <locationX>182</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_TID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_TID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Inside_X__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Inside_X__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Inside_Y__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Inside_Y__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Src__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Src__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Src_col__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Src_col__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_SrcType_Gen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_SrcType_Gen__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_MOSID_col__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_MOSID_col__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Acres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Acres__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_MOSID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_MOSID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_AutoID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_AutoID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_LandUse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_LandUse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_CurrentRecord__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_CurrentRecord__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_IrrSys__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_IrrSys__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Status_GIS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Status_GIS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_IrrStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_IrrStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Cover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Cover__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Basin_GIS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Basin_GIS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_ComAcre__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_ComAcre__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Suspension_Areas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Suspension_Areas__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Coastal_24__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Coastal_24__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_This_a_Transfer_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Golf_Courses_and_Turf_Farms_Section</name>
        <label>Copy Golf Courses and Turf Farms Section</label>
        <locationX>182</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Scheduling_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Scheduling_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Operational_rain_shut_off_switch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Operational_rain_shut_off_switch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Operational_pump_shutdown_dev_one__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Operational_pump_shutdown_dev_one__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Conservation_tillage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Conservation_tillage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Leak_detcton_and_operational_checks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Leak_detcton_and_operational_checks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Night_time_only_irrigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Night_time_only_irrigation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Irrigation_Efficiency_Section_1_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Irrigation_Efficiency_Section_1_Section</name>
        <label>Copy Irrigation Efficiency - Section 1 Section</label>
        <locationX>182</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Operational_pump_shutdown_safety__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Operational_pump_shutdown_safety__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Specify_Other_Irrigation_Device_One__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Specify_Other_Irrigation_Device_One__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Low_pressure_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Low_pressure_System__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Require_Surfce_water_wthdrawal_prmit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Require_Surfce_water_wthdrawal_prmit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Irrigation_Efficiency_Section_2_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Irrigation_Efficiency_Section_2_Section</name>
        <label>Copy Irrigation Efficiency - Section 2 Section</label>
        <locationX>182</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Center_Pivot_Advanced_Practice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Center_Pivot_Advanced_Practice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Big_Gun_Practice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Big_Gun_Practice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Big_Gun_Recommended_Practice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Big_Gun_Recommended_Practice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Specify_Other_Big_Gun_Rec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Specify_Other_Big_Gun_Rec__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Expiration_Information_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Irrigation_System_Section</name>
        <label>Copy Irrigation System Section</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Name_of_Field_Irr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Name_of_Field_Irr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Date_of_Irrigation_System_Installati__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Date_of_Irrigation_System_Installati__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Irrigation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Irrigation_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Other_Irrigation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Other_Irrigation_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Permitted_Acres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Permitted_Acres__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Specify__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Specify__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Max_Proposed_Permitted_Acres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Max_Proposed_Permitted_Acres__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Chemicals_or_Fertilizers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Chemicals_or_Fertilizers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Irrigation_Installed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Irrigation_Installed_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Amt_Irr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Amt_Irr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Installed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Installed_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Irrigation_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Irrigation_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Acknowledgment_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Permit_Information_Section</name>
        <label>Copy Permit Information Section</label>
        <locationX>182</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Date_Permit_Issued__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Date_Permit_Issued__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Date_Permit_Expires__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Date_Permit_Expires__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_GIS_Data_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Property_Owner_And_Operator_Manager</name>
        <label>Copy Property Owner And Operator/Manager</label>
        <locationX>50</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Property_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Property_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Operator_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Operator_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Permit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Solid_set_Sprinkler_Irrigation_Systems_Section</name>
        <label>Copy Solid-set Sprinkler Irrigation Systems Section</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Sprinkler_other_trajectory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Sprinkler_other_trajectory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.Solid_Set_Delivery_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Solid_Set_Delivery_System__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Golf_Courses_and_Turf_Farms_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Traveler_and_Big_gun_Irrigation_Systems_Section</name>
        <label>Copy Traveler and Big-gun Irrigation Systems Section</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Delivery_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Delivery_System__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Gun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Gun__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Gun_other_trajectory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Gun_other_trajectory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Solid_Set_Sprinkler_trajectory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Solid_Set_Sprinkler_trajectory__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Solid_set_Sprinkler_Irrigation_Systems_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Water_Conservation_Plan_Section</name>
        <label>Copy Water Conservation Plan Section</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Parent_Permit_Update.AVO_Water_Conservation_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Water_Conservation_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Center_Pivot_and_Lateral_Linear_Move_Irrigation_Systems_Section</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Current_Withdrawal_Application_Ground_or_Surface</name>
        <label>Is Current Withdrawal Application Ground or Surface?</label>
        <locationX>402</locationX>
        <locationY>3215</locationY>
        <defaultConnector>
            <targetReference>Assign_Surface_Water_Withdrawal_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Surface Water Withdrawal Application</defaultConnectorLabel>
        <rules>
            <name>Ground_Water_Withdrawal_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Withdrawal_Modifications.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ground Water Withdrawal Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ground_Water_Withdrawal_Record_Type</targetReference>
            </connector>
            <label>Ground Water Withdrawal Application</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_A_Permit_To_Modify_Or_Transfer</name>
        <label>Is There A Permit To Modify Or Transfer?</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Transaction_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_There_Is_A_Permit_To_Modify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Permit_Number_to_Modify_or_Transfer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Permit_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_A_Withdrawal_To_Modify</name>
        <label>Is There A Withdrawal To Modify?</label>
        <locationX>600</locationX>
        <locationY>2891</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Withdrawal_Modifications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Withdrawal To Modify</defaultConnectorLabel>
        <rules>
            <name>There_Is_A_Withdrawal_To_Modify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Withdrawal_Modifications.AVO_Withdrawal_To_Replace__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inactive_Withdrawal</targetReference>
            </connector>
            <label>There Is A Withdrawal To Modify</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_a_Transfer_Application</name>
        <label>Is This a Transfer Application?</label>
        <locationX>182</locationX>
        <locationY>2051</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Permit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Transfer Application</defaultConnectorLabel>
        <rules>
            <name>Transfer_Application</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Application_Type_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AVO_Application_Type_Modification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modification and Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Property_Owner_And_Operator_Manager</targetReference>
            </connector>
            <label>Transfer Application</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Transaction_Status_Formula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!$Record.AVO_Transaction_Status__c}), &quot;To Be &quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>AVO AWW Modification Permit Issued {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO AWW Modification Permit Issued</label>
    <loops>
        <name>Loop_Through_Withdrawal_Modifications</name>
        <label>Loop Through Withdrawal Modifications</label>
        <locationX>182</locationX>
        <locationY>2783</locationY>
        <collectionReference>Get_Withdrawal_Modifications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_There_A_Withdrawal_To_Modify</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Modified_Withdrawals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Modified_Withdrawals</name>
        <label>Create Modified Withdrawals</label>
        <locationX>182</locationX>
        <locationY>3899</locationY>
        <connector>
            <targetReference>Update_Inactive_Withdrawals</targetReference>
        </connector>
        <inputReference>Cloned_Withdrawal_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Ground_Water_Withdrawal_Record_Type</name>
        <label>Get Ground Water Withdrawal Record Type</label>
        <locationX>182</locationX>
        <locationY>2459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Surface_Water_Withdrawal_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ground_Water_Withdrawal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Surface_Water_Withdrawal_Record_Type</name>
        <label>Get Surface Water Withdrawal Record Type</label>
        <locationX>182</locationX>
        <locationY>2567</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Withdrawal_Modifications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Surface_Water_Withdrawal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Withdrawal_Modifications</name>
        <label>Get Withdrawal Modifications</label>
        <locationX>182</locationX>
        <locationY>2675</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Withdrawal_Modifications</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AVO_Permit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ground Water Withdrawal Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Surface Water Withdrawal Application</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AVO_Withdrawals__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Transaction_Status</name>
        <label>Update Transaction Status on Permit</label>
        <locationX>336</locationX>
        <locationY>4307</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Permit_Number_to_Modify_or_Transfer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Transaction_Status__c</field>
            <value>
                <elementReference>Transaction_Status_Formula</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inactive_Withdrawals</name>
        <label>Update Inactive Withdrawals</label>
        <locationX>182</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Update_Transaction_Status</targetReference>
        </connector>
        <inputReference>Inactive_Withdrawal_Collection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Permit</name>
        <label>Update Parent Permit</label>
        <locationX>182</locationX>
        <locationY>2351</locationY>
        <connector>
            <targetReference>Get_Ground_Water_Withdrawal_Record_Type</targetReference>
        </connector>
        <inputReference>Parent_Permit_Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transaction_Status</name>
        <label>Update Transaction Status</label>
        <locationX>336</locationX>
        <locationY>4199</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Transaction_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>AVO_Transaction_Status__c</field>
            <value>
                <elementReference>Transaction_Status_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_There_A_Permit_To_Modify_Or_Transfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Revision Issued</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Revision</stringValue>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Cloned_Withdrawal_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
    <variables>
        <name>Inactive_Withdrawal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
    <variables>
        <name>Inactive_Withdrawal_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
    <variables>
        <name>Parent_Permit_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <description>The Id of the AWW Permit to which the new Withdrawals will be attached to. If it&apos;s a new Application, this will contain the Id of the new Permit created. If it&apos;s a Replacement or Additional Application, this will contain the Existing Permit Id whose Withdrawals will be Replaced/Added</description>
        <name>Withdrawals_Parent_Permit_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
