force-app/main/default/flows/AVO_Meter_Transaction_Batch_Entry_Approved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_NewMeter_to_Collection</name>
        <label>Add NewMeter to Collection</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>NewMeters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewMeter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Meter_Entry_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Values_to_NewMeter</name>
        <label>Assigning Values to NewMeter</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>NewMeter.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Entry_Loop.AVO_Meter_Serial_Number_MSN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeter.AVO_Make__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Entry_Loop.AVO_Make__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeter.AVO_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Entry_Loop.AVO_Model__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeter.AVO_Outside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Entry_Loop.AVO_Outside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeter.AVO_Inside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Entry_Loop.AVO_Inside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeter.AVO_Meter_Order_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Entry_Loop.AVO_Meter_Order_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeter.AVO_Battery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Entry_Loop.AVO_Battery__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeter.AVO_State_Purchased__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Entry_Loop.AVO_State_Purchased__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeter.AVO_Inventory_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready in Warehouse</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeter.AVO_Purchase_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Entry_Loop.AVO_Purchase_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeter.AVO_Disposal_Batch_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Entry_Loop.AVO_Disposal_Batch_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeter.AVO_Disposed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Entry_Loop.AVO_Disposed_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeter.AVO_Disposed_By_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Entry_Loop.AVO_Disposed_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeter.AVO_Meter_Orientation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Entry_Loop.AVO_Meter_Orientation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeter.AVO_Storage_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Entry_Loop.AVO_Storage_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeter.AVO_Disposal_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Entry_Loop.AVO_Disposal_Method__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_NewMeter_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>AVO Meter Transaction Batch Entry Approved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Meter Transaction Batch Entry Approved</label>
    <loops>
        <name>Meter_Entry_Loop</name>
        <label>Meter Entry Loop</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Meter_Entries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Values_to_NewMeter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Meter_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Meter_Records</name>
        <label>Create New Meter Records</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <inputReference>NewMeters</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Meter_Entries</name>
        <label>Get Meter Entries</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Meter_Entry_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Batch_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Entry</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AVO_Meter_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Batch_Status_to_Approved</name>
        <label>Set Batch Status to Approved</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_Meter_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Batch_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Entry</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Batch_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter_Transaction__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Batch_Status_to_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Batch Meter Entry</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Batch_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Batch_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AVO_Meter_Transaction__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewMeter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter__c</objectType>
    </variables>
    <variables>
        <name>NewMeters</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter__c</objectType>
    </variables>
</Flow>
