force-app/main/default/flows/AVO_Add_Condition_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Condition_to_Collection</name>
        <label>Add Condition to Collection</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Go_Through_Single_Condition_Template_From_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Single_Condition_Id_to_Collection</name>
        <label>Add Single Condition Id to Collection</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Condition_Id_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Condition_Id_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_First_Id_From_Condition_Ids_String</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Condition_Fields</name>
        <label>Assign Condition Fields</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Condition_Variable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit_Condition_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Condition_Variable.AVO_Application_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Condition_Variable.AVO_Special_Condition_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_Through_Single_Condition_Template_From_Filter.AVO_Special_Condition_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Condition_Variable.AVO_Special_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_Through_Single_Condition_Template_From_Filter.AVO_Special_Condition__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Condition_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Condition_Id_Single</name>
        <label>Assign Condition Id Single</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Condition_Id_Single</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Single_Condition_Id_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_Condition_Id_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Condition_Ids_String</name>
        <label>Assign Condition Ids String</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Condition_Ids_String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Conditions_Checkbox_Group</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Condition_Ids_String</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Condition_Ids_String_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_First_Id_From_Condition_Ids_String</name>
        <label>Remove First Id From Condition Ids String</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Condition_Ids_String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Condition_Id_String_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Condition_Ids_String_Blank</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Condition_Templates</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Condition Templates</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>currentItem_Filter_Condition_Templates</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Condition_Templates</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Condition_Templates.AVO_Permit_Types__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>To_Get_Permit_Record.MUSW__Type__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Condition_Templates.AVO_Permit_Statuses__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>To_Get_Permit_Record.MUSW__Status__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Buttons_Display_Screen</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Condition_Using_Current_Condition_Id</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Condition Using Current Condition Id</label>
        <locationX>226</locationX>
        <locationY>998</locationY>
        <assignNextValueToReference>currentItem_Filter_Condition_Using_Current_Condition_Id</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Condition_Templates</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Condition_Using_Current_Condition_Id.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_Condition_Template_Ids</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Go_Through_Single_Condition_Template_From_Filter</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Is_Condition_Ids_String_Blank</name>
        <label>Is Condition Ids String Blank?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Condition_Id_Single</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Condition Ids String NOT Blank</defaultConnectorLabel>
        <rules>
            <name>Condition_Ids_String_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Condition_Ids_String</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permit_Condition_Record_Type</targetReference>
            </connector>
            <label>Condition Ids String Blank</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Condition_Choice_Set</name>
        <collectionReference>Filter_Condition_Templates</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>AVO_Condition_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Single_Condition_Id_Formula</name>
        <dataType>String</dataType>
        <expression>TRIM(                                                                                                         
SUBSTITUTE(
LEFT( {!Condition_Ids_String} , FIND(&quot;;&quot;,  {!Condition_Ids_String} )),
&quot;;&quot;,                                                                                          
&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>Update_Condition_Id_String_Formula</name>
        <dataType>String</dataType>
        <expression>TRIM(
SUBSTITUTE( {!Condition_Ids_String} ,  {!Condition_Id_Single}+&quot;;&quot; ,  &quot;&quot;  )
)</expression>
    </formulas>
    <interviewLabel>AVO Add Condition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Add Condition Button</label>
    <loops>
        <name>Go_Through_Single_Condition_Template_From_Filter</name>
        <label>Go Through Single Condition Template From Filter</label>
        <locationX>226</locationX>
        <locationY>1106</locationY>
        <collectionReference>Filter_Condition_Using_Current_Condition_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Condition_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Condition_Template_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Condition_Template_Ids</name>
        <label>Loop Through Condition Template Ids</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <collectionReference>Condition_Id_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Condition_Using_Current_Condition_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Conditions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Conditions</name>
        <label>Create Conditions</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <inputReference>Condition_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Condition_Templates</name>
        <label>Get All Condition Templates</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Condition_Templates</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AVO_Condition_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permit_Condition_Record_Type</name>
        <label>Get Permit Condition Record Type</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Condition_Template_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MUSW__Condition__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Permit_Condition</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>To_Get_Permit_Record</name>
        <label>To Get Permit Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Condition_Templates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Buttons_Display_Screen</name>
        <label>Buttons Display Screen</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Condition_Ids_String</targetReference>
        </connector>
        <fields>
            <name>Select_Conditions_Checkbox_Group</name>
            <choiceReferences>Condition_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Condition(s):</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>To_Get_Permit_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Condition_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Condition__c</objectType>
    </variables>
    <variables>
        <name>Condition_Id_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Condition_Id_Single</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Condition_Ids_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Condition_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Condition__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Condition_Templates</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Condition_Template__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Condition_Using_Current_Condition_Id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Condition_Template__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
