force-app/main/default/flows/AVO_Withdrawal_Populate_Permit_Withdrawal_Applied_Dates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Coastal_24_Check</name>
        <label>Coastal 24 Check</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>FRBP_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Coastal 24</defaultConnectorLabel>
        <rules>
            <name>Coastal_24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coastal_24__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Permit_Coastal_24</targetReference>
            </connector>
            <label>Coastal 24</label>
        </rules>
    </decisions>
    <decisions>
        <name>FRBP_Check</name>
        <label>FRBP Check</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>SW_Date_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No FRBP</defaultConnectorLabel>
        <rules>
            <name>FRBP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_FRBP_Conservation_Area__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Permit_FRBP</targetReference>
            </connector>
            <label>FRBP</label>
        </rules>
    </decisions>
    <decisions>
        <name>GW_Date_Check</name>
        <label>GW Date Check</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>No GW Date</defaultConnectorLabel>
        <rules>
            <name>GW_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_GwAppliedDt__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Permit_GW_Date</targetReference>
            </connector>
            <label>GW Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>SW_Date_Check</name>
        <label>SW Date Check</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>GW_Date_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SW Date</defaultConnectorLabel>
        <rules>
            <name>SW_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_SwAppliedDt__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Permit_SW_Date</targetReference>
            </connector>
            <label>SW Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO Withdrawal - Populate Permit Withdrawal Applied Dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Withdrawal - Populate Permit Withdrawal Applied Dates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Permit_Coastal_24</name>
        <label>Update Permit Coastal 24</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>FRBP_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Permit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Coastal_24__c</field>
            <value>
                <elementReference>$Record.Coastal_24__c</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Permit_FRBP</name>
        <label>Update Permit FRBP</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>SW_Date_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Permit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_FRBPCONZONE__c</field>
            <value>
                <elementReference>$Record.AVO_FRBP_Conservation_Area__c</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Permit_GW_Date</name>
        <label>Update Permit GW Date</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Permit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_GW_Withdrawal_Applied_Date__c</field>
            <value>
                <elementReference>$Record.AVO_GwAppliedDt__c</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Permit_SW_Date</name>
        <label>Update Permit SW Date</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>GW_Date_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Permit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_SW_Withdrawal_Applied_Date__c</field>
            <value>
                <elementReference>$Record.AVO_SwAppliedDt__c</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Coastal_24_Check</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 4 OR 5) AND 3</filterLogic>
        <filters>
            <field>AVO_SwAppliedDt__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_GwAppliedDt__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Permit__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_FRBP_Conservation_Area__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Coastal_24__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AVO_Withdrawals__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
