force-app/main/default/flows/AVO_Meter_Maintenance_Request_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Meter_Maintenance_Request_Fields</name>
        <label>Assign Meter Maintenance Request Fields</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Maintenance_Request.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Maintenance_Request_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Meter_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Number</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meter Maintenance Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Maintenance_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Type_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Make__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter.AVO_Make__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter.AVO_Model__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Outside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter.AVO_Outside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Inside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter.AVO_Inside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Meter_On_Site_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter.AVO_Meter_On_Site_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Meter_Geolocation__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter.AVO_Meter_Geolocation__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Meter_Geolocation__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter.AVO_Meter_Geolocation__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Meter_Withdrawal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Permit_Fields</name>
        <label>Assign Permit Fields</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Permit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Application_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit.MUSW__Applicant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit.AVO_County_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Maintenance_Request.AVO_Withdrawal_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Withdrawal.AVO_Withdrawal_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Meter_Maintenance_Request</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Meter_Withdrawal_Existws</name>
        <label>Check Meter Withdrawal Existws</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Create_Meter_Maintenance_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meter_Withdrawal_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Meter_Withdrawal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permit</targetReference>
            </connector>
            <label>Meter Withdrawal Exists</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Maintenance_Type_PCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_Maintenance_Type__c</picklistField>
        <picklistObject>AVO_Meter_Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>AVO Meter Maintenance Request Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Meter Maintenance Request Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Meter_Maintenance_Request</name>
        <label>Create Meter Maintenance Request</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>Maintenance_Request</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Meter</name>
        <label>Get Meter</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Meter_Maintenance_Request_Input_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Maintenance_Request_Record_Type</name>
        <label>Get Meter Maintenance Request Record Type</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Meter_Maintenance_Request_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Meter_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter_Maintenance_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Withdrawal</name>
        <label>Get Meter Withdrawal</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Meter_Withdrawal_Existws</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Meter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Withdrawal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permit</name>
        <label>Get Permit</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Permit_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Meter_Withdrawal.AVO_Withdrawal_ID__r.AVO_Permit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Meter_Maintenance_Confirmation_Screen</name>
        <label>Meter Maintenance Confirmation Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Meter</targetReference>
        </connector>
        <fields>
            <name>Meter_Maintenance_Confirmation_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Are you sure you wish to create a meter maintenance request on this meter? A meter maintenance request record will be created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Meter_Maintenance_Request_Input_Screen</name>
        <label>Meter Maintenance Request Input Screen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Meter_Maintenance_Request_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Maintenance_Type_Picklist</name>
            <choiceReferences>Maintenance_Type_PCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Maintenance Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;A new Meter Maintenance Request record has been created. Click &lt;a href=&quot;/{!Maintenance_Request.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; to open it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Meter_Maintenance_Confirmation_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Applicant_Id_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Maintenance_Request</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Transaction__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
