force-app/main/default/flows/AVO_Create_GIS_Review_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Set_Meter_MOSID</name>
        <label>Set Meter MOSID</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <actionName>AvoMeterController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Store_Previous_Meter_MOSID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>meters</name>
            <value>
                <elementReference>Get_Meter</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AvoMeterController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>New_MOSID</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assigning_to_NewTask</name>
        <label>Assigning to NewTask</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>NewTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GIS Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_GIS_Specialist_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creating_the_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Previous_MOSID</name>
        <label>Store Previous MOSID</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>previousMOSID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Meter_ID__r.AVO_Meter_On_Site_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Meter_MOSID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Update_Type</name>
        <label>Check Update Type</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meter_Movement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Meter_Update_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Movement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Previous_MOSID</targetReference>
            </connector>
            <label>Meter Movement</label>
        </rules>
        <rules>
            <name>Meter_Location_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Meter_Update_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Location Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MOSID_To_Meter_s_Current_MOSID</targetReference>
            </connector>
            <label>Meter Location Change</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO Create GIS Review Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Create GIS Review Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creating_the_Task</name>
        <label>Creating the Task</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Meter</targetReference>
        </connector>
        <inputReference>NewTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_GIS_Specialist_Queue</name>
        <label>Get GIS Specialist Queue</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigning_to_NewTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GIS_Specialist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter</name>
        <label>Get Meter</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Update_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Meter_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Store_Previous_Meter_MOSID</name>
        <label>Store Previous Meter MOSID</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Update_MOSID_To_New_MOSID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Meter_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Previous_MOSID__c</field>
            <value>
                <elementReference>previousMOSID</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MOSID_To_Meter_s_Current_MOSID</name>
        <label>Update MOSID To Meter&apos;s Current MOSID</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>AVO_Meter_On_Site_ID__c</field>
            <value>
                <elementReference>$Record.AVO_Meter_ID__r.AVO_Meter_On_Site_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MOSID_To_New_MOSID</name>
        <label>Update MOSID To New MOSID</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>AVO_Meter_On_Site_ID__c</field>
            <value>
                <elementReference>New_MOSID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_GIS_Specialist_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Update</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Meter_Application_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GIS Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Meter_Application_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AVO_Meter_Transaction__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>New_MOSID</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>previousMOSID</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
