force-app/main/default/flows/AVO_Agricultural_Water_Withdrawal_Application_LOC_Package_Letters_v3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Current_Letter</name>
        <label>Generate Current Letter</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <actionName>BGBL__GenerateLettersAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Letters_From_Letter_IDs_Collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>letterRecordId</name>
            <value>
                <elementReference>Create_Letters_From_Letter_IDs_Collection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BGBL__GenerateLettersAction</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Irrigation_Efficiency_Certification_ID_to_Letter_IDs_Collection</name>
        <label>Add Irrigation Efficiency Certification ID to Letter IDs Collection</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Letter_IDs_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>a103C000001QxPBQA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Low_Flow_Guidance_ID_to_Letter_IDs_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Low_Flow_Guidance_ID_to_Letter_IDs_Collection</name>
        <label>Add Low Flow Guidance ID to Letter IDs Collection</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Letter_IDs_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>a103C000001QxJqQAK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Well_Pad_Requirement_ID_to_Letter_IDs_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Well_Pad_Requirement_ID_to_Letter_IDs_Collection</name>
        <label>Add Well Pad Requirement ID to Letter IDs Collection</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Letter_IDs_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>a103C000001QxJvQAK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Letters_From_Letter_IDs_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>AVO Agricultural Water Withdrawal Application LOC Package Letters v3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Agricultural Water Withdrawal Application LOC Package Letters v3</label>
    <loops>
        <name>Create_Letters_From_Letter_IDs_Collection</name>
        <label>Create Letters From Letter IDs Collection</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <collectionReference>Letter_IDs_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Generate_Current_Letter</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Irrigation_Efficiency_Certification_ID_to_Letter_IDs_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LOC Package</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Water Withdrawal Application</stringValue>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Letter_IDs_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
