force-app/main/default/flows/AVO_To_Update_Parent_Permit_Details_When_Child_Permit_Status_Is_Issued.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>To_Store_Parent_Parmet_Deatils</name>
        <label>To Store Parent Parmet Deatils</label>
        <locationX>599</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Water_Conservation_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Water_Conservation_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_End_Guns_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_End_Guns_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Water_elimination_acres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Water_elimination_acres__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Sprinkler_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Sprinkler_Package__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Irrigated_Acres_under_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Irrigated_Acres_under_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Irrigated_Acres_under_2_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Irrigated_Acres_under_2_5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Sprinkler_choice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Sprinkler_choice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Emitters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Emitters__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Describe_Other_Emitters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Describe_Other_Emitters__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Water_Delivery_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Water_Delivery_System__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Delivery_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Delivery_System__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Gun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Gun__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Gun_other_trajectory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Gun_other_trajectory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Solid_Set_Sprinkler_trajectory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Solid_Set_Sprinkler_trajectory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Sprinkler_other_trajectory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Sprinkler_other_trajectory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.Solid_Set_Delivery_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Solid_Set_Delivery_System__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Scheduling_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Scheduling_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Operational_rain_shut_off_switch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Operational_rain_shut_off_switch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Operational_pump_shutdown_safety__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Operational_pump_shutdown_safety__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Leak_detcton_and_operational_checks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Leak_detcton_and_operational_checks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Conservation_tillage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Conservation_tillage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Operational_pump_shutdown_dev_one__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Operational_pump_shutdown_dev_one__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Operational_pump_shutdown_dev_two__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Operational_pump_shutdown_dev_two__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Low_pressure_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Low_pressure_System__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_The_Parent_record.AVO_Require_Surfce_water_wthdrawal_prmit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Require_Surfce_water_wthdrawal_prmit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>To_Update</name>
        <label>To Update</label>
        <locationX>696</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>ParentPermit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>To_Get_The_Parent_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_Update_Parent_Permit_Record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>AVO To Update Parent Permit Details When Child Permit Status Is Issued {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO To Update Parent Permit Details When Child Permit Status Is Issued</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>To_Get_The_Parent_record</name>
        <label>To Get The Parent record</label>
        <locationX>517</locationX>
        <locationY>394</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>To_Store_Parent_Parmet_Deatils</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Permit_Number_to_Modify_or_Transfer__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>To_Update_Parent_Permit_Record</name>
        <label>To Update Parent Permit Record</label>
        <locationX>796</locationX>
        <locationY>489</locationY>
        <inputReference>ParentPermit</inputReference>
    </recordUpdates>
    <start>
        <locationX>136</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>To_Get_The_Parent_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Issued</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Revision</stringValue>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ParentPermit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
</Flow>
