force-app/main/default/flows/AVO_AG_Water_Meter_Installation_Post_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Current_Meter_Reading_To_Collection</name>
        <label>Add Current Meter Reading To Collection</label>
        <locationX>50</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>Create_Meter_Reading_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Current_Meter_Reading_To_Collection1</name>
        <label>Add Current Meter Reading To Collection</label>
        <locationX>490</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>Meter_Reading_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Meter_Reading_Current</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Meter_Reading_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Old_Meter_Reading_To_Collection</name>
        <label>Add Old Meter Reading To Collection</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>Meter_Reading_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Meter_Reading_Old</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_There_Current_Meter_Reading</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Meter_Reading_Fields</name>
        <label>Assign Current Meter Reading Fields</label>
        <locationX>50</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.AVO_Batch_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.AVO_Reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Current_Meter_Reading__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.AVO_Crop_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Crop_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.AVO_Withdrawal_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Withdrawal_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.AVO_Meter_Installation_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Reading_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.AVO_Meter_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_New_Meter_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_Meter_Reading_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Meter_Reading_Fields1</name>
        <label>Assign Current Meter Reading Fields</label>
        <locationX>490</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.AVO_Batch_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.AVO_Reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Current_Meter_Reading__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.AVO_Crop_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Crop_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.AVO_Withdrawal_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Withdrawal_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.AVO_Meter_Installation_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Reading_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.AVO_Meter_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_New_Meter_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_Meter_Reading_To_Collection1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Reading_Record_Type</name>
        <label>Assign Meter Reading Record Type</label>
        <locationX>402</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Meter_Reading_Old.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Reading_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Reading_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Installation_Type_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Old_Meter_Reading_Fields</name>
        <label>Assign Old Meter Reading Fields</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>Meter_Reading_Old.AVO_Batch_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Old.AVO_Reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Old_Meter_Reading__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Old.AVO_Crop_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Crop_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Old.AVO_Withdrawal_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Withdrawal_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Old.AVO_Meter_Installation_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Old.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Reading_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Old.AVO_Meter_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Meter_Maintenance_Request.AVO_Meter_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Old_Meter_Reading_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_There_Meter_Readings</name>
        <label>Are There Meter Readings?</label>
        <locationX>666</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>There Are No Meter Readings</defaultConnectorLabel>
        <rules>
            <name>There_Are_Meter_Readings</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Current_Meter_Reading__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AVO_Old_Meter_Reading__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Meter_Maintenance_Request</targetReference>
            </connector>
            <label>There Are Meter Readings</label>
        </rules>
    </decisions>
    <decisions>
        <name>Installation_Type_Check</name>
        <label>Installation Type Check</label>
        <locationX>402</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Is_There_Current_Meter_Reading1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Replacement</defaultConnectorLabel>
        <rules>
            <name>Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Installation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_There_Old_Meter_Reading</targetReference>
            </connector>
            <label>Replacement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_Current_Meter_Reading</name>
        <label>Is There Current Meter Reading?</label>
        <locationX>182</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Create_Meter_Reading_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Current Meter Reading</defaultConnectorLabel>
        <rules>
            <name>Current_Meter_Reading</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Current_Meter_Reading__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Meter_Reading_Fields</targetReference>
            </connector>
            <label>Current Meter Reading</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_Current_Meter_Reading1</name>
        <label>Is There Current Meter Reading?</label>
        <locationX>622</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Create_Meter_Reading_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Current Meter Reading</defaultConnectorLabel>
        <rules>
            <name>Current_Meter_Reading1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Current_Meter_Reading__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Meter_Reading_Fields1</targetReference>
            </connector>
            <label>Current Meter Reading</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_Old_Meter_Reading</name>
        <label>Is There Old Meter Reading?</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Is_There_Current_Meter_Reading</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Old Meter Reading</defaultConnectorLabel>
        <rules>
            <name>Old_Meter_Reading</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Old_Meter_Reading__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Old_Meter_Reading_Fields</targetReference>
            </connector>
            <label>Old Meter Reading</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO AG Water Meter Installation Post Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO AG Water Meter Installation Post Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Installation_Review</name>
        <label>Create Installation Review</label>
        <locationX>666</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Are_There_Meter_Readings</targetReference>
        </connector>
        <inputAssignments>
            <field>AVO_Meter_Transaction__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Metering_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Installation_Review_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Meter_Reading_Records</name>
        <label>Create Meter Reading Records</label>
        <locationX>402</locationX>
        <locationY>2195</locationY>
        <inputReference>Meter_Reading_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Installation_Review_Record_Type</name>
        <label>Get Installation Review Record Type</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Installation_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MUSW__Review__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Meter_Installation_Review</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Reading_Record_Type</name>
        <label>Get Meter Reading Record Type</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Meter_Reading_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Meter_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter_Reading</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metering_Queue</name>
        <label>Get Metering Queue</label>
        <locationX>666</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Installation_Review_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Metering</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Meter_Maintenance_Request</name>
        <label>Get Parent Meter Maintenance Request</label>
        <locationX>402</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Meter_Reading_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Meter_Maintenance_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Maintenance Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_AG_Water_Meter_Installation_Status_and_Owner</name>
        <label>Update AG Water Meter Installation Status and Owner</label>
        <locationX>666</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_Metering_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>AVO_Installation_Status__c</field>
            <value>
                <stringValue>Installation Review AG</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_AG_Water_Meter_Installation_Status_and_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AG Water Metering Installation</stringValue>
            </value>
        </filters>
        <object>AVO_Meter_Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GIS_Review_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Meter_Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Meter_Reading_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Meter_Reading_Current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Meter_Reading_Old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Meter_Withdrawal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Withdrawal__c</objectType>
    </variables>
</Flow>
