force-app/main/default/flows/AVO_Subflow_Agricultural_Water_Withdrawal_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Replacement_Withdrawal_To_Collection</name>
        <label>Add Replacement Withdrawal To Collection</label>
        <locationX>842</locationX>
        <locationY>3542</locationY>
        <assignmentItems>
            <assignToReference>Replacement_Withdrawals_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Replacement_Withdrawal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_Through_Single_Withdrawal_From_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ground_Water_Withdrawal_Application_Record_Type</name>
        <label>Assign Ground Water Withdrawal Application Record Type</label>
        <locationX>710</locationX>
        <locationY>3026</locationY>
        <assignmentItems>
            <assignToReference>Replacement_Withdrawal.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ground_Water_Withdrawal_Application_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Withdrawal_To_Replace</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Permit_to_Attestation_Consent</name>
        <label>Assign Permit to Attestation Consent</label>
        <locationX>182</locationX>
        <locationY>3926</locationY>
        <assignmentItems>
            <assignToReference>Attestation_Consent.MUSW__Permit2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Attestation_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fills required fields with placeholder data</description>
        <name>Assign_Placeholder_Withdrawal_Data</name>
        <label>Assign Placeholder Withdrawal Data</label>
        <locationX>842</locationX>
        <locationY>3434</locationY>
        <assignmentItems>
            <assignToReference>Replacement_Withdrawal.AVO_AGGWD_UNIQUE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Placeholder AGGWD UNIQUE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Replacement_Withdrawal.AVO_GwAppliedDt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Replacement_Withdrawal.AVO_Intake_ft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Replacement_Withdrawal.AVO_Withdrawal_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Placeholder Well Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Replacement_Withdrawal.AVO_Well__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Replacement_Withdrawal_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_to_Permit</name>
        <label>Assign Record Type to Permit</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>Permit.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Type_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_Header_and_Application_Type_Field_For_New</name>
        <label>Assign Screen Header and Application Type Field For New</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Screen_Header</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New {!Record_Type_Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.AVO_Application_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Install New Withdrawal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_Type_to_Permit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_Header_and_Application_Type_Field_For_Replacement_2</name>
        <label>Assign Screen Header and Application Type Field For Replacement 2</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Screen_Header</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New {!Record_Type_Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.AVO_Application_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Install New Withdrawal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_Type_to_Permit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Surface_Water_Withdrawal_Application_Record_Type</name>
        <label>Assign Surface Water Withdrawal Application Record Type</label>
        <locationX>974</locationX>
        <locationY>3026</locationY>
        <assignmentItems>
            <assignToReference>Replacement_Withdrawal.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Surface_Water_Withdrawal_Application_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Withdrawal_To_Replace</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Withdrawal_Parent_Permit</name>
        <label>Assign Withdrawal Parent Permit</label>
        <locationX>842</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>Replacement_Withdrawal.AVO_Permit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Placeholder_Withdrawal_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Withdrawal_To_Replace</name>
        <label>Assign Withdrawal To Replace</label>
        <locationX>842</locationX>
        <locationY>3218</locationY>
        <assignmentItems>
            <assignToReference>Replacement_Withdrawal.AVO_Withdrawal_To_Replace__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Withdrawals_To_Replace</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Withdrawal_Parent_Permit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Assignment</name>
        <label>Stage Assignment</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>General Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Irrigation System</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Acknowledgment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Water Conservation Plan</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Center Pivot and Lateral (Linear) Move Irrigation Systems</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Drip and Micro Irrigation Systems</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Traveler and Big-gun Irrigation Systems</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Solid-set Sprinkler Irrigation Systems</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Golf Courses and Turf Farms</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Irrigation Efficiency - Section 1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Irrigation Efficiency - Section 2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Confirmation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>General_Information_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Radio button choice for additional AWWA application</description>
        <name>Additional_Application_Choice</name>
        <choiceText>Additional Agricultural Water Withdrawal Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Additional</stringValue>
        </value>
    </choices>
    <choices>
        <description>Radio button choice for new AWWA application</description>
        <name>New_Application_Choice</name>
        <choiceText>New Agricultural Water Withdrawal Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <description>Radio button choice for replacement AWWA application</description>
        <name>Replacement_Application_Choice</name>
        <choiceText>Replacement Agricultural Water Withdrawal Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Replacement</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Withdrawal_Using_Current_Withdrawal_Id</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Withdrawal Using Current Withdrawal Id</label>
        <locationX>622</locationX>
        <locationY>2702</locationY>
        <assignNextValueToReference>currentItem_Filter_Withdrawal_Using_Current_Withdrawal_Id</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Withdrawals_Collection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Withdrawal_Using_Current_Withdrawal_Id.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_Withdrawals_To_Replace</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Go_Through_Single_Withdrawal_From_Filter</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>Clariti_Confirmation_Details_Text_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>If any of the information above is incorrect, use the “Previous” button below to navigate to the appropriate section and update the incorrect information.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Permit_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MUSW__Permit2__c</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Checks if user has existing AWWA Permits.</description>
        <name>Does_User_Have_Existing_Permits</name>
        <label>Does User Have Existing Permits?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Screen_Header_and_Application_Type_Field_For_Replacement_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_User_Has_Existing_Permits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Same_Owner_Agricultural_Water_Withdrawal_Permits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Screen_Header_and_Application_Type_Field_For_New</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_Withdrawal_Ground_or_Surface</name>
        <label>Is Current Withdrawal Ground or Surface?</label>
        <locationX>842</locationX>
        <locationY>2918</locationY>
        <defaultConnector>
            <targetReference>Assign_Surface_Water_Withdrawal_Application_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Surface Water Withdrawal</defaultConnectorLabel>
        <rules>
            <name>Ground_Water_Withdrawal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Go_Through_Single_Withdrawal_From_Filter.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ground_Water_Withdrawal_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ground_Water_Withdrawal_Application_Record_Type</targetReference>
            </connector>
            <label>Ground Water Withdrawal</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Same_Owner_Permit_Choice_Set</name>
        <collectionReference>Same_Owner_Agricultural_Water_Withdrawal_Permits</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>MUSW__Permit2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Withdrawals_Choice_Set</name>
        <collectionReference>Withdrawals_Collection</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>AVO_Withdrawals__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Single_Withdrawal_Id_Formula</name>
        <dataType>String</dataType>
        <expression>TRIM(                                                                                                         
SUBSTITUTE(
LEFT( {!Withdrawal_Ids_String} , FIND(&quot;;&quot;,  {!Withdrawal_Ids_String} )),
&quot;;&quot;,                                                                                          
&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>Update_Withdrawal_Id_String_Formula</name>
        <dataType>String</dataType>
        <expression>TRIM(
SUBSTITUTE( {!Withdrawal_Ids_String} ,  {!Withdrawal_Id_Single}+&quot;;&quot; ,  &quot;&quot;  )
)</expression>
    </formulas>
    <interviewLabel>AVO Subflow Agricultural Water Withdrawal Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Subflow Agricultural Water Withdrawal Application</label>
    <loops>
        <name>Go_Through_Single_Withdrawal_From_Filter</name>
        <label>Go Through Single Withdrawal From Filter</label>
        <locationX>622</locationX>
        <locationY>2810</locationY>
        <collectionReference>Filter_Withdrawal_Using_Current_Withdrawal_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Current_Withdrawal_Ground_or_Surface</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Withdrawals_To_Replace</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Withdrawals_To_Replace</name>
        <label>Loop Through Withdrawals To Replace</label>
        <locationX>182</locationX>
        <locationY>2594</locationY>
        <collectionReference>Withdrawal_Id_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Withdrawal_Using_Current_Withdrawal_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Replacement_Withdrawals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Agricultural_Water_Withdrawal_Application_Permit</name>
        <label>Create Agricultural Water Withdrawal Application Permit</label>
        <locationX>182</locationX>
        <locationY>2162</locationY>
        <connector>
            <targetReference>Get_Ground_Water_Withdrawal_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>Permit</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Attestation_Consent</name>
        <label>Create Attestation Consent</label>
        <locationX>182</locationX>
        <locationY>4034</locationY>
        <connector>
            <targetReference>Permit_Application_Success_Flow</targetReference>
        </connector>
        <inputReference>Attestation_Consent</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Replacement_Withdrawals</name>
        <label>Create New Replacement Withdrawals</label>
        <locationX>182</locationX>
        <locationY>3818</locationY>
        <connector>
            <targetReference>Assign_Permit_to_Attestation_Consent</targetReference>
        </connector>
        <inputReference>Replacement_Withdrawals_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Ground_Water_Withdrawal_Application_Record_Type</name>
        <label>Get Ground Water Withdrawal Application Record Type</label>
        <locationX>182</locationX>
        <locationY>2378</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Surface_Water_Withdrawal_Application_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ground_Water_Withdrawal_Application</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>Ground_Water_Withdrawal_Application_Record_Type</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Ground_Water_Withdrawal_Record_Type</name>
        <label>Get Ground Water Withdrawal Record Type</label>
        <locationX>182</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ground_Water_Withdrawal_Application_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ground_Water_Withdrawal</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>Ground_Water_Withdrawal_Record_Type</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get AWWA Permits that has same owner as current user.</description>
        <name>Get_Same_Owner_Permits</name>
        <label>Get Same Owner Permits</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_User_Have_Existing_Permits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Water Withdrawal Permit</stringValue>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <outputReference>Same_Owner_Agricultural_Water_Withdrawal_Permits</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Surface_Water_Withdrawal_Application_Record_Type</name>
        <label>Get Surface Water Withdrawal Application Record Type</label>
        <locationX>182</locationX>
        <locationY>2486</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Withdrawals_To_Replace</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Withdrawals__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Surface_Water_Withdrawal_Application</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>Surface_Water_Withdrawal_Application_Record_Type</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Acknowledgement_Screen</name>
        <label>Acknowledgement Screen</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Water_Conservation_Plan_Screen</targetReference>
        </connector>
        <fields>
            <name>Acknowledgement_Screen_Header_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Acknowledgment_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Acknowledgment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Acknowledgment_Detail</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Permit2__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Acknowledgment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Permit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Permit</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UserGuide_Acknowledgment_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(241, 6, 6); background-color: rgb(255, 255, 255);&quot;&gt;Please click Save before clicking Next&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Center_Pivot_and_Lateral_Linear_Move_Irrigation_Systems_Screen</name>
        <label>Center Pivot and Lateral (Linear) Move Irrigation Systems Screen</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Drip_and_Micro_Irrigation_Systems_Screen</targetReference>
        </connector>
        <fields>
            <name>Center_Pivot_and_Lateral_Linear_Move_Irrigation_Systems_Screen_Header_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Center_Pivot_and_Lateral_Linear_Move_Irrigation_Systems_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Center Pivot and Lateral (Linear) Move Irrigation Systems</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Center_Pivot_and_Lateral_Linear_Move_Irrigation_Systems_Detail</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Permit2__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Center Pivot and Lateral (Linear) Move Irrigation Systems</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Permit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Permit</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UserGuide_Center_Pivot_and_Lateral_Linear_Move_Irrigation_Systems_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(241, 6, 6); background-color: rgb(255, 255, 255);&quot;&gt;Please click Save before clicking Next&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>182</locationX>
        <locationY>1946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attestation_Flow</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Screen_Header_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Clariti_Confirmation_Details_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;em&gt;{!Clariti_Confirmation_Details_Text_Label}&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Record_Details_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Record Details:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Detail</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Permit2__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Permit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>General Information, Irrigation System, Acknowledgment, Water Conservation Plan, Center Pivot and Lateral (Linear) Move Irrigation Systems, Drip and Micro Irrigation Systems, Traveler and Big-gun Irrigation Systems, Solid-set Sprinkler Irrigation Systems, Golf Courses and Turf Farms, Irrigation Efficiency - Section 1, Irrigation Efficiency - Section 2, Stream Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Permit</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Drip_and_Micro_Irrigation_Systems_Screen</name>
        <label>Drip and Micro Irrigation Systems Screen</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Traveler_and_Big_gun_Irrigation_Systems_Screen</targetReference>
        </connector>
        <fields>
            <name>Drip_and_Micro_Irrigation_Systems_Screen_Header_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Drip_and_Micro_Irrigation_Systems_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Drip and Micro Irrigation Systems</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Drip_and_Micro_Irrigation_Systems_Detail</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Permit2__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Drip and Micro Irrigation Systems</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Permit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Permit</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UserGuide_Drip_and_Micro_Irrigation_Systems_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(241, 6, 6); background-color: rgb(255, 255, 255);&quot;&gt;Please click Save before clicking Next&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>1370</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>General_Information_Screen</name>
        <label>General Information Screen</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Irrigation_System_Screen</targetReference>
        </connector>
        <fields>
            <name>General_Information_Screen_Header_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>General_Information_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>General Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>General_Information_Detail</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Permit2__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>General Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Permit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Permit</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UserGuide_General_Information_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(241, 6, 6); background-color: rgb(255, 255, 255);&quot;&gt;Please click Save before clicking Next&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Golf_Courses_and_Turf_Farms_Screen</name>
        <label>Golf Courses and Turf Farms Screen</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Irrigation_Efficiency_Section_1_Screen</targetReference>
        </connector>
        <fields>
            <name>Golf_Courses_and_Turf_Farms_Screen_Header_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Golf_Courses_and_Turf_Farms_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Golf Courses and Turf Farms</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Golf_Courses_and_Turf_Farms_Detail</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Permit2__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Golf Courses and Turf Farms</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Permit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Permit</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UserGuide_Golf_Courses_and_Turf_Farms_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(241, 6, 6); background-color: rgb(255, 255, 255);&quot;&gt;Please click Save before clicking Next&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Irrigation_Efficiency_Section_1_Screen</name>
        <label>Irrigation Efficiency - Section 1 Screen</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Irrigation_Efficiency_Section_2_Screen</targetReference>
        </connector>
        <fields>
            <name>Irrigation_Efficiency_Section_1_Screen_Header_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Irrigation_Efficiency_Section_1_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Irrigation Efficiency - Section 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Irrigation_Efficiency_Section_1_Detail</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Permit2__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Irrigation Efficiency - Section 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Permit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Permit</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UserGuide_Irrigation_Efficiency_Section_1_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(241, 6, 6); background-color: rgb(255, 255, 255);&quot;&gt;Please click Save before clicking Next&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Irrigation_Efficiency_Section_2_Screen</name>
        <label>Irrigation Efficiency - Section 2 Screen</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Irrigation_Efficiency_Section_2_Screen_Header_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Irrigation_Efficiency_Section_2_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Irrigation Efficiency - Section 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Irrigation_Efficiency_Section_2_Detail</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Permit2__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Irrigation Efficiency - Section 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Permit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Permit</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UserGuide_Irrigation_Efficiency_Section_2_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(241, 6, 6); background-color: rgb(255, 255, 255);&quot;&gt;Please click Save before clicking Next&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Irrigation_System_Screen</name>
        <label>Irrigation System Screen</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Acknowledgement_Screen</targetReference>
        </connector>
        <fields>
            <name>Irrigation_System_Screen_Header_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Irrigation_System_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Irrigation System</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Irrigation_System_Detail</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Permit2__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Irrigation System</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Permit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Permit</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UserGuide_Irrigation_System_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(241, 6, 6); background-color: rgb(255, 255, 255);&quot;&gt;Please click Save before clicking Next&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Solid_set_Sprinkler_Irrigation_Systems_Screen</name>
        <label>Solid-set Sprinkler Irrigation Systems Screen</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Golf_Courses_and_Turf_Farms_Screen</targetReference>
        </connector>
        <fields>
            <name>Solid_set_Sprinkler_Irrigation_Systems_Screen_Header_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Solid_set_Sprinkler_Irrigation_Systems_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Solid-set Sprinkler Irrigation Systems</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Solid_set_Sprinkler_Irrigation_Systems_Detail</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Permit2__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Solid-set Sprinkler Irrigation Systems</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Permit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Permit</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UserGuide_Solid_set_Sprinkler_Irrigation_Systems_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(241, 6, 6); background-color: rgb(255, 255, 255);&quot;&gt;Please click Save before clicking Next&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Traveler_and_Big_gun_Irrigation_Systems_Screen</name>
        <label>Traveler and Big-gun Irrigation Systems Screen</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solid_set_Sprinkler_Irrigation_Systems_Screen</targetReference>
        </connector>
        <fields>
            <name>Traveler_and_Big_gun_Irrigation_Systems_Screen_Header_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Traveler_and_Big_gun_Irrigation_Systems_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Traveler and Big-gun Irrigation Systems</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Traveler_and_Big_gun_Irrigation_Systems_Detail</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Permit2__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Traveler and Big-gun Irrigation Systems</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Permit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Permit</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UserGuide_Traveler_and_Big_gun_Irrigation_Systems_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(241, 6, 6); background-color: rgb(255, 255, 255);&quot;&gt;Please click Save before clicking Next&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Water_Conservation_Plan_Screen</name>
        <label>Water Conservation Plan Screen</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Center_Pivot_and_Lateral_Linear_Move_Irrigation_Systems_Screen</targetReference>
        </connector>
        <fields>
            <name>Water_Conservation_Plan_Screen_Header_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0);&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Water_Conservation_Plan_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Water Conservation Plan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Water_Conservation_Plan_Detail</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Permit2__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Water Conservation Plan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Permit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Permit</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UserGuide_Water_Conservation_Plan_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(241, 6, 6); background-color: rgb(255, 255, 255);&quot;&gt;Please click Save before clicking Next&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Same_Owner_Permits</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Attestation_Flow</name>
        <label>Attestation Flow</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Create_Agricultural_Water_Withdrawal_Application_Permit</targetReference>
        </connector>
        <flowName>AVO_Subflow_Attestation</flowName>
        <inputAssignments>
            <name>Object_API_Name</name>
            <value>
                <elementReference>Permit_API</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Attestation_Consent</assignToReference>
            <name>Attestation_Consent</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Permit_Application_Success_Flow</name>
        <label>Permit Application Success Flow</label>
        <locationX>182</locationX>
        <locationY>4142</locationY>
        <flowName>AVO_Permit_Application_Success_Flow</flowName>
        <inputAssignments>
            <name>Permit_Id</name>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Attestation_Consent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Attestation_Consent__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Selected_Permit_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Withdrawal_Using_Current_Withdrawal_Id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Ground_Water_Withdrawal_Application_Record_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>Ground_Water_Withdrawal_Record_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Replacement_Withdrawal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
    <variables>
        <name>Replacement_Withdrawals_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
    <variables>
        <description>Collection of AWW Permits with the same owner as the current user.</description>
        <name>Same_Owner_Agricultural_Water_Withdrawal_Permits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Screen_Header</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Surface_Water_Withdrawal_Application_Record_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>Withdrawal_Id_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Withdrawal_Id_Single</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>String containing all the selected Withdrawal Ids, delimited by semicolon</description>
        <name>Withdrawal_Ids_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Withdrawals_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
</Flow>
