force-app/main/default/flows/AVO_Meter_Withdrawal_De_Association.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>If_Meter_Update_Exists</name>
        <label>If Meter Update Exists</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Meter_Update</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Terminating_Transaction_ID</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO Meter Withdrawal De-Association {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Meter Withdrawal De-Association</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Meter_Update</name>
        <label>Get Meter Update</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Meter_Update_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Update</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Meter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Meter_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Meter_Application_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Meter_Application_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Terminating_Transaction_ID</name>
        <label>Set Terminating Transaction ID</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>AVO_Terminating_Transaction_ID__c</field>
            <value>
                <elementReference>Get_Meter_Update.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Meter_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Delete_Association__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Delete_Association__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AVO_Meter_Withdrawal__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
