force-app/main/default/flows/AVO_AG_Water_Metering_Installation_Review_Approved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Set_New_Meter_MOSID</name>
        <label>Set New Meter MOSID</label>
        <locationX>897</locationX>
        <locationY>4343</locationY>
        <actionName>AvoMeterController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Meter_Installation_MOSID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>meters</name>
            <value>
                <elementReference>Get_New_Meter</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AvoMeterController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>newMOSID</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Old_Meter_MOSID</name>
        <label>Set Old Meter MOSID</label>
        <locationX>1161</locationX>
        <locationY>4535</locationY>
        <actionName>AvoMeterController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Meter_Installation_MOSID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>meters</name>
            <value>
                <elementReference>Get_Old_Meter</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AvoMeterController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>newMOSID</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_New_Meter_Withdrawal_To_Collection</name>
        <label>Add New Meter Withdrawal To Collection</label>
        <locationX>1051</locationX>
        <locationY>3119</locationY>
        <assignmentItems>
            <assignToReference>New_Meter_Withdrawals</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Meter_Withdrawal_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Old_Meter_Withdrawal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Updated_Old_Meter_Withdrawal_To_Collection</name>
        <label>Add Updated Old Meter Withdrawal To Collection</label>
        <locationX>1051</locationX>
        <locationY>3335</locationY>
        <assignmentItems>
            <assignToReference>Updated_Old_Meter_Withdrawals</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Old_Meter_Withdrawals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Old_Meter_Withdrawals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Installation_Fields</name>
        <label>Assign Meter Installation Fields</label>
        <locationX>1095</locationX>
        <locationY>2147</locationY>
        <assignmentItems>
            <assignToReference>Meter_Installation.AVO_Inventory_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Installed Meter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Installation.AVO_Installation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Meter_Installation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Installation_Inventory_Status</name>
        <label>Assign Meter Installation Inventory Status</label>
        <locationX>1414</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Meter_Installation.AVO_Inventory_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Installed Meter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Meter_Installation_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Installation_Submit_Disposal_Approval</name>
        <label>Assign Meter Installation Submit Disposal Approval</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>Meter_Installation.AVO_Submit_Disposal_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_Meter_Replacement_or_Retrieval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Meter_Withdrawal</name>
        <label>Assign New Meter Withdrawal</label>
        <locationX>1051</locationX>
        <locationY>3011</locationY>
        <assignmentItems>
            <assignToReference>New_Meter_Withdrawal_Variable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Old_Meter_Withdrawals.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter_Withdrawal_Variable.AVO_Withdrawal_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Old_Meter_Withdrawals.AVO_Withdrawal_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter_Withdrawal_Variable.AVO_Meter_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Meter_Maintenance_Request.AVO_Meter_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter_Withdrawal_Variable.AVO_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter_Withdrawal_Variable.AVO_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Meter_Withdrawal_Variable.AVO_Initiating_Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Installation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Meter_Withdrawal_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Old_Meter_Id_Replacement</name>
        <label>Assign Old Meter Id Replacement</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Old_Meter_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Meter_Maintenance_Request.AVO_Old_Meter_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Old_Meter_Status_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Old_Meter_Id_Retrieval</name>
        <label>Assign Old Meter Id Retrieval</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Old_Meter_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Meter_Maintenance_Request.AVO_Meter_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Old_Meter_Status_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Old_Meter_Withdrawal</name>
        <label>Assign Old Meter Withdrawal</label>
        <locationX>1051</locationX>
        <locationY>3227</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Old_Meter_Withdrawals.AVO_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Old_Meter_Withdrawals.AVO_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Old_Meter_Withdrawals.AVO_Terminating_Transaction_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meter_Installation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Old_Meter_Withdrawal_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Meter_Replacement_or_Retrieval</name>
        <label>Check Meter Replacement or Retrieval?</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Assign_Old_Meter_Id_Retrieval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Retrieval</defaultConnectorLabel>
        <rules>
            <name>Meter_Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Installation.AVO_Installation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Old_Meter_Id_Replacement</targetReference>
            </connector>
            <label>Meter Replacement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Retrieval</name>
        <label>Check Retrieval</label>
        <locationX>1293</locationX>
        <locationY>4019</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Old_Meter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Retrieval</defaultConnectorLabel>
        <rules>
            <name>Retrieval_Installation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Installation.AVO_Installation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retrieval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Old_Meter</targetReference>
            </connector>
            <label>Retrieval Installation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Meter_Replacement_or_Retrieval</name>
        <label>Copy 1 of Check Meter Replacement or Retrieval?</label>
        <locationX>446</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Update_Old_Meter_Inventory_and_Installation_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Retrieval</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Meter_Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Installation.AVO_Installation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Old_Meter_Inventory_and_Installation_Status</targetReference>
            </connector>
            <label>Copy 1 of Meter Replacement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Installation_Review_Exist</name>
        <label>Does Installation Review Exist?</label>
        <locationX>776</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Assign_Meter_Installation_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Installation Review Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Installation_Review_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Installation_Review</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Meter_Replacement_or_Retrieval</targetReference>
            </connector>
            <label>Installation Review Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Parent_Meter_Installation_Exist</name>
        <label>Does Parent Meter Installation Exist?</label>
        <locationX>1408</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No Parent Meter Installation</defaultConnectorLabel>
        <rules>
            <name>Parent_Meter_Installation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Installation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Meter_Maintenance_Request</targetReference>
            </connector>
            <label>Parent Meter Installation</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Installation_Type_is_Battery_Replacement</name>
        <label>If Installation Type is Battery Replacement</label>
        <locationX>1414</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Assign_Meter_Installation_Inventory_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Installation.AVO_Installation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Battery Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Meter_Fields</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Installation_Meter_Replacement_or_Retrieval</name>
        <label>Is Installation Meter Replacement or Retrieval?</label>
        <locationX>1095</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>If_Installation_Type_is_Battery_Replacement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Replacement nor Retrieval</defaultConnectorLabel>
        <rules>
            <name>Meter_Replacement_or_Retrieval</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Installation.AVO_Installation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Meter_Installation.AVO_Installation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retrieval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Installation_Review</targetReference>
            </connector>
            <label>Meter Replacement or Retrieval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Installation_Replacement</name>
        <label>Is Installation Replacement?</label>
        <locationX>1095</locationX>
        <locationY>3911</locationY>
        <defaultConnector>
            <targetReference>Check_Retrieval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Replacement</defaultConnectorLabel>
        <rules>
            <name>Replacement_Installation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Installation.AVO_Installation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Old_Meter_Installation_Status</targetReference>
            </connector>
            <label>Replacement Installation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_New_Installation</name>
        <label>Is it a New Installation?</label>
        <locationX>1293</locationX>
        <locationY>4319</locationY>
        <defaultConnectorLabel>Not New Installation</defaultConnectorLabel>
        <rules>
            <name>New_Installation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Installation.AVO_Installation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Installation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Old_Meter</targetReference>
            </connector>
            <label>New Installation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Meter_Installation_Replacement</name>
        <label>Is Meter Installation Replacement?</label>
        <locationX>1095</locationX>
        <locationY>2579</locationY>
        <defaultConnector>
            <targetReference>Is_Installation_Replacement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Replacement</defaultConnectorLabel>
        <rules>
            <name>Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meter_Installation.AVO_Installation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Old_Meter_Withdrawals</targetReference>
            </connector>
            <label>Replacement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Old_Meter_Withdrawal_Active</name>
        <label>Is Old Meter Withdrawal Active?</label>
        <locationX>1183</locationX>
        <locationY>2903</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Old_Meter_Withdrawals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Old Meter Withdrawal Not Active</defaultConnectorLabel>
        <rules>
            <name>Old_Meter_Withdrawal_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Old_Meter_Withdrawals.AVO_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Meter_Withdrawal</targetReference>
            </connector>
            <label>Old Meter Withdrawal Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_Meter_Status_Check</name>
        <label>Old Meter Status Check</label>
        <locationX>446</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Update_Meter_Inventory_Status_Pending_Disposal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Disposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Installation_Review.AVO_Old_Meter_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Retrieved -Pending Disposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Meter_Inventory_Status_Pending_Disposal</targetReference>
            </connector>
            <label>Disposal</label>
        </rules>
        <rules>
            <name>Reused</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Installation_Review.AVO_Old_Meter_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Retrieved - To be Reused</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Meter_Inventory_Status_Ready_in_Warehouse</targetReference>
            </connector>
            <label>Reused</label>
        </rules>
        <rules>
            <name>Not_Retrieved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Installation_Review.AVO_Old_Meter_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Not Retrieved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Meter_Inventory_Status_Require_Retrieval</targetReference>
            </connector>
            <label>Not Retrieved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO AG Water Metering Installation Review Approved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO AG Water Metering Installation GIS Review</label>
    <loops>
        <name>Loop_Through_Old_Meter_Withdrawals</name>
        <label>Loop Through Old Meter Withdrawals</label>
        <locationX>963</locationX>
        <locationY>2795</locationY>
        <collectionReference>Get_Old_Meter_Withdrawals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Old_Meter_Withdrawal_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Meter_Withdrawals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Meter_Withdrawals</name>
        <label>Create New Meter Withdrawals</label>
        <locationX>963</locationX>
        <locationY>3611</locationY>
        <connector>
            <targetReference>Update_Old_Meter_Withdrawals</targetReference>
        </connector>
        <inputReference>New_Meter_Withdrawals</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Installation_Review</name>
        <label>Get Installation Review</label>
        <locationX>776</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Installation_Review_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Meter_Transaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Installation Review</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Meter</name>
        <label>Get New Meter</label>
        <locationX>897</locationX>
        <locationY>4235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_New_Meter_MOSID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Meter_Maintenance_Request.AVO_Meter_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Meter</name>
        <label>Get Old Meter</label>
        <locationX>1161</locationX>
        <locationY>4427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Old_Meter_MOSID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Meter_Maintenance_Request.AVO_Meter_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Meter_Withdrawals</name>
        <label>Get Old Meter Withdrawals</label>
        <locationX>963</locationX>
        <locationY>2687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Old_Meter_Withdrawals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Meter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Meter_Maintenance_Request.AVO_Old_Meter_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AVO_Meter_Withdrawal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Meter_Installation</name>
        <label>Get Parent Meter Installation</label>
        <locationX>1408</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Parent_Meter_Installation_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AG Water Metering Installation</stringValue>
            </value>
        </filters>
        <object>AVO_Meter_Transaction__c</object>
        <outputReference>Meter_Installation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AVO_Installation_Status__c</queriedFields>
        <queriedFields>AVO_Old_Meter_Reading__c</queriedFields>
        <queriedFields>AVO_Current_Meter_Reading__c</queriedFields>
        <queriedFields>AVO_Installation_Type__c</queriedFields>
        <queriedFields>AVO_Meter_Maintenance_ID__c</queriedFields>
        <queriedFields>AVO_Inventory_Status__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>AVO_County__c</queriedFields>
        <queriedFields>AVO_Meter_Geolocation__Latitude__s</queriedFields>
        <queriedFields>AVO_Meter_Geolocation__Longitude__s</queriedFields>
        <queriedFields>AVO_Meter_Geolocation__c</queriedFields>
        <queriedFields>AVO_Meter_On_Site_ID__c</queriedFields>
        <queriedFields>AVO_Source_Type__c</queriedFields>
        <queriedFields>AVO_Permit_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Meter_Maintenance_Request</name>
        <label>Get Related Meter Maintenance Request</label>
        <locationX>1095</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Installation_Meter_Replacement_or_Retrieval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Meter_Installation.AVO_Meter_Maintenance_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Maintenance Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Old_Meter</name>
        <label>Update Old Meter</label>
        <locationX>1425</locationX>
        <locationY>4127</locationY>
        <connector>
            <targetReference>Is_it_a_New_Installation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Meter_Maintenance_Request.AVO_Meter_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_County__c</field>
            <value>
                <elementReference>Meter_Installation.AVO_County__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Inventory_Status__c</field>
            <value>
                <stringValue>Installed Meter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_Geolocation__Latitude__s</field>
            <value>
                <elementReference>Meter_Installation.AVO_Meter_Geolocation__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_Geolocation__Longitude__s</field>
            <value>
                <elementReference>Meter_Installation.AVO_Meter_Geolocation__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_Last_Read_Amount__c</field>
            <value>
                <elementReference>Meter_Installation.AVO_Current_Meter_Reading__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_Last_Read_Date__c</field>
            <value>
                <elementReference>Meter_Installation.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_On_Site_ID__c</field>
            <value>
                <elementReference>Meter_Installation.AVO_Meter_On_Site_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Permit_Number__c</field>
            <value>
                <elementReference>Meter_Installation.AVO_Permit_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Source_Type__c</field>
            <value>
                <elementReference>Meter_Installation.AVO_Source_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Old_Meter_Inventory_and_Installation_Status</name>
        <label>Copy 1 of Update Old Meter Inventory and Installation Status</label>
        <locationX>314</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Assign_Meter_Installation_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Old_Meter_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Meter_Installation_Status__c</field>
            <value>
                <stringValue>Replaced</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Meter_Inventory_Status_Pending_Disposal</name>
        <label>Copy 2 of Update Meter Inventory Status Pending Disposal</label>
        <locationX>842</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_Meter_Replacement_or_Retrieval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Old_Meter_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Inventory_Status__c</field>
            <value>
                <stringValue>Meter Retrieved - To Be Reused</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Fields</name>
        <label>Update Meter Fields</label>
        <locationX>1282</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Assign_Meter_Installation_Inventory_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Meter_Maintenance_Request.AVO_Meter_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Meter_Last_Read_Amount__c</field>
            <value>
                <elementReference>Meter_Installation.AVO_Current_Meter_Reading__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_Last_Read_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Installation</name>
        <label>Update Meter Installation</label>
        <locationX>1095</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Update_Parent_Meter_Maintenance_Request_Status</targetReference>
        </connector>
        <inputReference>Meter_Installation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Installation_MOSID</name>
        <label>Update Meter Installation MOSID</label>
        <locationX>1095</locationX>
        <locationY>4811</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Meter_On_Site_ID__c</field>
            <value>
                <elementReference>newMOSID</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Meter_Transaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Inventory_Status_Pending_Disposal</name>
        <label>Update Meter Inventory Status Pending Disposal</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Assign_Meter_Installation_Submit_Disposal_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Old_Meter_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Inventory_Status__c</field>
            <value>
                <stringValue>Meter Retrieved - Pending Disposal</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Inventory_Status_Ready_in_Warehouse</name>
        <label>Update Meter Inventory Status Ready in Warehouse</label>
        <locationX>314</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_Meter_Replacement_or_Retrieval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Old_Meter_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Inventory_Status__c</field>
            <value>
                <stringValue>Meter Retrieved - To Be Reused</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Inventory_Status_Require_Retrieval</name>
        <label>Update Meter Inventory Status Require Retrieval</label>
        <locationX>578</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_Meter_Replacement_or_Retrieval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Old_Meter_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Inventory_Status__c</field>
            <value>
                <stringValue>Missing Meter</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Readings</name>
        <label>Update Meter Readings</label>
        <locationX>1095</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Is_Meter_Installation_Replacement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Meter_Installation_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Meter_Installation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Reading</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Batch_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter_Transaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Meter</name>
        <label>Update New Meter</label>
        <locationX>897</locationX>
        <locationY>4127</locationY>
        <connector>
            <targetReference>Get_New_Meter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Meter_Maintenance_Request.AVO_Meter_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_County__c</field>
            <value>
                <elementReference>Meter_Installation.AVO_County__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Inventory_Status__c</field>
            <value>
                <stringValue>Installed Meter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_Geolocation__Latitude__s</field>
            <value>
                <elementReference>Meter_Installation.AVO_Meter_Geolocation__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_Geolocation__Longitude__s</field>
            <value>
                <elementReference>Meter_Installation.AVO_Meter_Geolocation__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_Installation_Status__c</field>
            <value>
                <stringValue>Approved and Active On Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_Last_Read_Amount__c</field>
            <value>
                <elementReference>Meter_Installation.AVO_Current_Meter_Reading__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_Last_Read_Date__c</field>
            <value>
                <elementReference>Meter_Installation.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_On_Site_ID__c</field>
            <value>
                <elementReference>Meter_Installation.AVO_Meter_On_Site_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Permit_Number__c</field>
            <value>
                <elementReference>Meter_Installation.AVO_Permit_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Source_Type__c</field>
            <value>
                <elementReference>Meter_Installation.AVO_Source_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Meter</name>
        <label>Update Old Meter</label>
        <locationX>1161</locationX>
        <locationY>4127</locationY>
        <connector>
            <targetReference>Is_it_a_New_Installation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Meter_Maintenance_Request.AVO_Meter_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_County__c</field>
            <value>
                <elementReference>Meter_Installation.AVO_County__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_Geolocation__Latitude__s</field>
            <value>
                <elementReference>Meter_Installation.AVO_Meter_Geolocation__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_Geolocation__Longitude__s</field>
            <value>
                <elementReference>Meter_Installation.AVO_Meter_Geolocation__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_Last_Read_Amount__c</field>
            <value>
                <elementReference>Meter_Installation.AVO_Current_Meter_Reading__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_Last_Read_Date__c</field>
            <value>
                <elementReference>Meter_Installation.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_On_Site_ID__c</field>
            <value>
                <elementReference>Meter_Installation.AVO_Meter_On_Site_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Permit_Number__c</field>
            <value>
                <elementReference>Meter_Installation.AVO_Permit_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Source_Type__c</field>
            <value>
                <elementReference>Meter_Installation.AVO_Source_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Meter_Installation_Status</name>
        <label>Update Old Meter Installation Status</label>
        <locationX>897</locationX>
        <locationY>4019</locationY>
        <connector>
            <targetReference>Update_New_Meter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Old_Meter_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Meter_Installation_Status__c</field>
            <value>
                <stringValue>Replaced</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Meter_Inventory_and_Installation_Status</name>
        <label>Update Old Meter Inventory and Installation Status</label>
        <locationX>578</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Assign_Meter_Installation_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Old_Meter_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Meter_Installation_Status__c</field>
            <value>
                <stringValue>Retrieved Meter</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Meter_Withdrawals</name>
        <label>Update Old Meter Withdrawals</label>
        <locationX>963</locationX>
        <locationY>3719</locationY>
        <connector>
            <targetReference>Is_Installation_Replacement</targetReference>
        </connector>
        <inputReference>Updated_Old_Meter_Withdrawals</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Meter_Maintenance_Request_Status</name>
        <label>Update Parent Meter Maintenance Request Status</label>
        <locationX>1095</locationX>
        <locationY>2363</locationY>
        <connector>
            <targetReference>Update_Meter_Readings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Meter_Installation.AVO_Meter_Maintenance_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Maintenance Request</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Maintenance_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter_Transaction__c</object>
    </recordUpdates>
    <start>
        <locationX>1282</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Meter_Installation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GIS Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Meter_Installation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Transaction__c</objectType>
    </variables>
    <variables>
        <name>New_Meter_Withdrawal_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Withdrawal__c</objectType>
    </variables>
    <variables>
        <name>New_Meter_Withdrawals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Withdrawal__c</objectType>
    </variables>
    <variables>
        <name>newMOSID</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Old_Initiating_Transaction_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Old_Meter_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Old_Start_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Updated_Old_Meter_Withdrawals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Withdrawal__c</objectType>
    </variables>
</Flow>
