force-app/main/default/flows/AVO_Meter_Replacement_Installation_Specialist_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Does_Specialist_User_Exist</name>
        <label>Does Specialist User Exist?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No Specialist User</defaultConnectorLabel>
        <rules>
            <name>Specialist_User_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Specialist_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Meter_Maintenance_Request</targetReference>
            </connector>
            <label>Specialist User Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Maintenance_Status_is_Pending_Specialist_Allocation</name>
        <label>If Maintenance Status is Pending Specialist Allocation</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Maintenance_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Specialist Allocation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Child_Meter_Allocation_with_Specialist</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO Meter Replacement Installation Specialist Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Meter Replacement Installation Specialist Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Specialist_User</name>
        <label>Get Specialist User</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Specialist_User_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Specialist__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>Specialist_User</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Meter_Allocation_Owner</name>
        <label>Update Child Meter Allocation Owner</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Allocation</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Meter_Maintenance_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Specialist_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Meter_Transaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Child_Meter_Allocation_with_Specialist</name>
        <label>Update Child Meter Allocation with Specialist</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Specialist_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Allocation</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Meter_Maintenance_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Specialist__c</field>
            <value>
                <elementReference>$Record.AVO_Specialist__c</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Meter_Transaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Maintenance_Request</name>
        <label>Update Meter Maintenance Request</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Child_Meter_Allocation_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>AVO_Maintenance_Status__c</field>
            <value>
                <stringValue>Allocated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Specialist_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Maintenance_Status_is_Pending_Specialist_Allocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Replacement Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Specialist__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Specialist__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AVO_Meter_Transaction__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Specialist_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
