force-app/main/default/flows/AVO_Agricultural_Flow_Meter_Approval_Post_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Set_Meter_MOSID</name>
        <label>Set Meter MOSID</label>
        <locationX>578</locationX>
        <locationY>1811</locationY>
        <actionName>AvoMeterController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Meter_Approval_MSN</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>meters</name>
            <value>
                <elementReference>Get_Meter</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AvoMeterController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>newMOSID</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Current_Meter_Reading_Fields</name>
        <label>Assign Current Meter Reading Fields</label>
        <locationX>479</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.AVO_Batch_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.AVO_Reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Current_Meter_Reading__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.AVO_Crop_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Crop_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.AVO_Withdrawal_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Withdrawal_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.AVO_Meter_Installation_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Reading_Current.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Reading_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Meter_Reading_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Application_Fields</name>
        <label>Assign Meter Application Fields</label>
        <locationX>611</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Meter_Application.AVO_Source_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Source_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Application.AVO_Outside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Outside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Application.AVO_Inside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Inside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Application.AVO_Meter_Geolocation__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Meter_Geolocation__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Application.AVO_Meter_Geolocation__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Meter_Geolocation__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Application.AVO_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_County__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Application.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Application.AVO_Meter_Installation_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Application.AVO_Permit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Permit_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Meter_Application.AVO_Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Applicant__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Meter_Application</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Existing_Meter_Exist</name>
        <label>Does Existing Meter Exist?</label>
        <locationX>380</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Create_Meter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Meter does NOT exist</defaultConnectorLabel>
        <rules>
            <name>Existing_Meter_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Meter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Existing_Meter_Ready_In_Warehouse</targetReference>
            </connector>
            <label>Existing Meter Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Existing_Meter_Ready_In_Warehouse</name>
        <label>Is Existing Meter Ready In Warehouse?</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <defaultConnectorLabel>Existing Meter not ready in warehouse</defaultConnectorLabel>
        <rules>
            <name>Existing_Meter_Ready_in_Warehouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Meter.AVO_Inventory_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready in Warehouse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Meter_Approval_Existing_Meter</targetReference>
            </connector>
            <label>Existing Meter Ready in Warehouse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_MSN_Text_populated</name>
        <label>Is MSN Text populated?</label>
        <locationX>611</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>MSN Not populated</defaultConnectorLabel>
        <rules>
            <name>MSN_Text_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Meter_Serial_Number_MSN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Meter</targetReference>
            </connector>
            <label>MSN Text populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_Current_Meter_Reading</name>
        <label>Is There Current Meter Reading?</label>
        <locationX>611</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Is_MSN_Text_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Current Meter Reading</defaultConnectorLabel>
        <rules>
            <name>Current_Meter_Reading</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Current_Meter_Reading__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Meter_Reading_Record_Type</targetReference>
            </connector>
            <label>Current Meter Reading</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO Agricultural {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Agricultural Flow Meter Approval Post Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_GIS_Review_Task</name>
        <label>Create GIS Review Task</label>
        <locationX>578</locationX>
        <locationY>2243</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_GIS_Specialist_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>GIS Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Meter</name>
        <label>Create Meter</label>
        <locationX>578</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Get_Meter</targetReference>
        </connector>
        <inputAssignments>
            <field>AVO_Inside_Pipe_Diam_In__c</field>
            <value>
                <elementReference>$Record.AVO_Inside_Pipe_Diam_In__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Make__c</field>
            <value>
                <elementReference>$Record.AVO_Make__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_Installation_Status__c</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_Orientation__c</field>
            <value>
                <elementReference>$Record.AVO_Meter_Mounting_Orientation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Model__c</field>
            <value>
                <elementReference>$Record.AVO_Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Outside_Pipe_Diam_In__c</field>
            <value>
                <elementReference>$Record.AVO_Outside_Pipe_Diam_In__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Permit_Number__c</field>
            <value>
                <elementReference>$Record.AVO_Application_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_State_Purchased__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.AVO_Meter_Serial_Number_MSN__c</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Meter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Meter_Application</name>
        <label>Create Meter Application</label>
        <locationX>611</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Is_There_Current_Meter_Reading</targetReference>
        </connector>
        <inputReference>Meter_Application</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Meter_Reading_Record</name>
        <label>Create Meter Reading Record</label>
        <locationX>479</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Is_MSN_Text_populated</targetReference>
        </connector>
        <inputReference>Meter_Reading_Current</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Meter</name>
        <label>Get Existing Meter</label>
        <locationX>380</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Existing_Meter_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Meter_Serial_Number_MSN__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GIS_Specialist_Queue</name>
        <label>Get GIS Specialist Queue</label>
        <locationX>578</locationX>
        <locationY>2135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_GIS_Review_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GIS_Specialist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter</name>
        <label>Get Meter</label>
        <locationX>578</locationX>
        <locationY>1703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Meter_MOSID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Meter</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Application_Record_Type</name>
        <label>Get Meter Application Record Type</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Agricultural_Flow_Meter_Approval_Status_and_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Meter_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter_Application</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Reading_Record_Type</name>
        <label>Get Meter Reading Record Type</label>
        <locationX>479</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Current_Meter_Reading_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Meter_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter_Reading</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Agricultural_Flow_Meter_Approval_Status_and_Owner</name>
        <label>Update Agricultural Flow Meter Approval Status and Owner</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Assign_Meter_Application_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>AVO_Installation_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Application</name>
        <label>Update Meter Application</label>
        <locationX>578</locationX>
        <locationY>2027</locationY>
        <connector>
            <targetReference>Get_GIS_Specialist_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Meter_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Inside_Pipe_Diam_In__c</field>
            <value>
                <elementReference>Get_Meter.AVO_Inside_Pipe_Diam_In__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Inventory_Status__c</field>
            <value>
                <elementReference>Get_Meter.AVO_Inventory_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Make__c</field>
            <value>
                <elementReference>Get_Meter.AVO_Make__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_ID__c</field>
            <value>
                <elementReference>Create_Meter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_On_Site_ID__c</field>
            <value>
                <elementReference>newMOSID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_Orientation__c</field>
            <value>
                <elementReference>Get_Meter.AVO_Meter_Orientation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Model__c</field>
            <value>
                <elementReference>Get_Meter.AVO_Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Outside_Pipe_Diam_In__c</field>
            <value>
                <elementReference>Get_Meter.AVO_Outside_Pipe_Diam_In__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_State_Purchased__c</field>
            <value>
                <elementReference>Get_Meter.AVO_State_Purchased__c</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Meter_Transaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Approval_Existing_Meter</name>
        <label>Update Meter Approval Existing Meter</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <inputAssignments>
            <field>AVO_Meter_ID__c</field>
            <value>
                <elementReference>Get_Existing_Meter.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Approval_MSN</name>
        <label>Update Meter Approval MSN</label>
        <locationX>578</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>Update_Meter_Application</targetReference>
        </connector>
        <inputAssignments>
            <field>AVO_Installation_Status__c</field>
            <value>
                <stringValue>GIS Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_ID__c</field>
            <value>
                <elementReference>Create_Meter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Meter_On_Site_ID__c</field>
            <value>
                <elementReference>newMOSID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Meter_Application_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Flow Meter Approval</stringValue>
            </value>
        </filters>
        <object>AVO_Meter_Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Meter_Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Meter_Reading_Current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Transaction__c</objectType>
    </variables>
    <variables>
        <name>newMOSID</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
