force-app/main/default/flows/AVO_AWWA_Check_Submissions_Completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Permit_Status_LOC_Documents_Uploaded</name>
        <label>Assign Permit Status LOC Documents Uploaded</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Related_Permit.MUSW__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LOC Documents Uploaded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Permit_LOC_Documents_Uploaded</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AG_SW_Pump_Information_Form_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AG SW Pump Information Form</stringValue>
        </value>
    </constants>
    <constants>
        <name>AG_Well_Data_Sheet_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AG Well Data Sheet</stringValue>
        </value>
    </constants>
    <constants>
        <name>Consolidated_Conservation_Plan_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Consolidated Conservation Plan</stringValue>
        </value>
    </constants>
    <constants>
        <name>Flow_Meter_Approval_Form_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Flow Meter Approval Form</stringValue>
        </value>
    </constants>
    <constants>
        <name>Irrigation_Efficiency_Certification_Form_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Irrigation Efficiency Certification Form</stringValue>
        </value>
    </constants>
    <constants>
        <name>Low_Flow_Guidance_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Low Flow Guidance</stringValue>
        </value>
    </constants>
    <constants>
        <name>Well_Pad_Requirement_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Well Pad Requirement</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_Related_Permit_Exist</name>
        <label>Does Related Permit Exist?</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Related_Permit_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Permit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Not_Completed_Submission</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Related_Permit_In_LOC_Issued</name>
        <label>Is Related Permit In LOC Issued?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Not In LOC Issued</defaultConnectorLabel>
        <rules>
            <name>In_LOC_Issued</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Permit.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LOC Issued</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Permit_Status_LOC_Documents_Uploaded</targetReference>
            </connector>
            <label>In LOC Issued</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_A_Not_Completed_Submission</name>
        <label>Is There A Not Completed Submission?</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_All_Submissions_Are_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Not_Completed_Submission</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Related_Permit_In_LOC_Issued</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO AWWA Check Submissions Completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO AWWA Check Submissions Completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Not_Completed_Submission</name>
        <label>Get Not Completed Submission</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_A_Not_Completed_Submission</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AG_SW_Pump_Information_Form_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AG_Well_Data_Sheet_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Consolidated_Conservation_Plan_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Flow_Meter_Approval_Form_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Irrigation_Efficiency_Certification_Form_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Low_Flow_Guidance_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Well_Pad_Requirement_Name</elementReference>
            </value>
        </filters>
        <object>MUSW__Submission__c</object>
        <outputReference>Not_Completed_Submission</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Permit</name>
        <label>Get Related Permit</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Related_Permit_Exist</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Water Withdrawal Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Revision</stringValue>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <outputReference>Related_Permit</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Permit_LOC_Documents_Uploaded</name>
        <label>Update Permit LOC Documents Uploaded</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <inputReference>Related_Permit</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Permit</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AG SW Pump Information Form</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AG Well Data Sheet</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consolidated Conservation Plan</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow Meter Approval Form</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Irrigation Efficiency Certification Form</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Low Flow Guidance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Well Pad Requirement</stringValue>
            </value>
        </filters>
        <object>MUSW__Submission__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Not_Completed_Submission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
    <variables>
        <name>Related_Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
</Flow>
