force-app/main/default/flows/AVO_Subflow_Agricultural_Water_Withdrawal_Application_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Stage_Assignment</name>
        <label>Stage Assignment</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>General Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Ground Water Well Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Surface Water Pump Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Acknowledgment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Confirmation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Screen_Header</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New {!Record_Type_Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>General_Information_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Radio button choice for additional AWWA application</description>
        <name>Additional_Application_Choice</name>
        <choiceText>Additional Agricultural Water Withdrawal Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Additional</stringValue>
        </value>
    </choices>
    <choices>
        <description>Radio button choice for new AWWA application</description>
        <name>New_Application_Choice</name>
        <choiceText>New Agricultural Water Withdrawal Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <description>Radio button choice for replacement AWWA application</description>
        <name>Replacement_Application_Choice</name>
        <choiceText>Replacement Agricultural Water Withdrawal Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Replacement</stringValue>
        </value>
    </choices>
    <constants>
        <name>Permit_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MUSW__Permit2__c</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>Same_Owner_App_Rec_Choice_Set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Water Withdrawal Application</stringValue>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>AVO Subflow Agricultural Water Withdrawal Application Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Subflow Agricultural Water Withdrawal Application Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Agricultural_Water_Withdrawal_Application_Permit</name>
        <label>Create Agricultural Water Withdrawal Application Permit</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Permit_Application_Success_Flow</targetReference>
        </connector>
        <inputReference>Permit</inputReference>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Acknowledgement_Screen</name>
        <label>Acknowledgement</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Agricultural_Water_Withdrawal_Application_Header_Acknowledgement</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;New {!Record_Type_Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Agricultural_Water_Withdrawal_Application_Flow_Stages_Acknowledgement</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Acknowledgment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Agricultural_Water_Withdrawal_Application_Details_Acknowledgement</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Permit2__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Acknowledgment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Permit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Permit</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Agricultural_Water_Withdrawal_Application_Permit</targetReference>
        </connector>
        <fields>
            <name>Agricultural_Water_Withdrawal_Application_Confirmation_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Agricultural_Water_Withdrawal_Application_Details_Confirmation_Details</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Record_Detail</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Permit2__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Permit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>General Information, Ground Water Well Information, Surface Water Pump Information, Acknowledgment</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>General_Information_Screen</name>
        <label>General Information</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ground_Water_Well_Screen</targetReference>
        </connector>
        <fields>
            <name>Agricultural_Water_Withdrawal_Application_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Agricultural_Water_Withdrawal_Application_Flow_Stages</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>General Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Agricultural_Water_Withdrawal_Application_Details</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Permit2__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>General Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Permit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Permit</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ground_Water_Well_Screen</name>
        <label>Ground Water Well</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Surface_Water_Pump_Screen</targetReference>
        </connector>
        <fields>
            <name>Agricultural_Water_Withdrawal_Application_Header_Ground_Water_Well</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;New {!Record_Type_Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Agricultural_Water_Withdrawal_Application_Flow_Stages_Ground_Water_Well</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Ground Water Well Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Agricultural_Water_Withdrawal_Application_Details_Ground_Water_Well</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Permit2__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Ground Water Well Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Permit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Permit</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Surface_Water_Pump_Screen</name>
        <label>Surface Water Pump</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Acknowledgement_Screen</targetReference>
        </connector>
        <fields>
            <name>Agricultural_Water_Withdrawal_Application_Header_Surface_Water_Pump</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;New {!Record_Type_Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Agricultural_Water_Withdrawal_Application_Flow_Stages_Surface_Water_Pump</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Surface Water Pump Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Agricultural_Water_Withdrawal_Application_Details_Surface_Water_Pump</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Permit2__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Surface Water Pump Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Permit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Permit</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Permit_Application_Success_Flow</name>
        <label>Permit Application Success Flow</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <flowName>AVO_Permit_Application_Success_Flow</flowName>
        <inputAssignments>
            <name>Permit_Id</name>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Attestation_Consent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Attestation_Consent__c</objectType>
    </variables>
    <variables>
        <name>Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Agricultural Water Withdrawal Application</stringValue>
        </value>
    </variables>
    <variables>
        <description>Collection of AWWA Permits with the same owner as the current user.</description>
        <name>Same_Owner_Agricultural_Water_Withdrawal_Application_Permits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Screen_Header</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
