force-app/main/default/flows/AVO_Approval_Process_Permit_Denied_Transition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Get_Permit</name>
        <label>Get Permit</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AWWA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agricultural Water Withdrawal Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Permit_To_Permit_Denied</targetReference>
            </connector>
            <label>AWWA</label>
        </rules>
        <rules>
            <name>Revision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Revision_to_Revision_Denied</targetReference>
            </connector>
            <label>Revision</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO Approval Process Permit Denied Transition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Approval Process Permit Denied Transition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Data_Management_Queue</name>
        <label>Get Data Management Queue</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Management</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Permit_To_Permit_Denied</name>
        <label>Update Permit To Permit Denied</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Water Withdrawal Application</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Approval_Step__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Permit_Batch_Id__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Permit Denied</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Data_Management_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Revision_to_Revision_Denied</name>
        <label>Update Revision to Revision Denied</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Revision</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Approval_Step__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Permit_Batch_Id__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Revision Denied</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Data_Management_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Data_Management_Queue</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AG Program Manager Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Water Supply Manager Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Water Shed Manager Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Step 4 - Director Approval</stringValue>
            </value>
        </filters>
        <object>MUSW__Review__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
