force-app/main/default/flows/AVO_Meter_Maintenance_Request_Post_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Assigning_NewMeterAllocation_Fields</name>
        <label>Copy 1 of Assigning NewMeterAllocation Fields</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>NewMeterAllocation.AVO_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meter Allocation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeterAllocation.AVO_Meter_Maintenance_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeterAllocation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Allocation_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creating_New_Meter_Allocation_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assigning_NewMeterAllocation_Fields</name>
        <label>Copy 2 of Assigning NewMeterAllocation Fields</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>NewMeterAllocation.AVO_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meter Allocation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeterAllocation.AVO_Meter_Maintenance_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeterAllocation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Allocation_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMeterAllocation.AVO_Meter_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AVO_Meter_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creating_New_Meter_Allocation_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_Maintenance_Type_Check</name>
        <label>Record Maintenance Type Check</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Maintenance_Status_set_to_Pending_Specialist_Allocation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Maintenance_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Maintenance_Status_set_to_Pending_Meter_Allocation</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO Meter Maintenance Request Post Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Meter Maintenance Request Post Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creating_New_Meter_Allocation_Record</name>
        <label>Creating New Meter Allocation Record</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <inputReference>NewMeterAllocation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Meter_Allocation_Record_Type</name>
        <label>Get Meter Allocation Record Type</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Maintenance_Type_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter_Allocation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Maintenance_Status_set_to_Pending_Meter_Allocation</name>
        <label>Maintenance Status set to Pending Meter Allocation</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Copy_1_of_Assigning_NewMeterAllocation_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>AVO_Maintenance_Status__c</field>
            <value>
                <stringValue>Pending Meter Allocation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Maintenance_Status_set_to_Pending_Specialist_Allocation</name>
        <label>Maintenance Status set to Pending Specialist Allocation</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Copy_2_of_Assigning_NewMeterAllocation_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>AVO_Maintenance_Status__c</field>
            <value>
                <stringValue>Pending Specialist Allocation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Meter_Allocation_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Maintenance Request</stringValue>
            </value>
        </filters>
        <object>AVO_Meter_Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewMeterAllocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Transaction__c</objectType>
    </variables>
    <variables>
        <name>ParentMeterObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter__c</objectType>
    </variables>
</Flow>
