force-app/main/default/flows/AVO_Final_Evaluation_Waiver_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>270</locationX>
        <locationY>4727</locationY>
        <assignmentItems>
            <assignToReference>RequiredSubmissions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_through_required_submissions.Name}; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_required_submissions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List_1</name>
        <label>Add to List</label>
        <locationX>270</locationX>
        <locationY>5135</locationY>
        <assignmentItems>
            <assignToReference>NonRequiredSubmissions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_through_non_required_submissions.Name}; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_non_required_submissions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_AG_Well_Data_Sheet</name>
        <label>Check AG Well Data Sheet</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Agriculture_Well_Pad_Picture</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Checked</defaultConnectorLabel>
        <rules>
            <name>Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Ag_Well_Data_Sheet__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AG_Well_Data_Sheet_Submission</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Agriculture_Well_Pad_Picture</name>
        <label>Check Agriculture Well Pad Picture</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Check_Well_Construction_Inspection_form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Checked</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Agricultural_Well_pad_Picture__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agriculture_Well_Pad_Picture</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Irrigation_Efficiency_Certification_Form</name>
        <label>Check Irrigation Efficiency Certification Form</label>
        <locationX>182</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>Check_Water_reuse_feasibility_study</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Checked</defaultConnectorLabel>
        <rules>
            <name>Copy_7_of_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Irrigation_Efficiency_Certification_Form__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Irrigation_Efficiency_Certification_Form</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Low_Flow_Guidance</name>
        <label>Check Low Flow Guidance</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Check_Well_plug_and_abandon_form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Checked</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Low_Flow_Guidance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Low_Flow_Guidance</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pump_Data_sheet</name>
        <label>Check Pump Data sheet</label>
        <locationX>182</locationX>
        <locationY>2471</locationY>
        <defaultConnector>
            <targetReference>Check_Water_Conservation_Plan_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Checked</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Pump_Data_sheet__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pump_Data_Sheet</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Water_Conservation_Plan_Document</name>
        <label>Check Water Conservation Plan Document</label>
        <locationX>182</locationX>
        <locationY>2879</locationY>
        <defaultConnector>
            <targetReference>Check_Irrigation_Efficiency_Certification_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Checked</defaultConnectorLabel>
        <rules>
            <name>Copy_6_of_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Water_Conservation_Plan_Document__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Water_Conservation_Plan_Document</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Water_reuse_feasibility_study</name>
        <label>Check Water reuse feasibility study</label>
        <locationX>182</locationX>
        <locationY>3695</locationY>
        <defaultConnector>
            <targetReference>Check_Water_right_agreement_Property_Ownership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Checked</defaultConnectorLabel>
        <rules>
            <name>Copy_8_of_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Water_reuse_feasibility_study__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Water_Reuse_Feasibility_Study</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Water_right_agreement_Property_Ownership</name>
        <label>Check Water right agreement Property Ownership</label>
        <locationX>182</locationX>
        <locationY>4103</locationY>
        <defaultConnector>
            <targetReference>Get_Required_Submissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Checked</defaultConnectorLabel>
        <rules>
            <name>Copy_10_of_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Water_right_agreement_Property_Ownsp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Water_Right_Agreement_Property</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Well_Construction_Inspection_form</name>
        <label>Check Well Construction Inspection form</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Check_Low_Flow_Guidance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Checked</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Well_Construction_Inspection_form__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Well_Construction_Inspection_Form</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Well_plug_and_abandon_form</name>
        <label>Check Well plug and abandon form</label>
        <locationX>182</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>Check_Pump_Data_sheet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Checked</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Well_plug_and_abandon_form__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Well_Plug_and_Abandon_Form</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO Final Evaluation Waiver Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Final Evaluation Waiver Check</label>
    <loops>
        <name>Loop_through_non_required_submissions</name>
        <label>Loop through non required submissions</label>
        <locationX>182</locationX>
        <locationY>5027</locationY>
        <collectionReference>Get_Non_Required_Submissions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_List_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Waiver_Review_Template</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_required_submissions</name>
        <label>Loop through required submissions</label>
        <locationX>182</locationX>
        <locationY>4619</locationY>
        <collectionReference>Get_Required_Submissions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Non_Required_Submissions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Waiver_Review</name>
        <label>Create Waiver Review</label>
        <locationX>182</locationX>
        <locationY>5651</locationY>
        <inputAssignments>
            <field>AVO_Documentss_not_approved_for_Waiver__c</field>
            <value>
                <elementReference>RequiredSubmissions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AVO_Waiver_Documentss__c</field>
            <value>
                <elementReference>NonRequiredSubmissions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Permit2__c</field>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Type__c</field>
            <value>
                <stringValue>Waiver Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_AG_Well_Data_Sheet_Submission</name>
        <label>Get AG Well Data Sheet Submission</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_AG_Well_Data_Sheet_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AG Well Data Sheet</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agriculture_Well_Pad_Picture</name>
        <label>Get Agriculture Well Pad Picture</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Agriculture_Well_Pad_Picture_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Well Pad Photos</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Irrigation_Efficiency_Certification_Form</name>
        <label>Get Irrigation Efficiency Certification Form</label>
        <locationX>50</locationX>
        <locationY>3395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Irrigation_Efficiency_Certification_Form_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Irrigation Efficiency Certification Form</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Low_Flow_Guidance</name>
        <label>Get Low Flow Guidance</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Low_Flow_Guidance_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Low Flow Guidance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_Required_Submissions</name>
        <label>Get Non Required Submissions</label>
        <locationX>182</locationX>
        <locationY>4919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_non_required_submissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MUSW__Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pump_Data_Sheet</name>
        <label>Get Pump Data Sheet</label>
        <locationX>50</locationX>
        <locationY>2579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Pump_Data_Sheet_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pump Data Sheet</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>182</locationX>
        <locationY>5435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiver_Review</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>182</locationX>
        <locationY>5543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Waiver_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Waiver_Review</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Required_Submissions</name>
        <label>Get Required Submissions</label>
        <locationX>182</locationX>
        <locationY>4511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_required_submissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MUSW__Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Waiver_Review_Template</name>
        <label>Get Waiver Review Template</label>
        <locationX>182</locationX>
        <locationY>5327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiver Review</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Master_Review_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Water_Conservation_Plan_Document</name>
        <label>Get Water Conservation Plan Document</label>
        <locationX>50</locationX>
        <locationY>2987</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Water_Conservation_Plan_Document_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Water Conservation Plan Document</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Water_Reuse_Feasibility_Study</name>
        <label>Get Water Reuse Feasibility Study</label>
        <locationX>50</locationX>
        <locationY>3803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Water_Reuse_Feasibility_Study_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Water Reuse Feasibility Study</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Water_Right_Agreement_Property</name>
        <label>Get Water Right Agreement Property</label>
        <locationX>50</locationX>
        <locationY>4211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Water_Right_Agreement_Property_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Water Right Agreement Property</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Well_Construction_Inspection_Form</name>
        <label>Get Well Construction Inspection Form</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Create_Well_Construction_Inspection_form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Well Construction Inspection Form</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Well_Plug_and_Abandon_Form</name>
        <label>Get Well Plug and Abandon Form</label>
        <locationX>50</locationX>
        <locationY>2171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Well_Plug_and_Abandon_Form_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Well Plug and Abandon Form</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_AG_Well_Data_Sheet_Submission</name>
        <label>Update AG Well Data Sheet Submission</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_Agriculture_Well_Pad_Picture</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AG_Well_Data_Sheet_Submission.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>MUSW__Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Agriculture_Well_Pad_Picture_Submission</name>
        <label>Update Agriculture Well Pad Picture Submission</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Check_Well_Construction_Inspection_form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agriculture_Well_Pad_Picture.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>MUSW__Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Create_Well_Construction_Inspection_form</name>
        <label>Update Create Well Construction Inspection form</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Check_Low_Flow_Guidance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Well_Construction_Inspection_Form.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>MUSW__Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Irrigation_Efficiency_Certification_Form_Submission</name>
        <label>Update Irrigation Efficiency Certification Form Submission</label>
        <locationX>50</locationX>
        <locationY>3503</locationY>
        <connector>
            <targetReference>Check_Water_reuse_feasibility_study</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Irrigation_Efficiency_Certification_Form.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>MUSW__Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Low_Flow_Guidance_Submission</name>
        <label>Update Low Flow Guidance Submission</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Check_Well_plug_and_abandon_form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Low_Flow_Guidance.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>MUSW__Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pump_Data_Sheet_Submission</name>
        <label>Update Pump Data Sheet Submission</label>
        <locationX>50</locationX>
        <locationY>2687</locationY>
        <connector>
            <targetReference>Check_Water_Conservation_Plan_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pump_Data_Sheet.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>MUSW__Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Review_Status_to_Pending_Wavier_Approval</name>
        <label>Update Review Status to Pending Wavier Approval</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Check_AG_Well_Data_Sheet</targetReference>
        </connector>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending Wavier Approval</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Water_Conservation_Plan_Document_Submission</name>
        <label>Update Water Conservation Plan Document Submission</label>
        <locationX>50</locationX>
        <locationY>3095</locationY>
        <connector>
            <targetReference>Check_Irrigation_Efficiency_Certification_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Water_Conservation_Plan_Document.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>MUSW__Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Water_Reuse_Feasibility_Study_Submission</name>
        <label>Update Water Reuse Feasibility Study Submission</label>
        <locationX>50</locationX>
        <locationY>3911</locationY>
        <connector>
            <targetReference>Check_Water_right_agreement_Property_Ownership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Water_Reuse_Feasibility_Study.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>MUSW__Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Water_Right_Agreement_Property_Submission</name>
        <label>Update Water Right Agreement Property Submission</label>
        <locationX>50</locationX>
        <locationY>4319</locationY>
        <connector>
            <targetReference>Get_Required_Submissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Water_Right_Agreement_Property.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>MUSW__Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Well_Plug_and_Abandon_Form_Submission</name>
        <label>Update Well Plug and Abandon Form Submission</label>
        <locationX>50</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>Check_Pump_Data_sheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Well_Plug_and_Abandon_Form.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>MUSW__Submission__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Review_Status_to_Pending_Wavier_Approval</targetReference>
        </connector>
        <filterLogic>1 AND 12 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11)</filterLogic>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final Evaluation Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Ag_Well_Data_Sheet__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Agricultural_Well_pad_Picture__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Well_Construction_Inspection_form__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Low_Flow_Guidance__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Well_plug_and_abandon_form__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Pump_Data_sheet__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Water_Conservation_Plan_Document__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Irrigation_Efficiency_Certification_Form__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Water_reuse_feasibility_study__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Water_right_agreement_Property_Ownsp__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>MUSW__Review__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectedText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NonRequiredSubmissions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequiredSubmissions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
