force-app/main/default/flows/AVO_Subflow_Ground_Water_Withdrawal_Application_Triggered_by_Success_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Permit_to_Attestation_Consent</name>
        <label>Assign Withdrawal to Attestation Consent</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Attestation_Consent.AVO_Withdrawals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ground_Water_Withdrawal_Application.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Attestation_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Permit_To_Withdrawal_Record_To_Be_Created</name>
        <label>Assign Permit To Withdrawal Record To Be Created</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Ground_Water_Withdrawal_Application.AVO_Permit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ground_Water_Withdrawal_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_Variable_for_Record_Detail_Component</name>
        <label>Record Variable for Record Detail Component</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Ground_Water_Withdrawal_Application.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Type_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Assignment</name>
        <label>Stage Assignment</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Screen_Header</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New {!Record_Type_Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>General Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Confirmation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>General_Information_Screen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Clariti_Confirmation_Details_Text_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>If any of the information above is incorrect, use the “Previous” button below to navigate to the appropriate section and update the incorrect information.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Withdrawal_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AVO_Withdrawals__c</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>AVO Subflow Ground Water Withdrawal Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Subflow Ground Water Withdrawal Application - Triggered by Success Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Attestation_Consent</name>
        <label>Create Attestation Consent</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>AVO_Permit_Application_Success_Flow_Triggered_by_Success_Flow</targetReference>
        </connector>
        <inputReference>Attestation_Consent</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Ground_Water_Withdrawal_Application</name>
        <label>Create Ground Water Withdrawal Application</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Assign_Permit_to_Attestation_Consent</targetReference>
        </connector>
        <inputReference>Ground_Water_Withdrawal_Application</inputReference>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attestation_Flow</targetReference>
        </connector>
        <fields>
            <name>Ground_Water_Withdrawal_Application_Confirmation_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Ground_Water_Withdrawal_Application_Details_Confirmation_Details</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Clariti_Confirmation_Details_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;&lt;em&gt;{!Clariti_Confirmation_Details_Text_Label}&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Record_Details_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Record Details:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Record_Detail</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AVO_Withdrawals__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Ground_Water_Withdrawal_Application</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>AVO_Withdrawals__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>General Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Ground_Water_Withdrawal_Application</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>General_Information_Screen</name>
        <label>General Information</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Ground_Water_Withdrawal_Application_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;New {!Record_Type_Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Ground_Water_Withdrawal_Application_Flow_Stages</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>General Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Ground_Water_Application_Withdrawal_Details</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AVO_Withdrawals__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Ground_Water_Withdrawal_Application</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>AVO_Withdrawals__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>General Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Ground_Water_Withdrawal_Application</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Variable_for_Record_Detail_Component</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Attestation_Flow</name>
        <label>Attestation Flow</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_Permit_To_Withdrawal_Record_To_Be_Created</targetReference>
        </connector>
        <flowName>AVO_Subflow_Attestation</flowName>
        <inputAssignments>
            <name>Object_API_Name</name>
            <value>
                <elementReference>Withdrawal_API</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Attestation_Consent</assignToReference>
            <name>Attestation_Consent</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>AVO_Permit_Application_Success_Flow_Triggered_by_Success_Flow</name>
        <label>AVO Permit Application Success Flow - Triggered by Success Flow</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <flowName>AVO_Permit_Application_Success_Flow_Triggered_by_Success_Flow</flowName>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Withdrawals_Id</name>
            <value>
                <elementReference>Ground_Water_Withdrawal_Application.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Attestation_Consent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Attestation_Consent__c</objectType>
    </variables>
    <variables>
        <name>Ground_Water_Withdrawal_Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
    <variables>
        <name>Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ground Water Withdrawal Application</stringValue>
        </value>
    </variables>
    <variables>
        <name>Screen_Header</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Withdrawals</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
</Flow>
