force-app/main/default/flows/AVO_Edit_Permit_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Historic_Withdrawal_To_Collection</name>
        <label>Add Historic Withdrawal To Collection</label>
        <locationX>930</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>Historic_Withdrawal_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Parent_Permit_Withdrawals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Parent_Permit_Withdrawals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Submission_Clone_To_Collection</name>
        <label>Add Submission Clone To Collection</label>
        <locationX>930</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>Submission_Copy_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Submissions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Submissions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Historic_Permit_Name</name>
        <label>Assign Historic Permit Name</label>
        <locationX>842</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>To_Get_Permit_Record.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Get_Permit_Record.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>To_Get_Permit_Record.AVO_Historic_Counter__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_Create_Permit_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Historic_Withdrawal</name>
        <label>Assign Historic Withdrawal</label>
        <locationX>930</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Parent_Permit_Withdrawals.AVO_Permit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>To_Get_Permit_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Parent_Permit_Withdrawals.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Parent_Permit_Withdrawals.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>To_Get_Permit_Record.AVO_Historic_Counter__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Historic_Withdrawal_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Permit_Status_In_Transaction</name>
        <label>Assign Parent Permit Status In Transaction</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>To_Get_Permit_Record.MUSW__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Transaction</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Parent_Permit_Historic_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Submission_Clone_To_Historic_Permit</name>
        <label>Assign Submission Clone To Historic Permit</label>
        <locationX>930</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Submissions.MUSW__Permit2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>To_Get_Permit_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Submission_Clone_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_for_Correct_Permit</name>
        <label>Assign values for Correct Permit</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>To_Get_Permit_Record.Permit_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Historic Permit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_Update_Permit_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_For_Correct_Permit_To_Parent_Pemit</name>
        <label>Assign values For Correct Permit To Parent Pemit</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>To_Get_Permit_Record.Permit_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Correct Permit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Previous_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_for_Modify_Permit</name>
        <label>Assign values for Modify Permit</label>
        <locationX>842</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>To_Get_Permit_Record.Permit_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Historic Permit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_Update_Permit_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_For_Modify_Permit_To_Parent_Pemit</name>
        <label>Assign values For Modify Permit To Parent Pemit</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>To_Get_Permit_Record.Permit_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Modify Permit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Previous_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_for_Relinquish_Permit</name>
        <label>Assign values for Relinquish Permit</label>
        <locationX>1106</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>To_Get_Permit_Record.Permit_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Historic Permit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_Update_Permit_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_For_Relinquish_Permit_To_Parent_Pemit</name>
        <label>Assign values For Relinquish Permit To Parent Pemit</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>To_Get_Permit_Record.Permit_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Relinquish Permit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Previous_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_for_Revoke_Permit</name>
        <label>Assign values for Revoke Permit</label>
        <locationX>1370</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>To_Get_Permit_Record.Permit_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Historic Permit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_Update_Permit_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_For_Revoke_Permit_To_Parent_Pemit</name>
        <label>Assign values For Revoke Permit To Parent Pemit</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>To_Get_Permit_Record.Permit_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revoke Permit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Previous_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_For_Transfer_Permit</name>
        <label>Assign values For Transfer Permit</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>To_Get_Permit_Record.Permit_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Historic Permit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_Update_Permit_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_For_Transfer_Permit_To_Parent_Pemit</name>
        <label>Assign values For Transfer Permit To Parent Pemit</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>To_Get_Permit_Record.Permit_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transfer Permit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Previous_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_For_Update_Permit</name>
        <label>Assign values For Update Permit</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>To_Get_Permit_Record.Permit_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Historic Permit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_Update_Permit_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_For_Update_Permit_To_Parent_Pemit</name>
        <label>Assign values For Update Permit To Parent Pemit</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>To_Get_Permit_Record.Permit_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Permit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Previous_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Parent_Permit_Historic_Counter</name>
        <label>Increment Parent Permit Historic Counter</label>
        <locationX>842</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>To_Get_Permit_Record.AVO_Historic_Counter__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_Update_Parent_Permit_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reassign_Previous_Status</name>
        <label>Reassign Previous Status</label>
        <locationX>842</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>To_Get_Permit_Record.MUSW__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Permit_Previous_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Historic_Permit_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Previous_Status</name>
        <label>Save Previous Status</label>
        <locationX>842</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Parent_Permit_Previous_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>To_Get_Permit_Record.MUSW__Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Parent_Permit_Status_In_Transaction</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Correct_Permit_Choice</name>
        <choiceText>Correct Permit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Correct Permit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Modify_Permit_Choice</name>
        <choiceText>Modify Permit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modify Permit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Relinquish_Permit_Choice</name>
        <choiceText>Relinquish Permit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Relinquish Permit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Revoke_Permit_Choice</name>
        <choiceText>Revoke Permit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Revoke Permit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer_Permit_Choice</name>
        <choiceText>Transfer Permit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer Permit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_Permit_Choice</name>
        <choiceText>Update Permit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Permit</stringValue>
        </value>
    </choices>
    <decisions>
        <name>To_Check_Wich_Button_Was_Clicked</name>
        <label>To Check Wich Button Was Clicked</label>
        <locationX>842</locationX>
        <locationY>1694</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_Check_Update_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Permit_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_For_Update_Permit</targetReference>
            </connector>
            <label>To Check Update Permit</label>
        </rules>
        <rules>
            <name>To_Check_Transfer_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfer_Permit_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_For_Transfer_Permit</targetReference>
            </connector>
            <label>To Check Transfer Permit</label>
        </rules>
        <rules>
            <name>To_Correct_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Correct_Permit_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_for_Correct_Permit</targetReference>
            </connector>
            <label>To Check Correct Permit</label>
        </rules>
        <rules>
            <name>To_Check_Modify_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Modify_Permit_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_for_Modify_Permit</targetReference>
            </connector>
            <label>To Check Modify Permit</label>
        </rules>
        <rules>
            <name>To_Check_Relinquish_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Relinquish_Permit_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_for_Relinquish_Permit</targetReference>
            </connector>
            <label>To Check Relinquish Permit</label>
        </rules>
        <rules>
            <name>To_Check_Revoke_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Revoke_Permit_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_for_Revoke_Permit</targetReference>
            </connector>
            <label>To Check Revoke Permit</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_Check_Wich_Button_Was_Clicked_In_Parent_Pemit</name>
        <label>To Check Wich Button Was Clicked In Parent Pemit</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Save_Previous_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_Check_Update_Permit_Is_Clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Permit_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_For_Update_Permit_To_Parent_Pemit</targetReference>
            </connector>
            <label>To Check Update Permit Is Clicked</label>
        </rules>
        <rules>
            <name>To_Check_Transfer_Permit_Is_Clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfer_Permit_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_For_Transfer_Permit_To_Parent_Pemit</targetReference>
            </connector>
            <label>To Check Transfer Permit Is Clicked</label>
        </rules>
        <rules>
            <name>To_Check_Correct_Permit_Is_Clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Correct_Permit_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_For_Correct_Permit_To_Parent_Pemit</targetReference>
            </connector>
            <label>To Check Correct Permit Is Clicked</label>
        </rules>
        <rules>
            <name>To_Check_Modify_Permit_Is_Clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Modify_Permit_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_For_Modify_Permit_To_Parent_Pemit</targetReference>
            </connector>
            <label>To Check Modify Permit Is Clicked</label>
        </rules>
        <rules>
            <name>To_Check_Relinquish_Permit_Is_Clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Relinquish_Permit_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_For_Relinquish_Permit_To_Parent_Pemit</targetReference>
            </connector>
            <label>To Check Relinquish Permit Is Clicked</label>
        </rules>
        <rules>
            <name>To_Check_Revoke_Permit_Is_Clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Revoke_Permit_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_For_Revoke_Permit_To_Parent_Pemit</targetReference>
            </connector>
            <label>To Check Revoke Permit Is Clicked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO Edit Permit Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Edit Permit Button</label>
    <loops>
        <name>Loop_Through_Parent_Permit_Withdrawals</name>
        <label>Loop Through Parent Permit Withdrawals</label>
        <locationX>842</locationX>
        <locationY>2270</locationY>
        <collectionReference>Get_Parent_Permit_Withdrawals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Historic_Withdrawal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Historic_Withdrawals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Submissions</name>
        <label>Loop Through Submissions</label>
        <locationX>842</locationX>
        <locationY>2966</locationY>
        <collectionReference>Get_Submissions_From_Parent_Permit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Submission_Clone_To_Historic_Permit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Submission_Copy</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Historic_Withdrawals</name>
        <label>Create Historic Withdrawals</label>
        <locationX>842</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>Get_Submissions_From_Parent_Permit</targetReference>
        </connector>
        <inputReference>Historic_Withdrawal_Collection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Submission_Copy</name>
        <label>Create Submission Copy</label>
        <locationX>842</locationX>
        <locationY>3422</locationY>
        <connector>
            <targetReference>display_created_id</targetReference>
        </connector>
        <inputReference>Submission_Copy_Collection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>To_Create_Permit_Record</name>
        <label>To Create Permit Record</label>
        <locationX>842</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>To_Check_Wich_Button_Was_Clicked</targetReference>
        </connector>
        <inputReference>To_Get_Permit_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Parent_Permit_Withdrawals</name>
        <label>Get Parent Permit Withdrawals</label>
        <locationX>842</locationX>
        <locationY>2150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Parent_Permit_Withdrawals</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AVO_Permit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ground Water Withdrawal</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Surface Water Withdrawal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AVO_Withdrawals__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submissions_From_Parent_Permit</name>
        <label>Get Submissions From Parent Permit</label>
        <locationX>842</locationX>
        <locationY>2846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Submissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MUSW__Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>To_Get_Permit_Record</name>
        <label>To Get Permit Record</label>
        <locationX>842</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buttons_Display_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>To_Update_Parent_Permit_Record</name>
        <label>To Update Parent Permit Record</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Reassign_Previous_Status</targetReference>
        </connector>
        <inputReference>To_Get_Permit_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>To_Update_Permit_Record</name>
        <label>To Update Permit Record</label>
        <locationX>842</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Get_Parent_Permit_Withdrawals</targetReference>
        </connector>
        <inputReference>To_Get_Permit_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Buttons_Display_Screen</name>
        <label>Buttons Display Screen</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Edit_Permit_Radio_Buttons</name>
            <choiceReferences>Update_Permit_Choice</choiceReferences>
            <choiceReferences>Transfer_Permit_Choice</choiceReferences>
            <choiceReferences>Correct_Permit_Choice</choiceReferences>
            <choiceReferences>Modify_Permit_Choice</choiceReferences>
            <choiceReferences>Relinquish_Permit_Choice</choiceReferences>
            <choiceReferences>Revoke_Permit_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Option:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>To_Check_Wich_Button_Was_Clicked_In_Parent_Pemit</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>&lt;p&gt;Are you sure you want to continue the process? A permit history record will be created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>display_created_id</name>
        <label>display created id</label>
        <locationX>842</locationX>
        <locationY>3542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayId</name>
            <fieldText>&lt;p&gt;The permit history &lt;a href=&quot;/{!To_Get_Permit_Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!To_Get_Permit_Record.Name}&lt;/a&gt; has been successfully created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>To_Get_Permit_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Historic_Withdrawal_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Withdrawals__c</objectType>
    </variables>
    <variables>
        <name>Parent_Permit_Previous_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Submission_Copy_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
</Flow>
