force-app/main/default/flows/AVO_Site_Visit_Report_Intake_Record_Detail_Page.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Site_Visit_Report_Fields</name>
        <label>Assign Site Visit Report Fields</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Report_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Number</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.AVO_Site_Visit_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.MUSW__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.AVO_Permit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Request.AVO_Permit_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.AVO_App_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Request.AVO_App_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.AVO_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Request.AVO_County__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.AVO_Farm_Corp_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Request.AVO_Farm_Corp_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.AVO_Owner_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Request.AVO_Owner_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.AVO_Home_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Request.AVO_Home_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.AVO_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Request.AVO_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.AVO_Compliance_Case_Num__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Request.AVO_Compliance_Case_Num__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.AVO_Case_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Request.AVO_Case_Class__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.AVO_Irrigation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Request.AVO_Irrigation_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.AVO_Irrigation_Type_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Request.AVO_Irrigation_Type_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.AVO_Purpose_of_Water_Use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Request.AVO_Purpose_of_Water_Use__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.AVO_Field_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Request.AVO_Field_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.AVO_Permitted_Acres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Request.AVO_Permitted_Acres__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.AVO_Irrigated_Acres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Request.AVO_Irrigated_Acres__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.AVO_Field_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Request.AVO_Field_Specialist__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.AVO_Verify_Sub_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Request.AVO_Verify_Sub_Class__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.AVO_Verify_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Request.AVO_Verify_Class__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Report_Variable.MUSW__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Site Visit Report</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Page_Layout</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Clariti_Confirmation_Details_Text_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>If any of the information above is incorrect, use the “Previous” button below to navigate to the appropriate section and update the incorrect information.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_Site_Visit_Report_Exist</name>
        <label>Does Site Visit Report Exist?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Site_Visit_Report_Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Site Visit Report Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Site_Visit_Report_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Site_Visit_Report</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Site_Visit_Report_Screen</targetReference>
            </connector>
            <label>Site Visit Report Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Site_Visit_Request_Exist</name>
        <label>Does Site Visit Request Exist?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Not_on_Site_Visit_Request_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Site Visit Request Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Site_Visit_Request_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Site_Visit_Request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Visit_Report</targetReference>
            </connector>
            <label>Site Visit Request Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Screen_Header</name>
        <dataType>String</dataType>
        <expression>&apos;New Site Visit Report&apos;</expression>
    </formulas>
    <interviewLabel>AVO Site Visit Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Site Visit Report Intake Record Detail Page</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Site_Visit_Report</name>
        <label>Create Site Visit Report</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Get_Site_Visit_Report_Name</targetReference>
        </connector>
        <inputReference>Site_Visit_Report_Variable</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Site_Visit_Report</name>
        <label>Get Site Visit Report</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Site_Visit_Report_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site Visit Report</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Site_Visit_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Inspection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Visit_Report_Name</name>
        <label>Get Site Visit Report Name</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Site_Visit_Report_Variable.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Inspection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Visit_Report_Record_Type</name>
        <label>Get Site Visit Report Record Type</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Site_Visit_Report_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MUSW__Inspection__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Site_Visit_Report</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Visit_Request</name>
        <label>Get Site Visit Request</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Site_Visit_Request_Exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site Visit Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Inspection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Site_Visit_Report</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Details</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Inspection__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Site Visit Information, Permit/Owner Info, Compliance Case Info, Irrigation Info, Undocumented Fields, Water Conservation/Irrigation Efficiency Certification Info, Low Flow Protection Plan Info, Comments/Inspector/Date Inspected Section, Additional Reviews</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Site_Visit_Report_Variable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Inspection__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Site_Visit_Report_Variable</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Body</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!Clariti_Confirmation_Details_Text_Label}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_Site_Visit_Report_Screen</name>
        <label>Existing Site Visit Report Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Existing_Site_Visit_Report_Error</name>
            <fieldText>&lt;p&gt;A Site Visit Report has already been created for this Site Visit Request.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_on_Site_Visit_Request_Screen</name>
        <label>Not on Site Visit Request Screen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Page_Layout</name>
        <label>Page Layout</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Site_Visit_Information_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!Screen_Header}&lt;/strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Site_Visit_Information1</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Inspection__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Site Visit Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Site_Visit_Report_Variable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Inspection__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Permit_Owner_Info1</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Inspection__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Permit/Owner Info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Site_Visit_Report_Variable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Inspection__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Withdrawal_Info</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Inspection__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Withdrawal Info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Site_Visit_Report_Variable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Inspection__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Meter_Telemetry_Information</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Inspection__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Meter &amp; Telemetry Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Site_Visit_Report_Variable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Inspection__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Compliance_Case</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Inspection__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Compliance Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Site_Visit_Report_Variable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Inspection__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Comments1</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Inspection__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Comments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Site_Visit_Report_Variable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Inspection__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Additional_Review</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Inspection__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Additional Review</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Site_Visit_Report_Variable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Inspection__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Additional_Information1</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Inspection__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Additional Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Site_Visit_Report_Variable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Inspection__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Irrigation_Info</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Inspection__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>1. Irrigation Info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Site_Visit_Report_Variable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Inspection__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Undocumented_Fields</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Inspection__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>2. Undocumented Fields </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Site_Visit_Report_Variable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Inspection__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Water_Conservation_Info</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Inspection__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>3. Water Conservation/Irrigation Efficiency Certification Info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Site_Visit_Report_Variable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Inspection__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Low_Flow_Protection_plan_Info</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Inspection__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>4. Low Flow Protection Plan Info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Site_Visit_Report_Variable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Inspection__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Well_Construction_Inspection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Inspection__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>5. Well Construction Inspection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Site_Visit_Report_Variable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Inspection__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Well_Plug_Abandon_Inspection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Inspection__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>6. Well Plug and Abandon Inspection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Site_Visit_Report_Variable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Inspection__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Site_Visit_Report_Confirmation_Screen</name>
        <label>Site Visit Report Confirmation Screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Site_Visit_Report_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Site_Visit_Report_Confirmation_Message</name>
            <fieldText>&lt;p&gt;To create a Site Visit Report for this Site Visit Request, click Next.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;The Site Visit Report {!Get_Site_Visit_Report_Name.Name} has been successfully created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Site_Visit_Request</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Additional_Information_Collection_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Inspection__c</objectType>
    </variables>
    <variables>
        <description>Another collection variable to hold additional information records with site visit report parent link</description>
        <name>Additional_Information_Collection_Variable_2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Inspection__c</objectType>
    </variables>
    <variables>
        <name>Additional_Information_Size</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Additional_Information_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Inspection__c</objectType>
    </variables>
    <variables>
        <name>Empty_Inspection_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Inspection__c</objectType>
    </variables>
    <variables>
        <name>Photos_Submission_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Requester_Review_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Review__c</objectType>
    </variables>
    <variables>
        <name>Site_Visit_Report_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Inspection__c</objectType>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
