force-app/main/default/flows/AVO_Update_Withdrawal_Name_When_created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Withdrawal_Ground_Water_Record_Count</name>
        <label>Withdrawal Ground Water Record Count</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>GroundWaterWithdrawalCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Related_Ground_Water_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Ground_Water_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Withdrawal_Surface_Water_Record_Count</name>
        <label>Withdrawal Surface Water Record Count</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>SurfaceWaterWithdrawalCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Related_Surface_Water_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Surface_Water_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Withdrawal_Type</name>
        <label>Check for Withdrawal Type</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ground_Water</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ground Water Withdrawal Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Ground_Water_Record</targetReference>
            </connector>
            <label>Ground Water</label>
        </rules>
        <rules>
            <name>Surface_Water</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVO_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surface Water Withdrawal Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Surface_Water_Record</targetReference>
            </connector>
            <label>Surface Water</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>WithdrawalName</name>
        <dataType>String</dataType>
        <expression>{!$Record.AVO_Permit__r.AVO_AppID__c}</expression>
    </formulas>
    <interviewLabel>AVO Update Withdrawal Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Update Withdrawal Name When created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Ground_Water_Record</name>
        <label>Get Related Ground Water Record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Withdrawal_Ground_Water_Record_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ground Water Withdrawal Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Permit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Permit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AVO_Withdrawals__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Surface_Water_Record</name>
        <label>Get Related Surface Water Record</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Withdrawal_Surface_Water_Record_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Surface Water Withdrawal Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Permit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Permit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AVO_Withdrawals__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Ground_Water_Name</name>
        <label>Update Ground Water Name</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!WithdrawalName}G_{!GroundWaterWithdrawalCount}</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Permit_Record</name>
        <label>Update Permit Record</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Check_for_Withdrawal_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AVO_Permit__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Permit_Type__c</field>
            <value>
                <stringValue>Well to Pond</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Surface_Water_Name</name>
        <label>Update Surface Water Name</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!WithdrawalName}S_{!SurfaceWaterWithdrawalCount}</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Permit_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ground Water Withdrawal Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Surface Water Withdrawal Application</stringValue>
            </value>
        </filters>
        <object>AVO_Withdrawals__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>GroundWaterWithdrawalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SurfaceWaterWithdrawalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
