force-app/main/default/flows/AVO_Site_Visit_Request_Button_Meter_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Field_Specialist</name>
        <label>Assign Field Specialist</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.AVO_Field_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit_Record.AVO_County_Lookup__r.AVO_Field_Specialist__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit_Record.AVO_County_Lookup__r.AVO_Field_Specialist__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Site_Visit_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Site_Visit_Request_Fields</name>
        <label>Assign Site Visit Request Fields</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Visit_Request_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.MUSW__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Site Visit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Number</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.AVO_Meter_Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.AVO_Permit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.AVO_App_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit_Record.AVO_App_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.AVO_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit_Record.AVO_County_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.AVO_Farm_Corp_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit_Record.AVO_Property_Owner__r.AVO_Farm_Corp_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.AVO_Home_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit_Record.AVO_Property_Owner__r.HomePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.AVO_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit_Record.AVO_Property_Owner__r.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.AVO_Owner_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Name_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.AVO_Irrigation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit_Record.AVO_Irrigation_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.AVO_Irrigation_Type_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit_Record.AVO_Other_Irrigation_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.AVO_Purpose_of_Water_Use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit_Record.AVO_Purpose_of_Water_Use__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.AVO_Field_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit_Record.AVO_Name_of_Field_Irr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.AVO_Permitted_Acres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit_Record.AVO_Permitted_Acres__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.AVO_Irrigated_Acres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permit_Record.AVO_Irrigated_Acres_under_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Visit_Request_Variable.AVO_MOSID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_MOSID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Site_Visit_Request_Input_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Bypass_Auto_Allocate</name>
        <label>Check Bypass Auto Allocate</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_Field_Specialist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Bypass Auto Allocate</defaultConnectorLabel>
        <rules>
            <name>Bypass_Auto_Allocate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Site_Visit_Request_Variable.AVO_Bypass_Auto_Allocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Site_Visit_Request</targetReference>
            </connector>
            <label>Bypass Auto Allocate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_County_field_in_Permit_filled</name>
        <label>Is County field in Permit filled?</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>No_County_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>County field is not field</defaultConnectorLabel>
        <rules>
            <name>County_field_is_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permit_Record.AVO_County_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Visit_Request_Record_Type</targetReference>
            </connector>
            <label>County field is filled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Owner_Name_Formula</name>
        <dataType>String</dataType>
        <expression>{!Get_Permit_Record.AVO_Property_Owner__r.FirstName} &amp; &apos; &apos; &amp; {!Get_Permit_Record.AVO_Property_Owner__r.LastName}</expression>
    </formulas>
    <interviewLabel>AVO Site Visit Request Button - Meter Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Site Visit Request Button - Meter Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Site_Visit_Request</name>
        <label>Create Site Visit Request</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Site_Visit_Request_Variable</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Meter_Application</name>
        <label>Get Meter Application</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permit_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permit_Record</name>
        <label>Get Permit Record</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_County_field_in_Permit_filled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Meter_Application.AVO_Permit_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Visit_Request_Record_Type</name>
        <label>Get Site Visit Request Record Type</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Site_Visit_Request_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MUSW__Inspection__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Site_Visit_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_County_Screen</name>
        <label>No County Screen</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_County_Message</name>
            <fieldText>&lt;p&gt;The current meter&apos;s permit has no county associated with it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Site_Visit_Request_Confirmation_Screen</name>
        <label>Site Visit Request Confirmation Screen</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Meter_Application</targetReference>
        </connector>
        <fields>
            <name>Site_Visit_Request_Confirmation_Message</name>
            <fieldText>&lt;p&gt;Are you sure you wish to create a Site Visit Request? A Site Visit Request record will be created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Site_Visit_Request_Input_Screen</name>
        <label>Site Visit Request Input Screen</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Bypass_Auto_Allocate</targetReference>
        </connector>
        <fields>
            <name>Information_Details</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Inspection__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Site_Visit_Request_Variable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Inspection__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Site_Visit_Request_Variable</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;A new Site Visit Request record has been created. Click &lt;a href=&quot;/{!Site_Visit_Request_Variable.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; to open it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Site_Visit_Request_Confirmation_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Site_Visit_Request_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Inspection__c</objectType>
    </variables>
</Flow>
