force-app/main/default/flows/AVO_Compliance_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_the_value</name>
        <label>Assign the value</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Picklist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelecttheStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Compliance</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Statuspicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_CompStatus__c</picklistField>
        <picklistObject>AVO_Compliance__ChangeEvent</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>AVO Compliance Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Compliance Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_the_Compliance</name>
        <label>Update the Compliance</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>AVO_CompStatus__c</field>
            <value>
                <elementReference>Picklist</elementReference>
            </value>
        </inputAssignments>
        <object>AVO_Compliance__c</object>
    </recordUpdates>
    <screens>
        <name>Select_Screen</name>
        <label>Select Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_the_value</targetReference>
        </connector>
        <fields>
            <name>SelecttheStatus</name>
            <choiceReferences>Statuspicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Picklist</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
