force-app/main/default/flows/AVO_New_AG_Water_Metering_Installation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_AG_Water_Metering_Installation_Fields</name>
        <label>Assign AG Water Metering Installation Fields</label>
        <locationX>1238</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>meterInstallationVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AG_Water_Metering_Installation_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AG Water Metering Installation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Permit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Permit_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_County__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Source_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Source_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Meter_Geolocation__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Meter_Geolocation__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Meter_Geolocation__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Meter_Geolocation__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Meter_Serial_Number_MSN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Meter_Serial_Number_MSN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Meter_Site_ID_MSID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Meter_Site_ID_MSID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Outside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Outside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Inside_Pipe_Diam_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Inside_Pipe_Diam_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Meter_Is_Battery_Driven__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Meter_Is_Battery_Driven__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Make__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Make__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Model__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Withdrawal_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Withdrawal_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Applicant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Disposal_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Disposal_Approved__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Meter_On_Site_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Meter_On_Site_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Inventory_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Meter_ID__r.AVO_Inventory_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Current_Meter_Reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Meter_ID__r.AVO_Meter_Last_Read_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Meter_Mounting_Orientation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Meter_ID__r.AVO_Meter_Orientation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Unit_Of_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Unit_Of_Measure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Irrigation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Irrigation_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Irrigation_Type_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Irrigation_Type_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Meter_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Meter_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Meter_Location_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Meter_Location_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Pipe_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Pipe_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Pipe_Type_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Pipe_Type_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Pipe_Length_Upstream_0_200__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Pipe_Length_Upstream_0_200__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Pipe_Length_Downstream_0_200__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Pipe_Length_Downstream_0_200__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Pipe_Down_UOM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Pipe_Down_UOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Pipe_Up_UOM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Pipe_Up_UOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Vanes_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Vanes_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Flow_Straightener_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Flow_Straightener_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Installed_Per_Specification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Installed_Per_Specification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Crop_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Crop_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Other_Crop_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Other_Crop_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Installation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Installation_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Date_Signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Date_Signed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Source_Withdrawal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Source_Withdrawal_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Name_Of_Installer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Name_Of_Installer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Meter_Maintenance_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pending_Maintenance_Lookup.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Installer_Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Form.AVO_Installer_Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Meter_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Installation_Type</name>
        <label>Assign Installation Type</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Installation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Battery Replacement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Approval_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Id</name>
        <label>Assign Meter Id</label>
        <locationX>1238</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Meter_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Meter_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Meter_Installation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Meter_Id_To_Variable</name>
        <label>Assign Meter Id To Variable</label>
        <locationX>1238</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>meterId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Meter_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Maintenance_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Old_Meter_Name</name>
        <label>Assign Old Meter Name</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Old_Meter_Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Old_Meter_ID__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Meter_Id_To_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Installation_Type</name>
        <label>Copy 1 of Assign Installation Type</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Installation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Replacement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Old_Meter_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Meter_Id_To_Variable</name>
        <label>Copy 1 of Assign Meter Id To Variable</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>meterId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Request.AVO_Old_Meter_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Approval_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Installation_Type</name>
        <label>Copy 2 of Assign Installation Type</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Installation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Installation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Approval_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Installation_Type</name>
        <label>Copy 3 of Assign Installation Type</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Installation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Site Repair</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Approval_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Installation_Type</name>
        <label>Copy 4 of Assign Installation Type</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>meterInstallationVar.AVO_Installation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retrieval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Approval_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Site_Visit_Only_Checkbox_and_Status</name>
        <label>Set Site Visit Only Checkbox and Status</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Get_Maintenance_Request.AVO_Site_Visit_Only__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Maintenance_Request.AVO_Maintenance_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Site Visit Only</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Maintenance_Request</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>newMeterInstallationChoice</name>
        <choiceText>{!newInstallationFormula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>newInstallationFormula</elementReference>
        </value>
    </choices>
    <choices>
        <name>siteVisitOnlyChoice</name>
        <choiceText>Site Visit Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Site Visit Only</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Site_Visit_Only</name>
        <label>Check Site Visit Only</label>
        <locationX>644</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Meter_Id_To_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Site Visit Only Not Selected</defaultConnectorLabel>
        <rules>
            <name>Site_Visit_Only_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>siteVisitOnlyChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Visit_Notes_Screen</targetReference>
            </connector>
            <label>Site Visit Only Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Maintenance_Type</name>
        <label>Evaluate Maintenance Type</label>
        <locationX>1238</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Get_Approval_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Battery_Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Maintenance_Request.AVO_Maintenance_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Battery Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Installation_Type</targetReference>
            </connector>
            <label>Battery Replacement</label>
        </rules>
        <rules>
            <name>Meter_Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Maintenance_Request.AVO_Maintenance_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Installation_Type</targetReference>
            </connector>
            <label>Meter Replacement</label>
        </rules>
        <rules>
            <name>New_Installation_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Maintenance_Request.AVO_Maintenance_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Installation Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Installation_Type</targetReference>
            </connector>
            <label>New Installation Maintenance</label>
        </rules>
        <rules>
            <name>On_Site_Repair</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Maintenance_Request.AVO_Maintenance_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Site Repair</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Installation_Type</targetReference>
            </connector>
            <label>On Site Repair</label>
        </rules>
        <rules>
            <name>Retrieval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Maintenance_Request.AVO_Maintenance_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retrieval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Installation_Type</targetReference>
            </connector>
            <label>Retrieval</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Maintenance_Type_PCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AVO_Maintenance_Type__c</picklistField>
        <picklistObject>AVO_Meter_Transaction__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>maintenanceCCS</name>
        <collectionReference>Get_Relevant_Maintenance_Requests</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>AVO_Meter_Transaction__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>createLinkFormula</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/o/AVO_Meter_Transaction__c/new?count=1&amp;recordTypeId=&quot;+ {!Get_AG_Water_Metering_Installation_Record_Type.Id} + &quot;&amp;nooverride=1&quot; + &quot;&amp;defaultFieldValues=Name=System%20Number&quot;</expression>
    </formulas>
    <formulas>
        <name>newInstallationFormula</name>
        <dataType>String</dataType>
        <expression>&quot;New &quot; + TEXT({!Get_Maintenance_Request.AVO_Maintenance_Type__c})</expression>
    </formulas>
    <interviewLabel>AVO New AG Water Metering Installation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO New AG Water Metering Installation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Meter_Installation</name>
        <label>Create Meter Installation</label>
        <locationX>1238</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Update_Maintenance_Request_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>meterInstallationVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_AG_Water_Metering_Installation_Record_Type</name>
        <label>Get AG Water Metering Installation Record Type</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Relevant_Maintenance_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AVO_Meter_Transaction__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AG_Water_Metering_Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approval_Form</name>
        <label>Get Approval Form</label>
        <locationX>1238</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AG_Water_Metering_Installation_Fields</targetReference>
        </connector>
        <filterLogic>2 AND (1 OR 3 OR 4)</filterLogic>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agricultural Flow Meter Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Meter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>meterId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Replacement Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AG Water Metering Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Transaction__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Maintenance_Request</name>
        <label>Get Maintenance Request</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Installation_Or_Site_Visit_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pending_Maintenance_Lookup.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AVO_Meter_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Relevant_Maintenance_Requests</name>
        <label>Get Relevant Maintenance Requests</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AVO_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Maintenance Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Maintenance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Specialist Allocation</stringValue>
            </value>
        </filters>
        <filters>
            <field>AVO_Maintenance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Allocated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AVO_Meter_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Maintenance_Request</name>
        <label>Update Maintenance Request</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Site_Visit_Only_Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Maintenance_Request</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Maintenance_Request_Status</name>
        <label>Update Maintenance Request Status</label>
        <locationX>1238</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pending_Maintenance_Lookup.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Maintenance_Status__c</field>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </inputAssignments>
        <object>AVO_Meter_Transaction__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>2338</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Body</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Maintenance_Request</targetReference>
        </connector>
        <fields>
            <name>Pending_Maintenance_Lookup</name>
            <choiceReferences>maintenanceCCS</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Pending Maintenance Requests</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Select Maintenance Request...</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Installation_Or_Site_Visit_Screen</name>
        <label>New Installation Or Site Visit Screen</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Site_Visit_Only</targetReference>
        </connector>
        <fields>
            <name>Meter_Installation_Radio</name>
            <choiceReferences>newMeterInstallationChoice</choiceReferences>
            <choiceReferences>siteVisitOnlyChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!newInstallationFormula} or Site Visit Only?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Site_Visit_Notes_Screen</name>
        <label>Site Visit Notes Screen</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Site_Visit_Only_Checkbox_and_Status</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Maintenance_Request.AVO_Site_Visit_Notes__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Site_Visit_Only_Success_Screen</name>
        <label>Site Visit Only Success Screen</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Site_Visit_Only_Body</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The selected maintenance request has been marked for site visit only. Please &lt;/span&gt;&lt;a href=&quot;/{!Pending_Maintenance_Lookup.selectedChoiceValues}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;click here&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; to view it.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1238</locationX>
        <locationY>1946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Body</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Your AG Water Metering Installation has been successfully created. Please &lt;/span&gt;&lt;a href=&quot;/{!meterInstallationVar.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;click here&lt;/a&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; to view it.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_AG_Water_Metering_Installation_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>maintenanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>meterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>meterInstallationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AVO_Meter_Transaction__c</objectType>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
