force-app/main/default/flows/AVO_Permit_Application_Success_Flow_Triggered_by_Success_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_To_Cart</name>
        <label>Navigate to Cart</label>
        <locationX>883</locationX>
        <locationY>1941</locationY>
        <actionName>clariti:flowNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageURL</name>
            <value>
                <elementReference>Cart_Page_Reference</elementReference>
            </value>
        </inputParameters>
        <nameSegment>clariti:flowNavigation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>This Action element navigates to the Record Detail Page of the current Record using its Record Id.</description>
        <name>Navigate_to_Record_Detail</name>
        <label>Navigate to Record Detail</label>
        <locationX>1052</locationX>
        <locationY>1929</locationY>
        <actionName>clariti:flowNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>clariti:flowNavigation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Application_Record_Detail_Page</name>
        <label>Assign Application Record Detail Page</label>
        <locationX>1106</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>Record_Detail_Page_Base_URL</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>application2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Submission_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Permit_Record_Detail_Page</name>
        <label>Assign Permit Record Detail Page</label>
        <locationX>673</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>Record_Detail_Page_Base_URL</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>permit2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Submission_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Withdrawals_Record_Detail_Page</name>
        <label>Assign Withdrawals Record Detail Page</label>
        <locationX>883</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>Record_Detail_Page_Base_URL</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>withdrawals2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Withdrawals_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Submission_Records</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Stores the relative URL to the community&apos;s Cart page.</description>
        <name>Cart_Page_Reference</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/cart?payable=</stringValue>
        </value>
    </constants>
    <constants>
        <name>Status_Value</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </constants>
    <decisions>
        <description>This decision element evaluates which navigation button the user has clicked on.</description>
        <name>Evaluate_Navigation_Decision</name>
        <label>Evaluate Navigation Decision</label>
        <locationX>877</locationX>
        <locationY>1696</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_Record_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Finish</defaultConnectorLabel>
        <rules>
            <name>Submit_Documents</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Navigation_Buttons_Submissions_Only.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submit Documents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Navigation_Buttons_Fees_And_Submissions.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submit Documents</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Submission_Requests_Subflow</targetReference>
            </connector>
            <label>Submit Documents</label>
        </rules>
        <rules>
            <name>Pay_Fees</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Navigation_Buttons_Fees_Only.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pay Now</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Navigation_Buttons_Fees_And_Submissions.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pay Now</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_To_Cart</targetReference>
            </connector>
            <label>Pay Fees</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision element evaluates the object type intended for this Application Success flow by checking which input Record Id was provided (Permit_Id, License_Id, or Application_Id).</description>
        <name>Evaluate_Object_Type</name>
        <label>Evaluate Object Type</label>
        <locationX>874</locationX>
        <locationY>160</locationY>
        <defaultConnector>
            <targetReference>Fault_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Id Not Provided</defaultConnectorLabel>
        <rules>
            <name>Permit_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permit_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permit_Name</targetReference>
            </connector>
            <label>Permit Object</label>
        </rules>
        <rules>
            <name>Withdrawals_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Withdrawals_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Withdrawals_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Withdrawals_Name</targetReference>
            </connector>
            <label>Withdrawals Object</label>
        </rules>
        <rules>
            <name>Application_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Application_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Application_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Application_Name</targetReference>
            </connector>
            <label>Application Object</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO Permit Application Success Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO Permit Application Success Flow - Triggered by Success Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Application_Name</name>
        <label>Get Application Name</label>
        <locationX>1106</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Application_Record_Detail_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application_Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <outputAssignments>
            <assignToReference>Record_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Fee_Records</name>
        <label>Get Fee Records</label>
        <locationX>882</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__License2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Fee__c</object>
        <outputReference>Fee_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Amount__c</queriedFields>
        <queriedFields>MUSW__Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Permit_Name</name>
        <label>Get Permit Name</label>
        <locationX>674</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Permit_Record_Detail_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Permit_Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <outputAssignments>
            <assignToReference>Record_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Submission_Records</name>
        <label>Get Submission Records</label>
        <locationX>882</locationX>
        <locationY>662</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Fee_Records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__License2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Submission__c</object>
        <outputReference>Submissions_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MUSW__Required__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Withdrawals_Name</name>
        <label>Get Withdrawals Name</label>
        <locationX>883</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Withdrawals_Record_Detail_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Withdrawals_Id</elementReference>
            </value>
        </filters>
        <object>AVO_Withdrawals__c</object>
        <outputAssignments>
            <assignToReference>Record_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>1686</locationX>
        <locationY>532</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Something went wrong with this flow.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Contact us and include any error messages you see.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>886</locationX>
        <locationY>1173</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Evaluate_Navigation_Decision</targetReference>
        </connector>
        <fields>
            <name>Header_Success</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;New {!Record_Type_Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Success&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Body_Success</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Your {!Record_Type_Name} Application has been submitted. Your reference number is&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Record_Name}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Body_Submissions_Only</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Before your application can be reviewed, please upload your required documentation as indicated below by clicking the “Submit Documents” button.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Fee_Records</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Submission_Records</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Body_Fees_Only</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Before your application can be reviewed, please pay for any fees owing as indicated below. You may pay these fees by clicking &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Pay Now&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Fee_Records</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Submission_Records</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Body_Submissions_And_Fees</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Before your application can be reviewed, please upload your required documentation and pay for any fees owing as indicated below. You can submit your documentation by clicking &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Submit Documents&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; below. You may pay these fees by clicking &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Pay Now&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Fee_Records</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Submission_Records</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Submissions_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Submission__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:customDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>MUSW__Submission__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Submissions_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,MUSW__Required__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Submissions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Submission_Records</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fees_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Fee__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:customDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>MUSW__Fee__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Fee_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>MUSW__Type__c,MUSW__Amount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Fees</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Fee_Records</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Navigation_Buttons_Fees_Only</name>
            <extensionName>clariti:flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <stringValue>no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiselect</name>
                <value>
                    <stringValue>no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Pay Now&quot;,&quot;value&quot;:&quot;Pay Now&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Finish&quot;,&quot;value&quot;:&quot;Finish&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Submission_Records</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Fee_Records</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Navigation_Buttons_Submissions_Only</name>
            <extensionName>clariti:flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <stringValue>no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiselect</name>
                <value>
                    <stringValue>no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Submit Documents&quot;,&quot;value&quot;:&quot;Submit Documents&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Finish&quot;,&quot;value&quot;:&quot;Finish&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Submission_Records</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Fee_Records</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Navigation_Buttons_Fees_And_Submissions</name>
            <extensionName>clariti:flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <stringValue>no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiselect</name>
                <value>
                    <stringValue>no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Pay Now&quot;,&quot;value&quot;:&quot;Pay Now&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Submit Documents&quot;,&quot;value&quot;:&quot;Submit Documents&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Finish&quot;,&quot;value&quot;:&quot;Finish&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Submission_Records</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Fee_Records</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Navigation_Buttons_Finish_Only</name>
            <extensionName>clariti:flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <stringValue>no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiselect</name>
                <value>
                    <stringValue>no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Finish&quot;,&quot;value&quot;:&quot;Finish&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Submission_Records</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Fee_Records</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>clariti__Application_Success</sourceTemplate>
    <start>
        <locationX>756</locationX>
        <locationY>2</locationY>
        <connector>
            <targetReference>Evaluate_Object_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Upload_Submission_Requests_Subflow</name>
        <label>Upload Submission Requests Subflow</label>
        <locationX>706</locationX>
        <locationY>1943</locationY>
        <flowName>AVO_Upload_Submission_Requests</flowName>
        <inputAssignments>
            <name>Application_Id</name>
            <value>
                <elementReference>Application_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>License_Id</name>
            <value>
                <elementReference>Withdrawals_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Permit_Id</name>
            <value>
                <elementReference>Permit_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Application_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Fee_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Fee__c</objectType>
    </variables>
    <variables>
        <name>Permit_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Detail_Page_Base_URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Id of the application Object (Permit, License, Application)</description>
        <name>Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Submissions_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
    <variables>
        <name>Withdrawals_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
