force-app/main/default/flows/AVO_AWWA_Permit_Approval_Step_5_Review_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_File_via_SignNow</name>
        <label>Send File via SignNow</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <actionName>cuda_signnow__SendFileByIdController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fileId</name>
            <value>
                <elementReference>documentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>snDocumentFlowId</name>
            <value>
                <numberValue>217.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>cuda_signnow__SendFileByIdController</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Document_ID</name>
        <label>Assign Document ID</label>
        <locationX>270</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>documentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_CDLs.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_CDLs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_documentId_empty</name>
        <label>Check documentId empty</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>documentId empty</defaultConnectorLabel>
        <rules>
            <name>documentId_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>documentId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_File_via_SignNow</targetReference>
            </connector>
            <label>documentId not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Withdrawal_document</name>
        <label>Check for Withdrawal document</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_CDLs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not withdrawal document</defaultConnectorLabel>
        <rules>
            <name>Withdrawal_document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_CDLs.ContentDocument.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Single_or_Multiple_Withdrawal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Document_ID</targetReference>
            </connector>
            <label>Withdrawal document</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AVO AWWA Permit Approval - Step 5 Review Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AVO AWWA Permit Approval - Step 5 Review Creation</label>
    <loops>
        <name>Loop_Through_CDLs</name>
        <label>Loop Through CDLs</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Permit_CDLs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Withdrawal_document</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_documentId_empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Step_5_Director_Approval_Review</name>
        <label>Create Step 5 - Director Approval Review</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Permit_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>MUSW__Permit2__c</field>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Type__c</field>
            <value>
                <stringValue>Step 5 - Director Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Director_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Director_Queue</name>
        <label>Get Director Queue</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Step_5_Director_Approval_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Director</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permit_CDLs</name>
        <label>Get Permit CDLs</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_CDLs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Step_5_Director_Approval</name>
        <label>Get Step 5 - Director Approval</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Director_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Step 5 - Director Approval</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Master_Review_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Permit_Fields</name>
        <label>Update Permit Fields</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Permit_CDLs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AVO_Approval_Step__c</field>
            <value>
                <elementReference>Get_Step_5_Director_Approval.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Director_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Step_5_Director_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Step 4 - Deputy Director Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MUSW__Review__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>documentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
